.cct-section {
    border: 1px solid #fbaf3f;
    padding: 1em;
    padding-top: 0.5em;
}
.cct-section label {
    margin-top:0.75em;
}
.cct-section label span {
    color:red;
}
.cct-spacing-top {
  margin-top: 1.2em;
}
.cct-map_canvas {
    min-height:20em;
}
#cct_parent span{
    display:block;
}
#cct_parent .store-nm {
    font-weight:600;
    font-size:.9375rem;
}
.cct-pad-btm {
    padding-bottom:0.5em;
}
.cct-pad-top {
    padding-top:0.5em;
}
 @media only screen and (max-width: 414px) {
  .xs-column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }