.ctc-required-field:after {
    content: "*";
    display: inline-block;
    padding-left: 5px;
    font-weight: bolder;
    color: #b94a48;
}

.text-align-left {
    text-align: left;
}

.ctc-form-section {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.val-error-msg {
    color: #b94a48;
    margin-left: 5px;
    display: inline-block;
    margin-top: 5px;
}

