@using ACRHelix.Feature.Navigation.Constants;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Navigation.ViewModels.RHECMainNavbarViewModel>

<ul>
    @foreach (var menu in Model.NavigationItems)
    {
        <li>
            <a href="@menu.URL" target="@menu.Target">@menu.Title</a>
        </li>              
    }
</ul>
