span.field-validation-error {
    color: #b94a48;
    font-weight: bold;
    display: inline-block;
    padding-top: 5px;
}
 
.field-validation-valid {
    display: none;
}
 
input.input-validation-error {
    border: 1px solid #b94a48;
}

.required:after {
    content: "*";
    display: inline-block;
    padding-left: 5px;
    color: #b94a48;
    font-weight: bold;
}


.select-options {
        height: 210px;
        overflow-y: auto;
}
 
/*input[type="checkbox"].input-validation-error {
    border: 0 none;
}*/
 
/*.validation-summary-errors {
    color: #b94a48;
}
 
.validation-summary-valid {
    display: none;
}*/
