/*.bannerBlock {
    background: url(../../images/ImageWisely/main-page-bg.png)right top #406a83 no-repeat;
    color: #fff;
}
.bannerBlock section {
    padding: 16px;
}*/

    /*.readyPlege .background-Img {
        display: block;
        position: absolute;
        width: 100%;
        height: 60.5px;
        background: url(../../images/ImageWisely/dropdwn-bg.png)center top no-repeat;
    }*/

    @font-face { font-family: 'icomoon'; src: url(/fonts/icomoon.eot?hhoyhr); src: url(/fonts/icomoon.eot?hhoyhr#iefix) format('embedded-opentype'), url(/fonts/icomoon.ttf?hhoyhr) format('truetype'), url(/fonts/icomoon.woff?hhoyhr) format('woff'), url(/fonts/icomoon.svg?hhoyhr#icomoon) format('svg'); font-weight: normal; font-style: normal; }
        
    .header-title{
        color: #164c82;
    }
    .news-head-a{
        border:none;
        
    }
    .lst-heading h2 {
        margin-bottom: 15px;
        color: #154d80;
    }

    .img-with-title {
        background: #A52F01;
        min-height: 35px; 
        position: relative;
        top: -12px;
        padding-bottom: 2px;
        padding-top: 5px;
        text-align:center;
        width: 60%;
        margin: 0 auto;
    }
    .img-with-title h1 {
        color: white;
        font-weight: 500;
        font-size: 30px;
    }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
 .img-with-title {
        padding-top: 8px;
        width: 90%;
        top:-16px;
    }
    .img-with-title h1 {        
        font-size: 20px;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 736px) {
 .img-with-title {
        padding-top: 8px;
        width: 80%;
        top:-16px;
    }
    .img-with-title h1 {        
        font-size: 22px;
    }
}

@media only screen and (min-device-width: 737px) and (max-device-width: 812px) {
 .img-with-title {
        width: 70%;
        padding-top:8px;
    }
    .img-with-title h1 {        
        font-size: 25px;
    }
}

.art-header h1 {
    font-size:46px;
    color:#164c82;
    font-weight:400;
}

.art-redheader h1 {
    font-size:46px;
    font-weight:400;
    color:#a52f01; 
    margin-top: 5px;
    margin-bottom: 10px;
}

.art-header h2 {
    font-size:36px;
    color:#164c82;
    font-weight:400;
}

.art-redheader h2 {
    font-size:36px;
    font-weight:400;
    color:#a52f01;
}

.art-header h3 {
    font-size:26px;
    color:#1b64a5;
    font-weight:400;
}

.art-redheader h3 {
    color:#a52f01;
    font-size:26px;
    font-weight:400;
}

.art-header p {
    font-family: 'Open Sans', sans-serif;
    color:#363636;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 0;
}
.art-header a:after{ 
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: baseline;
    line-height: 1;
  content: "\e908"; font-size: 1rem; 
}
.art-redheader a:after{
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: baseline;
    line-height: 1;
  content: "\e908"; font-size: 1rem; 
}

.slick-arrow:after {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: baseline;
    line-height: 1;
    content: "\e908"; 
    font-size: 1rem;
}  

@media only screen and (max-device-width:600px){
    .art-redheader img{
        display:none;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 1023px) {
    .art-header h1 {
        font-size:26px;
    }
    .art-redheader h1 {
        font-size:26px;
    }
    
    .art-header h2 {
        font-size:20px;   
    }
    
    .art-redheader h2 {
        font-size:20px;
    }
    
    .art-header h3 {
        font-size:16px;
    }
    
    .art-redheader h3 {
        font-size:16px;
    }
}


@media only screen and (max-device-width: 1024px){
  .art-header h1 {
        font-size:36px;
    }
    .art-redheader h1 {
        font-size:36px;
    }
    
    .art-header h2 {
        font-size:26px;   
    }
    
    .art-redheader h2 {
        font-size:26px;
    }
    
    .art-header h3 {
        font-size:20px;
    }
    
    .art-redheader h3 {
        font-size:20px;
    }
}

@media (max-width: 769px) {
    .RSNA-block .news-head-a .pull-left {   
        float: left!important;
    }
    
    .RSNA-block .text-center-mobile {
        text-align: left;
    }
    
    .RSNA-block .news-head-a .pull-left img {
        margin-right:20px;
        margin-bottom:0;
    }
    
    .RSNA-block .text-center-mobile .pull-right {
        float: right!important;
    }
    .RSNA-block .news-head-a a.pull-right {
        float: right!important;
    }
    .RSNA-block .news-head-a .btn {
        top: 20px;
        right: 20px;
    }

}

@media (max-width: 639px) {
    .RSNA-block .news-head-a .pull-left img {
        display:none;
    }
    
    .RSNA-block .text-center-mobile {
        text-align: center;
    }
    
    .RSNA-block .text-center-mobile .pull-right {
        float: none!important;
    }
    .RSNA-block .text-center-mobile .pull-right {
        float: none!important;
    }
    .RSNA-block .news-head-a a.pull-right {
        float: none!important;
    }
    .RSNA-block .news-head-a .btn {
        top: -10px;
        right: 0;
    }
    .RSNA-block .tag-h2-red {
        padding-left: 5px;
    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* iPad 3 (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPad 3 (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
























