/*#slick slider main#*/

.slick-list, .slick-slider, .slick-track { position: relative; display: block }
.slick-loading .slick-slide, .slick-loading .slick-track { visibility: hidden }
.slick-slider { -moz-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent }
.slick-list { overflow: hidden; margin: 0; padding: 0 }
.slick-list:focus { outline: 0 }
.slick-list.dragging { cursor: pointer; cursor: hand }
.slick-slider .slick-list, .slick-slider .slick-track { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0) }
.slick-track { top: 0; left: 0 }
.slick-track:after,  .slick-track:before { display: table; content: '' }
.slick-track:after { clear: both }
.slick-slide { display: block; float: left; height: 100%; min-height: 1px }
[dir=rtl] .slick-slide { float: right }
.slick-slide img { display: block }
.slick-slide.slick-loading img { display: none }
.slick-slide.dragging img { pointer-events: none }
.slick-initialized .slick-slide { display: block; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent }

/*#slider dots#*/

.slick-dots { display: inline-block; width: 100%; list-style: none; text-align: center; padding: 0; margin: 0; }
.slick-dots li { width: 40px; cursor: pointer; height: 10px; border: 1px solid #425563; display: inline-block; list-style: inherit; background: #fff; text-indent: -1000em; overflow: hidden; /*-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;*/ margin: .125em .5em; -webkit-transition: 150ms all ease-out; transition: 150ms all ease-out; }
.slick-dots li.slick-active { background: #4b9839; border-color: #d9d9d9; }

.slick-next { left: auto; right: 0; }
/*#Carousel#*/

.carousel-slider-outer { overflow: hidden; }
.carousel-slider, .carousel-slider-disabled, .carousel-slide-content-inner { height: 386px; position: relative; }
#slider-content-area { position: absolute; z-index: 1; width: 100%; height: 1px; overflow: visible; }
.slick-track, .slick-list { height: inherit; min-height: 100%; }
.carousel-slide { height: inherit; min-height: 100%; position: relative; }
#slider-content-area .content { overflow: visible; height: 1px }
.carousel-slide { height: inherit; min-height: 100%; position: relative; }
.carousel-slide-img-holder { height: inherit; min-height: 100%; width: 100%; overflow: hidden; position: absolute; left: 0; top: 0; }
.carousel-slide-img-holder img { min-width: 100%; min-height: inherit; position: relative; cursor: grab; left: 50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); transform: translateX(-50%); max-width: 1038px; }
.carousel-slide-img-holder img:active { cursor: grabbing; }
.carousel-slide-content { height: inherit; min-height: 100%; }
.carousel-slide-content-inner { background: rgba(10, 65, 99, .8); padding-top: 1.2em }
.carousel-slide-content h1, .carousel-slide-text { color: #fff; padding-left: 1rem; padding-right: 1rem; line-height: 1.52; }
.carousel-slide-content h1 { line-height: 1.12; }
.carousel-slide-text { background: #09141a; padding-top: .9rem; padding-bottom: .9rem }
.carousel-slide-text-area { display: none; }
.slide-transition-content { -moz-transition: 300ms all ease-in; -webkit-transition: 300ms all ease-in; transition: 300ms all ease-in; }
.slide-content-hide .slide-transition-content { -moz-opacity: 0; -webkit-opacity: 0; opacity: 0; }
.carousel-slider-nav { position: absolute; bottom: .75rem; left: 50%; padding: 0 2em; display: inline-block; width: auto; z-index: 101; }
/*.carousel-slider-nav .slick-arrow { border: 0; background: none; color: #fff; display: inline-block; position: absolute; left: 0; top: 0; }
.carousel-slider-nav .slick-arrow:before { font-size: 1.3em; }*/
.carousel-slider-nav .slick-next { left: auto; right: 0; }
.carousel-slider-nav .slick-dots li { background: none; border-color: #fff; height: 11px; width: 11px; }
.carousel-slider-nav .slick-dots .slick-active { background: #fff; }
/*.carousel-slider-nav .slick-arrow:hover { color: #4b9839; }*/

.content { max-width: 1062px; margin-right: auto; margin-left: auto; padding-left: 12px; padding-right: 12px; clear: both; position: relative; }
.content .content { padding-right: 0; padding-left: 0; }
.content:after,  header:after,  footer:after { content: ''; display: block; clear: both; }
.text-content { font-size: .9375em; }
.text-content p { font-size: inherit; }
.text-content img { margin: auto; margin-bottom: 1em; }
/*#home-slider,  #home-slider-disabled,  .home-slide-content-inner { height: auto !important; position: static; }*/

.home-slide-text-area { display: block !important; max-width: 1062px; margin: auto; }
.home-slide-text { padding: 0 !important; }
#home-slider-nav .slick-dots li { background:#EBEBEB; border:#EBEBEB; width:24px; height:10px; }
#home-slider-nav .slick-active { height:10px; width:40px;}
#home-slider-nav .slick-dots .slick-active { background:#c06d29; }


#home-slider-nav .slick-arrow:before{
    font-size:1.3em;
   font-family: icomoon;
    line-height: 0;
}
.slick-arrow:before {
    color: inherit;
    font-size: 1.75em;
    display: inline-block;
}
.icon-arrow-skinny-left:before, .slick-prev:before {
    content: "\e900";
}
.icon-arrow-skinny-right:before, .slick-next:before {
    content: "\e901";
}
#home-slider-nav .slick-arrow:after{ display:none;}


.home-slide-text {
    background:none;
}
.home-slide-content-inner{
    background:none;
}
/*#home-slider-nav {
    bottom:9.75em;
}*/

/*.home-slide-content h1 {
    font-size: 3.25rem;
}*/




/*kindle ipad mini ipad*/


@media only screen and (min-width: 1440px) {
    #home-slider-outer {
        height: 256px;
    }
    #home-slider, #home-slider-disabled, .home-slide-content-inner {
        height: 256px;
    }
    .slick-slide {
        height: 256px;
    }
    #home-slider, #home-slider-disabled, .home-slide-content-inner h1{
        font-size: 3.25rem;
        padding-bottom:5px;
    }
    #home-slider-nav {
        bottom: 1.75em;
        left: 2.4em;
    }
    .btn-primary.active {
        text-decoration:none;
    }
}

@media only screen and (max-width: 1439px) and (min-width: 1024px) {
    
    #home-slider-outer {
        height: 246px;
    }
    #home-slider, #home-slider-disabled, .home-slide-content-inner {
        height: 246px;
    }
    #home-slider, #home-slider-disabled, .home-slide-content-inner h1 {
        font-size: 3.25rem;
        padding-bottom:5px;
    }
    .slick-slide {
        height: 246px;
    }
    
    #home-slider-nav {
        bottom: 1.5em;
        left: 2.4em;
    }
    .btn-primary.active {
        text-decoration:none;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px)  {
    
    #home-slider-outer {
        height: 236px;
    }
    #home-slider, #home-slider-disabled, .home-slide-content-inner {
        height: 236px;
    }
    #home-slider, #home-slider-disabled, .home-slide-content-inner h1 {
        font-size: 3.25rem;
        padding-bottom:5px;
    }
    .slick-slide {
        height: 236px;
    }
    #home-slider-nav {
        bottom: 2.5em;
        left: 4.4em;
    }
    .btn-primary.active {
        text-decoration:none;
        padding-bottom:5px;
    }
}
.text-justify {
    text-align:center;
}
@media only screen and (max-width: 767px) and (min-width: 320px) {
    
    #home-slider-outer {
        height: 236px;
    }
    #home-slider, #home-slider-disabled, .home-slide-content-inner {
        height: 236px;
    }
    .home-slide-content-inner img {
        display:none;
    }
    #home-slider, #home-slider-disabled, .home-slide-content-inner h1 {
        font-size: 3.25rem;
        padding-bottom:5px;
    }
    .slick-slide {
        height: 236px;
    }
    #home-slider-nav {
        bottom: 1em;
        left: 50%;
        min-width: 220px;
    }
    .btn-primary.active {
        text-decoration:none;
    }
    .home-slide-img-holder {
        display:block;
    }
}

.home-slide-content .bannerBlock 
{
  padding: 0;
}
@media only screen and (max-width: 767px) and (min-width: 320px) 
{
    #home-slider-outer {
        height: 285px;
    }
    #home-slider, #home-slider-disabled, .home-slide-content-inner {
        height: 285px;
    }
    .slick-slide {
        height: 285px;
    }
     #home-slider-nav {
        min-width: 100px; 
    }
}

@media only screen and (max-width: 767px) and (min-width: 450px) {
    #home-slider-nav {
        bottom: 1em;
        left: 39%;
        min-width: 100px; 
    }
}