<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initializeContainer>
        <processor type= "ACRHelix.Project.RadPAC.Pipelines.InitializeContainer.RegisterDependencies, ACRHelix.Project.RadPAC" />
      </initializeContainer>
    </pipelines>
    <sites>
      <site name="RADPAC" patch:after="site[@name='website']" targetHostName="auth.acr.org" hostName="auth.acr.org"  enableTracking="true" virtualFolder="/" physicalFolder="/" rootPath="/Sitecore/Content/RadPAC" startItem="/home" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" />
    </sites>
  </sitecore>
</configuration>
