<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="acr-tag-index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <IndexAllFields>true</IndexAllFields>
                <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                  <!-- Add fields to the Default Index Configuration -->
                  <fieldNames hint="raw:AddFieldByFieldName">
                    <field fieldName="ContentTags" returnType="stringCollection" multiValued="true" />
                    <field fieldName="PersonifyInterests" returnType="string" />
                    <field fieldName="PersonifyModalties" returnType="string" />
                    <field fieldName="PersonifySubspecialties" returnType="string" />
                    <field fieldName="_uniqueid" returnType="string" />
                  </fieldNames>
                </fieldMap>
                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="ContentTags" returnType="string" >ACRHelix.Foundation.Tags.ComputedFields.TagContent, ACRHelix.Foundation.Tags</field>
                  <field fieldName="PersonifyInterests" returnType="string">ACRHelix.Foundation.Tags.ComputedFields.PersonifyInterests, ACRHelix.Foundation.Tags</field>
                  <field fieldName="PersonifyModalties" returnType="string">ACRHelix.Foundation.Tags.ComputedFields.PersonifyModalities, ACRHelix.Foundation.Tags</field>
                  <field fieldName="PersonifySubspecialties" returnType="string">ACRHelix.Foundation.Tags.ComputedFields.PersonifySubspecialty, ACRHelix.Foundation.Tags</field>
                </fields>
              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/remoteRebuild" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/ACR</Root>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>