/** print stylesheet **/

/** fonts **/
h1,h2,h3,h4,p,a
{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    text-decoration:none;
    text-align:left;
}

/** show hidden screen elements **/
.page-title{display:block;}

/** Hide unprinted elements **/
#followup,
.top_nav,
.menu,
.logo_icon img,
.logo_icon a,
.search_div,
#logo_text,
#content-right,
#footer_nav,
#footer img,
.breadcrumb,
.borderdiv,
.share,
.sharethis,
.developed,
.backToTop,
.fullbluebox,
.home_seperator,
.divider_30
{display:none;}


/** position printed elements **/
h1,h2,h3 {clear:both;width:100%;}
ul{list-style-position:inside;}
li {list-style-type:none;}
.bluebox {width:100%;text-align:left;padding:0px;margin:0px;}
.bluebox ul {width:100%;float:left;}
.simple_list{list-style-position:inside;}
.simple_list, .simple_list li, .simple_list h4, .simple_list h4 a{margin:0;padding:0}
.simple_list li h4 {padding-left:0;margin-left:0;}
.simple_list li p {padding-left:0;margin-left:0;}
.block .col, .block .text-col {width:70%;}
.block .img, .block .img-col {margin-top:20px;float:left;}
.block {width:100%;clear:both;}
.copyright {text-align:center;}
.contact-list span, .contact-list a {float:left;}