@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Project.ImageWisely.ViewModels.IWSearchBoxViewModel>

<form class="navbar-form navbar-right">
    <div class="form-group has-feedback has-feedback-left">
        <input type="text" class="form-control" placeholder="Search">
        <a href="@Model.SearchPage.SeachPageUrl" class="form-control-feedback">
            <i class="fa fa-search"></i>
        </a>
    </div>
</form>