@charset "UTF-8";
#home-slider-outer{
    overflow:hidden
}
#home-slider,#home-slider-disabled,.home-slide-content-inner{
    height:286px;
    position:relative
}
#slider-content-area{
    position:absolute;
    z-index:100;
    width:100%;
    height:1px;
    overflow:visible
}
.slick-list,.slick-track{
    height:inherit;
    min-height:100%
}
.home-slide{
    height:inherit;
    min-height:100%;
    position:relative
}
#slider-content-area .content{
    overflow:visible;
    height:1px
}
.home-slide{
    height:inherit;
    min-height:100%;
    position:relative
}
.home-slide-img-holder{
    height:inherit;
    min-height:100%;
    width:100%;
    overflow:hidden;
    position:absolute;
    left:0;
    top:0
}
.home-slide-img-holder img{
    min-width:100%;
    min-height:inherit;
    position:relative;
    cursor:grab;
    left:50%;
    -ms-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%)
}
.home-slide-img-holder img:active{
    cursor:grabbing
}
.home-slide-content{
    height:inherit;
    min-height:100%
}
.home-slide-content-inner{
    background:rgba(10,65,99,.8);
    padding-top:1.2em
}
.home-slide-content h1,.home-slide-text{
    color:#fff;
    padding-left:1rem;
    padding-right:1rem;
    line-height:1.52
}
.home-slide-content h1{
    line-height:1.12
}
.home-slide-text{
    background:#09141a;
    padding-top:.9rem;
    padding-bottom:.9rem
}
.home-slide-text a{
    text-decoration:underline;
    white-space:nowrap
}
.home-slide-text-area{
    display:none
}
.slide-transition-content{
    -moz-transition:.3s all ease-in;
    -webkit-transition:.3s all ease-in;
    transition:.3s all ease-in
}
.slide-content-hide .slide-transition-content{
    -moz-opacity:0;
    -webkit-opacity:0;
    opacity:0
}
#home-slider-nav{
    position:absolute;
    bottom:1.75em;
    left:50%;
    padding:0 2em;
    display:inline-block;
    width:auto;
    z-index:101
}
#home-slider-nav .slick-arrow{
    border:0;
    background:0 0;
    color:#fff;
    display:inline-block;
    position:absolute;
    left:0;
    top:0
}
#home-slider-nav .slick-arrow:before{
    font-size:1.3em
}
#home-slider-nav .slick-next{
    left:auto;
    right:0
}
#home-slider-nav .slick-dots li{
    background:0 0;
    border-color:#fff;
    height:11px;
    width:11px
}
#home-slider-nav .slick-dots .slick-active{
    background:#fff
}
#home-slider-nav .slick-arrow:hover{
    color:#4b9839
}
.locate-a-chapter .ui.selection.dropdown{
    width:100%
}
.locate-a-chapter input[type=submit]{
    padding:.45em .95em;
    margin:0
}
.network-of-sites h3{
    font-family:tk-freight-sans-pro-n4,sans-serif;
    color:inherit
}
@media only screen and (max-width:40em){
    #home-slider-nav{
        -webkit-transform:translateX(-50%);
        -moz-transform:translateX(-50%);
        -ms-transform:translateX(-50%);
        transform:translateX(-50%)
    }
	.home-slide-img-holder{display:none}
}
@media only screen and (min-width:40.0625em){
    .home-slide-content{
        left:.75em;
        position:relative
    }
    #home-slider-nav .slick-dots{
        width:auto
    }
    #home-slider-nav{
        left:2em
    }
    .network-of-sites{
        padding-top:2em;
        padding-bottom:1em;
        border-top:1px solid #e5e5e5;
        border-bottom:1px solid #e5e5e5;
        background:url(images/bg-lead-change-together.png) left top no-repeat;
        background-size:240px
    }
}
@media only screen and (min-width:48em){
    #home-slider,#home-slider-disabled,.home-slide-content-inner{
        height:386px;
        position:relative
    }

    .home-slide-content-inner{
        padding-top:1.7em
    }
    .home-slide-content h1,.home-slide-text{
        padding-left:2rem;
        padding-right:2rem
    }
    .home-slide-content h1{
        font-size:2.25rem
    }
    .home-slide-text{
        font-size:1.25em
    }
    .network-of-sites{
        background-size:contain !important;
    }
}
.acr-news-slider-disabled{
    margin-top:1.5em;
    overflow:hidden
}
.acr-news-slider-disabled .slick-arrow:hover{
    background:0 0
}
