@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

<div class="navbar-wrapper sticky">
    <div class="topbar">
        <div class="container">
            <nav class="navbar navbar-expand topbar-style">
                <div class="collapse navbar-collapse" id="topbar-mobile">
                    <ul class="navbar-nav">
                        @Html.Sitecore().Placeholder("decamp-utility-menu")
                        @Html.Sitecore().Placeholder("decamp-searchbox")
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="main-navbar">
        <div class="container">
            <nav id="stack-menu" class="navbar navbar-expand-lg navbar-light topbar-style-bar">
                @Html.Sitecore().Placeholder("decamp-logo")
                
                <button class="animated-collapse-button navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mobile-nav" aria-controls="mobile-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="animated-collapse">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                @Html.Sitecore().Placeholder("decamp-main-nav")
            </nav>

        </div>
    </div>
</div>

      