@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Bulletin.ViewModels.ArticleListModel>

@if ((Model.Articles != null && Model.Articles.Count > 0) || Sitecore.Context.PageMode.IsExperienceEditor)
{
    <!-- BEGIN NOINDEX -->
    <aside class="content section-spacing">
        <h3 class="h2" id="bulletin-section">
            Recommended Reading from the <span class="sr-only">Bulletin</span>
            <img src="~/images/bulletin/bulletin-inline-text-tag.png" alt="" aria-hidden="true" class="bulletin-text-tag" />
        </h3>
        <hr>
        <ul class="two-column-ul has-dark-blue-anchor bulletin-related-list">
            @foreach (var article in Model.Articles)
            {
                <li><a href="@Sitecore.Links.LinkManager.GetItemUrl(article.GetItem())">@Html.Raw(article.TileText)</a></li>
            }
        </ul>
    </aside>
    <!-- END NOINDEX -->
}