.content {
    max-width: 1062px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
    clear: both;
    position: relative;
}

    .content .content {
        padding-right: 0;
        padding-left: 0;
    }

    .content:after, header:after, footer:after {
        content: '';
        display: block;
        clear: both;
    }

.section-spacing, .additional-resources {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

    .section-spacing:after, .additional-resources:after {
        content: '';
        display: block;
        clear: both;
    }

.section-spacing-top {
    margin-top: 1.2em;
}

.section-spacing-bottom {
    margin-bottom: 1.2em;
}

@font-face {
    font-family: 'icomoon';
    src: url('~/fonts/icomoon.ttf?agpjvh') format('truetype'), url('~/fonts/icomoon.woff?agpjvh') format('woff'), url('~/fonts/icomoon.svg?agpjvh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.accordion-header h2 
{
    font-size: 24px;
}

.accordion-header:after {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: baseline;
    line-height: 1; /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.accordion-header:after {
    content: "\e924";
}


.accordion {
    margin-bottom: 1.75em
}

    .accordion .accordion-details {
        display: none;
    }

.accordion-enabled .accrodion-details {
    display: block;
}

.accordion-item {
    clear: both;
    border: 1px solid #ccc;
    padding: 1.2em 1.0625em 1.3em;
    position: relative;
}

    .accordion-item + .accordion-item {
        margin-top: 1.875em;
    }

.accordion-header {
    padding: 0;
    cursor: pointer;
    padding-right: 3rem;
}

    .accordion-header * {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    .accordion-header h2 {
        color: #0a4163;
    }

    .accordion-header:after {
        display: inline-block;
        position: absolute;
        right: 1.1em;
        top: 1.2em;
        vertical-align: middle;
        font-size: 1.3em;
        color: #a52f01;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transition: 180ms all ease-out;
        transition: 180ms all ease-out;
    }

    .accordion-header.open:after {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

.accordion-details {
    padding: 1em 0;
}

    .accordion-details:after {
        content: '';
        display: block;
        clear: both;
    }

.accordion .has-acr-table, .has-acr-table.no-table-border {
    border: none;
}

    .accordion .has-acr-table table {
        border: 0;
        table-layout: auto;
    }

    .accordion .has-acr-table td {
        border-left: 0;
        font-size: 1rem;
        font-weight: inherit;
    }

.accordion .flex-container > div {
    margin-bottom: 0;
}
