<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="news-pressrelease-web" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  <PressRelease>{57271EE9-5A71-4DE4-B5EC-F48750AD051A}</PressRelease>
                  <NewsArticle>{CE0F48F7-65A2-4D60-BB97-0CBD290FAF7B}</NewsArticle>
                </include>
                <IndexAllFields>true</IndexAllFields>

                <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                  <!-- Add fields to the Default Index Configuration -->
                  <fieldNames hint="raw:AddFieldByFieldName">

                    <field fieldName="date"   returnType="DateTime"   />
                    <field fieldName="type" returnType="string"  />
                    <field fieldName="author"   returnType="string" />
                    <field fieldName="title"   returnType="string"  />
                    <field fieldName="subtitle"   returnType="string"   />
                    <field fieldName="NewsTags"   returnType="stringCollection" multiValued="true" />
                    <field fieldName="PersonifyInterests"   returnType="string"  />
                    <field fieldName="PersonifyModalties"   returnType="string"  />
                    <field fieldName="PersonifySubspecialties"   returnType="string"  />
                    <field fieldName="_uniqueid"   returnType="string" />
                    
                  </fieldNames>
                </fieldMap>
                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="NewsTags" returnType="string" >ACRHelix.Foundation.Tags.ComputedFields.TagContent, ACRHelix.Foundation.Tags</field>
                  <field fieldName="PersonifyInterests" returnType="string">ACRHelix.Foundation.Tags.ComputedFields.PersonifyInterests, ACRHelix.Foundation.Tags</field>
                  <field fieldName="PersonifyModalties" returnType="string" >ACRHelix.Foundation.Tags.ComputedFields.PersonifyModalities, ACRHelix.Foundation.Tags</field>
                  <field fieldName="PersonifySubspecialties" returnType="string" >ACRHelix.Foundation.Tags.ComputedFields.PersonifySubspecialty, ACRHelix.Foundation.Tags</field>
                </fields>
              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/remoteRebuild" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/ACR</Root>
              </crawler>
            </locations>
          </index>

          <index id="news-issues"  type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  <NewsIssue>{DEA31E9E-89A7-4524-9D97-CED66286746F}</NewsIssue>
                </include>
                <IndexAllFields>true</IndexAllFields>

                <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                  <!--Add fields to the Default Index Configuration -->
                  <fieldNames hint="raw:AddFieldByFieldName">

                    <field fieldName="title"   returnType="string"   />
                    <field fieldName="subtitle"  returnType="string"   />
                    <field fieldName="issuedate"    returnType="DateTime" />
                    <field fieldName="_uniqueid"   returnType="string" />

                  </fieldNames>
                </fieldMap>
                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="issuedate" >ACRHelix.Feature.News.ComputedFields.NewsIssueDate, ACRHelix.Feature.News</field>
                  <field fieldName="urllink" returnType="string">Sitecore.ContentSearch.ComputedFields.UrlLink,Sitecore.ContentSearch</field>
                </fields>
              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/remoteRebuild" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/ACR</Root>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>