
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Project.RadPAC.ViewModels.CopyrightViewModel>

<div class="container">
    <div class="copyright">
        @Editable(x => x.Copyright)
        <br /><br />
        @Editable(x => x.Richtext)        
    </div>
</div>
