
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Project.RadPAC.ViewModels.SignupViewModel>

<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header">
                    <h2 class="header-style"><span class="underline-blue"><span>@Editable(x => x.Title)</span></span><hr class="hr-style-blue" /></h2>
                    <p>
                        @Editable(x => x.Richtext)                        
                    </p>
                </div>
            </div>
            <div class="col-12">
                <div class="signup">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter your email address">
                        <span class="input-group-btn">
                            <button class="btn" type="submit">@Editable(x => x.ButtonText)</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
