<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initializeContainer>
        <processor type= "ACRHelix.Feature.ProductCatalog.Pipelines.InitializeContainer.RegisterDependencies, ACRHelix.Feature.ProductCatalog" />
      </initializeContainer>
    </pipelines>
  </sitecore>
</configuration>
