@using Sitecore.Mvc
@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage

<div acr="list" style="--gap:15px;padding: 0 30px;padding-top: 30px;">
    <div class="XBlogRight">
        @Html.Sitecore().Placeholder("xblogright")
    </div>
    <div class="XBlogFeatured">
        @Html.Sitecore().Placeholder("xblogFeatured")
    </div>
    <div class="XBlogMain">
        @Html.Sitecore().Placeholder("xblogmain")
    </div>
</div>

