@using Sitecore.Feature.XBlog.Areas.XBlog.Items.Blog
@using Sitecore.Feature.XBlog.Areas.XBlog.Models.Blog
@using Sitecore.Feature.XBlog.Areas.XBlog.Search
@using Sitecore.Feature.XBlog.Areas.XBlog.General
@using Sitecore.Data.Items
@using Sitecore.Mvc
@using Sitecore.Links
@using Sitecore.Resources.Media
@model Sitecore.Feature.XBlog.Areas.XBlog.Models.Blog.BlogListingModel

@{ BlogSettings settingsItem = DataManager.GetBlogSettingsItem(Model.dataSourceItem != null ? Model.dataSourceItem : Sitecore.Context.Item); }


<div acr="list-column-between-alt" class="v-center" style="margin-bottom: 30px;">
    <div>

        <div acr class="heading">
            <a href="/DSIBlog" style="font-size: 48px; font-family: freight-sans-pro, sans-serif;">
                @Html.Sitecore().Field(BlogHome.BlogNameFieldId, Sitecore.Feature.XBlog.Areas.XBlog.General.DataManager.GetBlogHomeItem(Model.dataSourceItem != null ? Model.dataSourceItem : Sitecore.Context.Item))
            </a>
        </div>

        @{ string urlCategoryName = DataManager.GetUrlValByPattern(Request.Url.PathAndQuery, XBSettings.XBCategoryUrlPattern);
            if (!String.IsNullOrEmpty(urlCategoryName))
            {
                urlCategoryName = "<div style=\"font-size:2em; font-family: freight-sans-pro, sans-serif; color:#0A4163; margin-bottom:20px\">" + urlCategoryName + "</div>";
@Html.Raw(urlCategoryName);
} }
        @Html.Sitecore().Placeholder("xblogSubscribe")
    </div>
    @Html.Sitecore().Placeholder("xblogright")
</div>

