@using Sitecore.Feature.XBlog.Areas.XBlog.Helpers
<div class="comment-box">
    <div class="leave-comment">
        <span>Leave a Comment</span>
    </div>
    <div class="comment-body" id="commentWrap">
        <form id="commentForm" action="">
            <div class="row">
                <div class="col-12">
                    <label for="comment">Comment*</label>
                    <textarea class="form-control cominput" rows="5" id="comment" aria-describedby="comment"></textarea>
                    <div id="commenterror" class="field-validation-error" style="margin-top: -30px; display:none">Please enter your comment.</div>
                </div>
                <div class="col">
                    <label for="name">Name*</label>
                    <input type="text" id="name" class="form-control cominput">
                    <div id="nameerror" class="field-validation-error" style="margin-top: -30px; margin-bottom:6px; display:none">Please enter your name.</div>
                </div>
                <div class="col">
                    <label for="email">Email*</label>
                    <input type="email" id="email" class="form-control cominput">
                    <div id="emailerror" class="field-validation-error" style="margin-top: -30px; display:none">Please enter your email address.</div>
                    <div id="emailpatternerror" class="field-validation-error" style="margin-top: -30px; display:none">Invalid email address. Please try again.</div>
                </div>
                <div class="col-12" style="margin-bottom:3%;">
                    @Html.GoogleCaptcha()
                    <div id="captchaerror" class="field-validation-error" style="display:none">Captcha is not valid! Please, try it again.</div>
                </div>
            </div>
            <button id="commentSubmit" type="submit" class="btn btn-success btn-lg">Post</button>
        </form>
    </div>
</div>