.chapter-header{padding-top: 1.875rem; padding-bottom: 1.875rem; background: #f7f7f7;}
.chapter-logo img{width:80px}
.chapter-header h1{color:#333; margin-top:0.5rem}
.chapter-header .read-more-link{font-weight: 600;}
.award-title{font-family: freight-sans-pro,'Source Sans Pro',Arial, Helvetica, sans-serif; font-weight:600; line-height: 1.2; font-size: .9375rem;}