/**********
	Common Colors
**********/

$color_heading1:	#1F1F1F;
$color_heading2:	#920000;
$color_links:			#00668C;
$color_topLinks:	#00678C;
$color_content:		#1F1F1F;
$color_footer:		#999999;
$color_redButton:	#ffffff;