/**********
	Header
**********/
.header {
	height:115px;

	.wrapper {
		position:relative;
	}

	.logo {
		display:block;
		@include position(absolute, 25px 0 0 28px);
		img{
		 width:232px;
		 height:72px;
		}
	}
	
	.topNav {
		float:right;
		margin:16px 0 0 0;
		
		a {
			float:left;
			font-size:11px;
			line-height:em(16, 11);
			margin:0 11px;

			&.facebook{
				width:17px;
				height:17px;
				display:block;
				@extend %sprite;
				background-position: -19px 0;
				margin:0 0 0 0;
			} // &.facebook
			
			&.twitter {
				width:18px;
				height:17px;
				display:block;
				@extend %sprite;
				background-position: 0 -19px;
				margin:0 0 0 5px;
			} // &.twitter
		} // a
	} // .topNav

	.search {
		float:right;
		clear:right;
		margin:15px 0 0 0;

		input {
			@include box-sizing(border-box);
			height:29px;
			width:162px;
			border:1px solid #b4b4b4;
			padding:0 38px 0 11px;
			font-size:10px;
			color:$color_content;
		}
		a{
      	height: 27px;
      	width: 27px;
      	background-image: url("/images/RLI/backgrounds/background_icon_search.png");
      	background-repeat:  no-repeat;
      	float: right;
		border: 1px solid #b4b4b4;
      	border-left: none;
			}
	} // .search
} // .header

.ie7 .header,
.ie8 .header {

	.search {
		
		input {
			line-height:29px;
		}
	} // .search
} // .ie7 .header, .ie8 .header



/**********
	Main Nav
**********/
.mainNav {
	background:#ffffff;
	border-bottom:1px solid #bbbbbb;

	ul {
		float:right;
		margin:0 em(-47.5, 14) 0 0;
		padding:0;

		> li {
			float:left;
			list-style:none;
			position:relative;
			> ul{

		width:250px;
			}
			> a {
				display:block;
				text-transform: uppercase;
				font-size:em(14);
				padding:em(5, 14) em(47.5, 14) em(5, 14);
				text-align:center;

					span {
						visibility: hidden;
						display:block;
						height:2px;
						background:$color_heading2;
						border:1px solid #e4e3e3;
					}
				} // > a

				&:hover a, &.selected a {
					text-decoration:none;
					
					span {
						visibility: visible;
					}
				} // &:hover a, &.selected a

			//drop-down
			> ul {
				background:#f6f6f6;
				border:1px solid #bbbbbb;
				position: absolute;
				z-index:999;
				display:none;
			
				> li {
					float:none;
					padding:0;

					a {
						text-align:left;
						margin:0;
						padding:em(8, 14) em(13, 14);
						font-size:em(12, 14);
						text-transform:none;

						&:hover {
							color:#fff;
							background:$color_heading2;
						}
					} // a
				} // > li
			} // > ul

			&:hover > ul {
				display:block;
			}
		} // > li
	} // ul

	a {
		color:$color_heading1;
	}
} // .mainNav



/**********
	Carousel
**********/
.carousel {
	position:relative;

	.slideshow {

		.slide {
			min-height:357px;
			@extend .wrapper;
			margin:0;

			img {
				display:none;
			}
			.content {
				background:url('/images/RLI/backgrounds/background_carousel_content.png');
				color:#ffffff;
				width:em(487);
				padding:em(13) em(20);
				@include box-sizing(border-box);
				position: absolute;
				bottom:em(58);
				right:0;
				max-height:300px;

				h1 {
				color:#ffffff;
				font-size: 20px;
				margin:0;
				}
			} // .content
				a.content:hover{
				text-decoration:none;
				}

		} // .slide
	} // .slideshow

	.nav {
		position: absolute;
		right:3em;
		bottom:em(20);
		z-index:99;
	
		a {
			padding:0 em(1);
			margin:0 em(5);
			color:$color_content;
			display:block;
			float:left;
			font-size: 13px;

			&.activeSlide {
				border-bottom:1px solid $color_heading2;
				color:$color_heading2;
			}
		} // a
	} // .nav

	.controls {
		position:absolute;
		bottom:1.25em;
		right:0;
		z-index:99;

		a {
			padding:0 em(1) em(1) em(1);
			margin:0 em(5);
			color:$color_content;
			display:block;
			font-size: 13px;

			&.play {
				display:none;
			}
		} // a
	} // .controls
} // .carousel

.ie8 {
	.carousel {
		.slideshow {
			.slide {		
				background:transparent!important;
			}
		} // .slideshow
	} // .carousel
} // .ie8


/**********
	Footer
**********/

footer.page {
	min-width:1042px;
	width:100%;
	min-height:288px;
	padding:em(40) 0 0 0;
	border-top:1px solid #e5e5e5;
	background:#ffffff url('/images/RLI/backgrounds/background_footer_diagnal_gradient_grey1.png') repeat-x bottom;
	font-size:em(13);
	color:$color_footer;
	position:relative;
	clear:both;
	line-height:1.5em;

	a {
		color:$color_footer;

		&:hover {
			color:$color_links;
			text-decoration:none;
		}
	} // a

	.sitemap {
		max-width:725px;
		float:left;
				
		ul {
			width:150px;
			margin:0 0 25px 25px;
			padding:0;
			float:left;

			&:nth-child(4n+1) {
				clear:left;
				margin-left:50px;
			}
					
			li {
				list-style:none;
						
				&:first-child {
					
					a {
						@extend %bold;
						text-transform: uppercase;
					}
				} // &:first-child
			} // li
		} // ul
	} // .sitemap

	.socialMedia {
		float:left;
		
		a {
			float:left;
			font-size:11px;
			line-height:em(16, 11);
			margin:0 0 5px 5px;

			&.facebook {
				width:17px;
				height:17px;
				display:block;
				@extend %sprite;
				background-position: -19px 0;
			}
			
			&.twitter {
				width:18px;
				height:17px;
				display:block;
				@extend %sprite;
				background-position: 0 -19px;
			}
		} // a
	} // .socialMedia

	.buttons {
		float:right;
		margin:0 16px 0;

		.button {
			display:block;
			@include box-sizing(border-box);
			width:212px;
			position:relative;
			border:1px solid #fff;
			outline:1px solid #cbcbcb;
			color:#000;
			padding:5px 5px 5px 50px;
			text-align: center;
			font-size:em(15, 13);
			margin:0 0 17px 0;
			
			&.grey {
				background:#ffffff url('/images/RLI/backgrounds/background_button_grey_h41.png') repeat-x top;
				min-height:43px;

				&:hover {
					background:#ffffff url('/images/RLI/backgrounds/background_button_grey_h41_hover.png') repeat-x bottom;
				}
			} // &.grey

			.icon {
				display:block;
				width:48px;
				height:41px;
				position: absolute;
				top:0;
				left:0;

				&.learningCenter {
					background:url('/images/RLI/icons/icon_learning_center.png') no-repeat;
				}
				&.forum {
					background:url('/images/RLI/icons/icon_RLI_forum.png') no-repeat;
				}
			} // .icon
		} // .button
	} // .buttons

	.info {
		text-align: center;
		padding:30px 0 0 0;
		margin:0;
		clear:both;

		span {
			list-style:none;
			border-left:2px solid $color_footer;
			padding:0 em(5);

			&:first-child {
				border:none;
			}
		} // span
	} // .info
} // footer.page