/**********
	RLI Common Styling
**********/

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after { clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf { *zoom: 1; }

.sprite, %sprite {
	background-image:url('/images/RLI/Sprites/sprites.png');
	background-repeat: no-repeat;
}

body {
	font-family:$primary_font;
}

.wrapper {
	width:1042px;
	margin:0 auto;
}

a.aspNetDisabled:hover {
		text-decoration:none;
	
}
.button {
	display:block;
	text-decoration:none;
	text-align: center;

	&.red {
		background:#A70000 url('/images/RLI/backgrounds/background_button_red_h42.png') repeat-x top;
		color:#fff;
		text-align: center;
		min-height:42px;
		line-height:42px;
		border:1px solid #bbbaba;
		@include box-sizing(border-box);

		&:hover {
			background:#A70000 url('/images/RLI/backgrounds/background_button_red_h42_hover.png') repeat-x bottom;
			text-decoration:none;
			cursor:pointer;
		} // &:hover
	} // &.red

	&.icon {
		position:relative;
		padding-top:8px;
		padding-bottom:8px;

		img {
			position: absolute;
			top:8px;
			left:8px;
		}
	}

	&.maxWidth {
		width:100%;
	}
} // .button

.bold, %bold {font-weight:bold;}

.gradientBorders {
	@include linear-gradient(top, #e6e6e6 50%, #ffffff 100%);
	
	&.sides {
		padding:0 1px;
	}

	.inner {
		background:#fff;
	}
} // .gradientBorders

.ie7 .gradientBorders,
.ie8 .gradientBorders,
.ie9 .gradientBorders {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff');
	zoom: 1;
	padding:0 2px;
}
