/**********
	subPage Specific Styling
**********/
.subPage {
	margin-top:107px;
	margin-bottom:95px;

	.register {
		@extend %bold;
	}

	.pageBackground {
		display:none;
	}
	.content {
		background:#fff;
		@include box-sizing(border-box);
		color:$color_content;
		font-size:em(14, 16);
		float:left;
		min-height:500px;

		.inner {
			padding:18px 23px;
		}

		article {
			margin-left:139px;
			width:855px;
			h2{
				color:$color_content;
				font-style: normal;
			}
			h2.subheader{
				color:$color_heading2;
			}
		}

		h2 {

			.icon {
				width:26px;
				height:26px;
				display:block;
				float:left;
				margin:0 0.5em 0 0;

				&.calendar {background:url(/images/RLI/icons/icon_calendar.png) no-repeat;}
				&.news {background:url(/images/RLI/icons/icon_news.png) no-repeat;}
			} // .icon
		} // h2
	} //.content

	h1, h2, h3, h4, h5 {
		margin:0 0 0.5em 0;
	}

	h4 {
		margin:0;
		text-transform: uppercase;
	}

	h5 {
		margin:0;
	}
	
	p {
		margin:0 0 1em 0;
	}

	ul {
		margin:0 0 1em 0;
	}
	
	aside {
	

		&.widgets {
			float:right;
			width:218px;
			@include box-sizing(border-box);

			.item {
				margin:0 0 7px 0;
				
			}

			.inner {
				padding:em(18) em(12);
			font-size: 13px;	
			color:#1F1F1F;
				background:#f8f8f8 url('/images/RLI/backgrounds/background_gradient_f4f4f4_to_f8f8f8.png') repeat-x top;
			div{
					font-size:11px;
					display:inline;
				}

			}//.inner

			h2 {
				color:$color_heading1;
				font-style: normal;
				font-size:18px;
				font-weight: normal;
				img {
					float:left;
					margin: 0 5px 0 0;
				}

				&.handMouse {
					background:url('/images/RLI/icons/icon_hand_mouse.png') no-repeat;
					padding:0 0 0 42px;
					min-height:64px;
				}
				&.writing {
					background:url('/images/RLI/icons/icon_writing.png') no-repeat;
					padding:0 0 0 56px;
					min-height:48px;
				}
				&.news {
					background:url(/images/RLI/icons/icon_news.png) no-repeat;
					padding:0 0 0 36px;
					min-height:26px;
					margin:0 0.5em 0 0;
				}
			} // h2

			img {
				max-width:192px;
				height:auto;
			}
		
			ul {
				margin:1em 0 1em 1em;
				padding:0;

				li {
					list-style:disc;
					margin:0 0 1em 0;
				}
			} // ul

			a {

				&.button {
					text-decoration:none;
					max-width:90%;
					margin:0 auto;
					font-size:16px;
				}

				&.icon {
					display:block;
					@include box-sizing(border-box);
					min-height:48px;
					line-height:28px;
					padding-left:58px;
					margin:8px 0;

					&.house {background:url('/images/RLI/icons/icon_house.png') no-repeat top left;}
					&.zoom {background:url('/images/RLI/icons/icon_zoom.png') no-repeat top left;}
					img{
						height:41px;
						width:48px;
						background-color:white;
					}
				} // &.icon
			} // a

			.button {
				text-decoration:none;
				margin:0 0 1em 0;
			}
		} //&widgets

		&.leftNav {
			width:130px;
			float:left;
			margin:0 10px 0 0;

			ul {
				margin:0;
				padding:0;

				li {
					margin:0 0 0.5em 0;
					list-style:none;
				
					a {
						display:block;
						float:left;
						color:$color_content;
						font-size:em(11, 14);

						span {
							display:block;
							visibility:hidden;
							height:2px;
							background:$color_heading2;
							border:1px solid #E4E3E3;
						}
						&:hover {
							text-decoration:none;

							span {
								visibility: visible;
							}
						} // &:hover
					&.selected {

						span {
							visibility: visible;
						}
					}// &.selected
					} // a


					ul {
						clear:both;
						padding:0.5em 0 0 0.5em;
					}// li ul

				} // li
			} // ul
		} //&.leftNav

	} // aside

	&.widgets {
		
		.content {
			width:820px;
		}
		
		article {
			width:633px;
		}
	} //&.widgets

	.addthis {
		margin-top:2em;
	}

	.tabbed {
		
		.tabs {
			margin:0;
			padding:0;
			overflow:hidden;
			
			a {
				float:left;
				list-style:none;
				padding:em(10) em(18);
				cursor: pointer;
				color:$color_heading1;

				&:hover {
					text-decoration:none;
				}

				&.selected {
					color:$color_heading2;
					background:#f7f7f7;
					cursor: default;
				} // &.selected
			} // li
		} // .tabs

		section {
			background:#f7f7f7;
			display:none;
			padding-top:13px;

			&.selected {
				display:block;
			}
			&.calendar {}
		} // section

		.calendar {
			padding:0 0 25px 0;
		}

		.month {
			padding:0 7px;
			margin:0 0 em(17) 0;

			&:last-child {
				margin:0;
				padding:0 7px 7px;
			}

			label {
				padding:0 8px 3px;
				@extend %bold;
				display:block;
			}
			fieldset {
				background:#fff;
				padding:14px 11px;
				margin:0;

				.title {
					@extend %bold;
					color:$color_links;
					display:block;
				}
				.time {
					@extend %bold;
				}
				.register {
					color:$color_heading2;
					display: inline;
					font-weight: normal;
				}

				.event {
					margin:0 0 em(21, 15) 0;

					&:last-child {
						margin:0;
					}

					p	{
					
						&:last-child {
							margin:0;
						}
					} // p
				} // .event
			} // fieldset
		} // .month

		.calendarFilter {
			margin:0;
			padding:0 em(18) em(7);
			border:0;
			font-size:em(14);

			label, select, input, .button {
				float:left;
				@include box-sizing(border-box);
				margin-right:10px;
			}

			select {
				border:1px solid #7f9db9;
				font-size:em(16, 14);
			}

			.button {
				padding:2px 10px;
				height:auto;
				min-height:auto;
				line-height: normal;
				font-size:em(14, 14);
			}
		}// .calendarFilter
	} // .tabbed

	.list {
		.options {
			float:right;

			select {
				@include box-sizing(border-box);
				min-width:100px;
			}
		}

		section {
			margin:0 0 1em 0;
			border-bottom:1px dotted #d5d5d5;

			&:last-child {border:none;}
		} // section

		ul {
			margin:0;
			padding:0;

			li {
				margin:0 0 1em 0;
				list-style:none;
			}
		} // ul

		label {
			font-size:em(15, 14);
			@extend %bold;
			text-transform: uppercase;
		}

		.title {
			color:$color_heading2;
			a{
				color:$color_heading2;
			}
		}

		&.search {
			
			.info {
				float:left;
				max-width:425px;
				margin:0 0 1em 0;

				.terms {
					
					span {
						color:$color_heading2;
					}
				} // .terms
			} // .info

			.pagination {
				float:right;
				max-width:200px;
				margin:0 0 1em 0;

				a {
					color:$color_content;
					font-size:em(10, 14);
					line-height:18px;
				}

				& > a {
					float:right;
					font-size:em(11, 14);
					
					&:first-child {
						margin-left:2px;
					}
					&:last-child {
						margin-right:2px;
					}
				} // & > a

				ul {
					float:right;

					li {
						float:left;
						margin:0 2px;

						a {
							display:block;
							@extend %sprite;
							background-position:0 0;
							height:18px;
							width:18px;
							text-align:center;
							@extend %bold;

							&:hover {
								background-position: -19px -17px;
								text-decoration:none;
								color:#ff0000;
							}
						} // a
							&.active{
								a{
									color: Red;
								}
							}
					} // li
				} // ul
			} // .pagination
		} // &.search

	} // .list

} // .subPage