/**********
	Typography
**********/
$primary_font: Arial, Helvetica, sans-serif;

h1 {
	font-size:em(25);
	color:$color_heading1;
}
.home h1 {
	font-size:em(18);
}
h2 {
	font-size:em(16);
	color:$color_heading2;
	font-style: italic;
}
.home h2 {
	color:$color_heading1;
	font-style: normal;
}
h3 {
	font-size:em(14);
	color:$color_heading2;
}
.home h3 {
	text-transform:uppercase;
	font-size:em(12);
}
h4 {
	font-size:em(15, 14);
}
h5 {
	font-size:em(14, 14);
}

a {
	color:$color_links;
	text-decoration:none;

	&:hover {
		text-decoration:underline;
	}
}

.red {color:$color_heading2;}

.centerText {text-align:center;}