@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Social.ViewModels.FooterViewModel>

<div class="xl-col-2 col-4 footer-social-area md-text-center sm-text-center">
    <h3>@Editable(x => x.Title)</h3>
    <div class="social-footer-zone">
        <figure>
            @using (BeginRenderLink(x => x.EngageLink))
            {
            @RenderImage(x => x.Image, new { @class = "footer-engage-graphic" })
            }
            @*<img src="media-library/social-engage.png" alt="Engage" class="footer-engage-graphic" />*@
        </figure>
        <div class="fl-left xl-wide-6 md-wide-12 wide-12">
            @Html.Sitecore().Placeholder("social-footer-left")
            @*<a href="https://www.facebook.com/AmericanCollegeOfRadiology" class="acr-icon facebook"></a><br>
            <a href="http://www.linkedin.com/groups?gid=1866696" class="acr-icon linkedin"></a><br>
            <a href="#" class="acr-icon instagram"></a>
            <a href="#" class="acr-icon blogger"></a>*@
        </div>
        <div class="fl-left xl-wide-6 md-wide-12 wide-12 xl-text-right md-text-center">
            @Html.Sitecore().Placeholder("social-footer-right")
            @*<a href="https://twitter.com/RadiologyACR" class="acr-icon twitter"></a><br>
            <a href="http://www.youtube.com/user/RadiologyACR" class="acr-icon youtube"></a><br>
            <a href="http://www.acr.org/ACR%20News%20RSS%20Feed" class="acr-icon rss"></a>*@
        </div>        
    </div>
</div>