@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Social.ViewModels.SocialListViewModel>

<ul class="list-inline social-icon">
    <li>Connect</li>
    @if (Model.SocialItems.Count() > 0)
    {
        foreach (var item in Model.SocialItems)
        {
            <li><a href='@(item.Link != null ? item.Link.Url : "#")' target="@item.Link.Target"><i class="@item.CSSClass"></i></a></li>
        }
    }
</ul>
