<div acr="list">
    <h2 acr class="heading" style="padding: 0 30px;">Latest</h2>
    <div acr="card">
        <div acr="list" style="padding:30px;--gap:15px;">
            @Html.Sitecore().Placeholder("blog-section")
        </div>
        <div acr="list" style="padding:30px;--gap:15px;">
            @Html.Sitecore().Placeholder("news-section")
        </div>
    </div>
</div>