.has-acr-table tr td ~ td,
.has-acr-table tr th ~ th {
    border-left: 1px solid #ccc
}

.has-acr-table {
    position: relative;
    padding: 1rem;
    clear: both;
    max-width: 800px !important;
}

    .has-acr-table .rad-tb {
        margin: 10px;
    }

    .has-acr-table table {
        min-width: 768px;
        width: 768px !important;
        border: 0;
    }

    .has-acr-table.table-no-scroll table {
        min-width: auto
    }

    .has-acr-table table > tr:nth-child(even),
    .has-acr-table tbody tr:nth-child(odd) {
        background: #f7f7f7
    }

.has-table-striped table tr:nth-child(even),
.has-table-striped-odd table tr:nth-child(odd),
.table-striped tr:nth-child(even),
.table-striped-odd tr:nth-child(odd) {
    background: #f7f7f7
}

.has-acr-table table tr:nth-child(odd) td {
    padding-top: .8rem;
    padding-bottom: .8rem
}

.has-acr-table td {
    padding: 0 5px;
}

    .has-acr-table td:not(.font-weight-normal) {
        font-weight: normal;
    }

.has-acr-table.lg-min-width table {
    min-width: auto
}

.has-table-striped table,
.has-table-striped-odd table,
.table-striped,
.table-striped-odd {
    width: 100%
}

.has-acr-table.sort-table th {
    /*padding-right: 24px;*/
    position: relative
}

.in-view-wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 2;
    max-width: 100%;
}
