<!--
    This file patches the Coveo.SearchProvider.config file default configuration.
    It is automatically modified by Coveo for Sitecore configuration wizards.
    This is where you should add your custom configuration.
    See the parent file for all the configuration elements and additional descriptions.
-->
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:coveo="http://www.sitecore.net/xmlconfig/coveo/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
</configuration>