<!--
    This file patches the Coveo.SearchProvider.config file default configuration.
    It is automatically modified by Coveo for Sitecore configuration wizards.
    This is where you should add your custom configuration.
    See the parent file for all the configuration elements and additional descriptions.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:coveo="http://www.sitecore.net/xmlconfig/coveo/">
  <sitecore coveo:require="!disabled">
    <scheduling>
      <agent type="ACRHelix.Foundation.CustomCoveo.Processors.InitalizeCoveoIndex, ACRHelix.Foundation.CustomCoveo" method="InitializeCoveoIndex" interval="0:03:00" />
    </scheduling>
    <pipelines>
      <!--
         Pipeline used to specify which fields should be returned on LINQ queries results.
         By default, the AddAllFieldsProcessor returns all fields. Comment this pipeline and uncomment the others to specify basic fields.
         The AddAllFieldsProcessor also stops the pipeline execution.
      -->
      <indexing.getDependencies help="Processors should derive from Sitecore.ContentSearch.Pipelines.GetDependencies.BaseProcessor">
        <processor type="ACRHelix.Foundation.CustomCoveo.Processors.GetItemIndexDependencies, ACRHelix.Foundation.CustomCoveo" />
      </indexing.getDependencies>
      <coveoQueryFieldPipeline>
        <!--
          <processor type="Coveo.SearchProvider.Processors.Queries.AddAllFieldsProcessor, Coveo.SearchProviderBase">
            <patch:delete />
          </processor>
          <processor type="Coveo.SearchProvider.Processors.Queries.AddBasicFieldsProcessor, Coveo.SearchProviderBase" />
          <processor type="Coveo.SearchProvider.Processors.Queries.AddVirtualFieldsProcessor, Coveo.SearchProviderBase" />
          <processor type="Coveo.SearchProvider.Processors.Queries.AddFieldsRelatedToSearchTypeProcessor, Coveo.SearchProviderBase" />
        -->
      </coveoQueryFieldPipeline>
      <coveoInboundFilterPipeline>
        <processor type="Coveo.SearchProvider.InboundFilters.ApplySitecoreInboundFilterProcessor, Coveo.SearchProviderBase">
          <!-- Uncomment this to apply the processor only to the specified indexes. -->
          <!--
            <includedIndexNames hint="list">
              <indexName>Coveo_web_index</indexName>
            </includedIndexNames>
          -->
          <!-- Uncomment this to apply the processor to all indexes but those specified in the list. -->
          <!--
            <excludedIndexNames hint="list">
              <indexName>Coveo_master_index</indexName>
            </excludedIndexNames>
          -->
          <!-- Exclusion has priority over inclusion. This means that if the same index is specified both in inclusion and exclusion, the processor will not be applied. -->
        </processor>
        <processor type="ACRHelix.Foundation.CustomCoveo.Processors.ACRCustomCoveoInboundIndexFilter, ACRHelix.Foundation.CustomCoveo"></processor>
      </coveoInboundFilterPipeline>
      <coveoPostItemProcessingPipeline>
        <processor type="Coveo.SearchProvider.Processors.ExecuteGetBinaryDataPipeline, Coveo.SearchProviderBase" />
        <processor type="Coveo.SearchProvider.Processors.HtmlContentInBodyWithRequestsProcessor, Coveo.SearchProviderBase">
          <StartCommentText>BEGIN NOINDEX</StartCommentText>
          <EndCommentText>END NOINDEX</EndCommentText>
        </processor>
      </coveoPostItemProcessingPipeline>
      <coveoGetBinaryData>
        <processor type="Coveo.SearchProvider.Processors.FetchPageContentProcessor, Coveo.SearchProviderBase">
          <inboundFilter hint="list:AddInboundFilter">
            <processor type="Coveo.SearchProvider.Processors.FetchPageContent.Filters.ItemsWithLayout, Coveo.SearchProviderBase" />
          </inboundFilter>
          <preAuthentication hint="list:AddPreAuthenticator" />
          <postProcessing hint="list:AddPostProcessing">
            <processor type="Coveo.SearchProvider.Processors.FetchPageContent.PostProcessing.CleanHtml, Coveo.SearchProviderBase">
              <startComment>BEGIN NOINDEX</startComment>
              <endComment>END NOINDEX</endComment>
            </processor>
          </postProcessing>
        </processor>
      </coveoGetBinaryData>
    </pipelines>
    <coveo>
      <defaultIndexConfiguration>
        <fieldMap>
          <fieldNames hint="raw:AddFieldByFieldName">
            <!-- Use this section to configure options of Sitecore template fields or computed index fields in the Coveo search index.
                 You should never modify field options directly in the Coveo index administration website as they will be overriden at the next configuration synchronization of Coveo for Sitecore.
                 Always modify field options in the fieldMap. Then, synchronize the configuration to propagate your changes to the index. Most options need the items to be re-indexed.
 
                 Mandatory attributes:
                   fieldName: Defines the name of the Sitecore template field or Sitecore computed index field to configure options for.
                   settingType: Defines the type of class to be used for the configuration of this field. This should not be changed.
                 Most used option attributes:
                   General options for all fields:
                     isDisplayField: Defines whether the field should be returned in search results. Items don't need to be re-indexed when this option is modified.
                     isSourceSpecific: Defines whether this field should be translated (addition of the "f" prefix and the source name hash suffix).
                   String field options (cannot be modified for date, numeric, and long fields):
                     isFacet: Defines whether facets can be bound to this field.
                     isMultiValue: Defines whether this field contains multiple values.
                     isSortable: Defines whether this field can be used to sort search results.
                     includeForFreeTextSearch: Defines whether full-text search operations can be performed on this field.
                     useForRanking: Defines whether values used in a filter on this field are used for search results ranking calculation and highlighting. Items don't need to be re-indexed when this option is modified.
 
                 For additional options, descriptions, example values, default values, limitations, and more, see: https://developers.coveo.com/x/jwHvAQ#UnderstandingtheCoveoSearchProvider'sConfigurationFile-FieldMap
                 For examples with configuration samples, see: https://developers.coveo.com/x/iocdAg
 
                 This is an example of field configuration. -->
            <!--
              <fieldType fieldName="theSitecoreFieldToConfigure" isMultiValue="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            -->
            <!-- Metadata -->

            <fieldType fieldName="PageTitle" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="MetaDescription" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="MetaKeywords" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />

            <!-- Taxonomy -->
            <fieldType fieldName="relatedtaxonomyinterest" isFacet="true" isMultiValue="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="relatedtaxonomymodality" isFacet="true" isMultiValue="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="relatedtaxonomysubspecialty" isFacet="true" isMultiValue="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />

            <!-- Product 		-->
            <fieldType fieldName="productbuynow" returnType="System.Int32" isFacet="false" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="producturl" isFacet="false" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="productstubproductclass" isFacet="false" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="productstubproducttype" isFacet="false" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="productstubcredittype" isFacet="true" isMultiValue="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="productstubmeetingstartdate" type="System.DateTime" returnType="System.DateTime" isFacet="true" isMultiValue="false" isSortable="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="productstubmeetingsenddate" type="System.DateTime" returnType="System.DateTime" isFacet="true" isMultiValue="false" isSortable="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="productstublargeimageurl" isFacet="false" isMultiValue="false" isSortable="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="productstubstockstatus" isFacet="false" isMultiValue="false" isSortable="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="productstubstockstatuscss" isFacet="false" isMultiValue="false" isSortable="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="productstubwebdisplaystartdate" type="System.DateTime" returnType="System.DateTime" isSortable="true" isFacet="true" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="productstubwebdisplayenddate" type="System.DateTime" returnType="System.DateTime" isSortable="true" isFacet="true" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="productstubdeliverymethod" isFacet="true" isMultiValue="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <!-- RLI PRODUCT FIELDS 		-->
            <fieldType fieldName="rlicredit" isFacet="true" isMultiValue="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="rlidelivery" isFacet="true" isMultiValue="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="rlidomain" isFacet="true" isMultiValue="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="rliinterests" isFacet="true" isMultiValue="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="rlilevel" isFacet="true" isMultiValue="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="rlitopic" isFacet="true" isMultiValue="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="IsMeeting" isSortable="true" isFacet="true" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="Long Name" isSortable="true" isFacet="true" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <!-- Meetings -->
            <fieldType fieldName="meetingtype" isFacet="true" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="meetingdisplaydate" isFacet="false" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="meetingenddate" type="System.DateTime" returnType="System.DateTime" isFacet="true" isMultiValue="false" isSortable="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="meetingstartdate" type="System.DateTime" returnType="System.DateTime" isFacet="true" isMultiValue="false" isSortable="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="meetingtitle" isFacet="false" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="meetingshortdescription" isFacet="false" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <!-- Content -->
            <fieldType fieldName="contentdate" isFacet="true" type="System.DateTime" returnType="System.DateTime" isSortable="true" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="contentdisplaydate" isFacet="false" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="contentdescription" isFacet="false" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="contenttitle" isFacet="false" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="contenttype" isFacet="true" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="contenturl" isFacet="false" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="displayinsearchresults" isFacet="false" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="sitename" isFacet="false" isMultiValue="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
          </fieldNames>
          <externalFields hint="raw:AddExternalField">
            <!-- Use this section to configure non-Sitecore fields to be used in Sitecore.
                 No configuration synchronization or item re-indexing is required after a modification to this section.
 
                 Mandatory attribute:
                   fieldName: Defines the name of the non-Sitecore field to make available in Sitecore.
                 Optionnal attribute:
                   fieldTypeName: Defines the type of the field seen by the Coveo components (Facet, Facet Range, Slider...). Valid values are Number, Integer, date, datetime, and string.
 
                 For more details, see: https://developers.coveo.com/x/jwHvAQ#UnderstandingtheCoveoSearchProvider'sConfigurationFile-FieldMap
                 For an example with configuration sample, see: https://developers.coveo.com/x/VIodAg
 
                 This is an example of field configuration. -->
            <!--
              <field fieldName="theExternalFieldToUseInSitecore" />
            -->
          </externalFields>
        </fieldMap>
        <documentOptions>
          <indexAllFields>true</indexAllFields>
          <fields hint="raw:AddComputedIndexField">
            <!-- Uncomment the culture field if the revision number of your Sitecore instance is greater than 150400. -->

            <field fieldName="culture">Sitecore.ContentSearch.ComputedFields.Culture,Sitecore.ContentSearch</field>

            <!-- Those are examples of built in Coveo computed fields. Use them to compute an image URL or alt from an image field. -->
            <!--
              <field fieldName="imageUrl" sourceField="Image">Coveo.SearchProvider.ComputedFields.ImageUrlComputedField, Coveo.SearchProviderBase</field>
              <field fieldName="imageAlt" sourceField="Image">Coveo.SearchProvider.ComputedFields.ImageAltComputedField, Coveo.SearchProviderBase</field>
            -->
            <!-- This is another example of built in Coveo computed fields. Use it to get any value from a referenced field.
                 Supported attributes, fieldName: The new field to create.
                                       sourceField: The field containing the referenced item id.
                                       referencedFieldName: Name of the field on the referenced item.
                                       returnType: The type of the field. By default, it is a string. -->
            <!--
              <field fieldName="theNewFieldToCreate" sourceField="theReferencedFieldId" referencedFieldName="referencedField">Coveo.SearchProvider.ComputedFields.ReferencedFieldComputedField, Coveo.SearchProviderBase</field>
            -->
            <!-- Taxonomy    -->
            <field fieldName="relatedtaxonomyinterest">ACRHelix.Foundation.CustomCoveo.ComputedFields.Taxonomy.InterestField, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="relatedtaxonomymodality">ACRHelix.Foundation.CustomCoveo.ComputedFields.Taxonomy.ModalityField, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="relatedtaxonomysubspecialty">ACRHelix.Foundation.CustomCoveo.ComputedFields.Taxonomy.SubspecialtyField, ACRHelix.Foundation.CustomCoveo</field>

            <!-- Product  -->
            <field fieldName="productbuynow">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.ProductBuyNow, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="producturl">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.ProductUrl, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="productstubproducttype">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.ProductType, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="productstubproductclass">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.ProductClass, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="productstubcredittype">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.CreditType, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="productstubdeliverymethod">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.DeliveryMethod, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="productstublargeimageurl">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.ProductLargeImageUrl, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="productstubmeetingsenddate">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.ProductMeetingEndDate, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="productstubmeetingstartdate">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.ProductMeetingStartDate, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="productstubstockstatuscss">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.ProductStockStatusCss, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="productstubstockstatus">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.ProductStockStatusText, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="productstubwebdisplayenddate">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.ProductWebDisplayEndDate, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="productstubwebdisplaystartdate">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.ProductWebDisplayStartDate, ACRHelix.Foundation.CustomCoveo</field>

            <!-- RLI   -->
            <field fieldName="rlicredit">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.RLI.RLICredit, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="rlidelivery">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.RLI.RLIDelivery, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="rlidomain">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.RLI.RLIDomain, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="rliinterests">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.RLI.RLIInterests, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="rlilevel">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.RLI.RLILevel, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="rlitopic">ACRHelix.Foundation.CustomCoveo.ComputedFields.ProductStubs.RLI.RLITopic, ACRHelix.Foundation.CustomCoveo</field>
            <!-- Meetings -->
            <field fieldName="meetingtype">ACRHelix.Foundation.CustomCoveo.ComputedFields.Meetings.MeetingType, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="meetingdisplaydate">ACRHelix.Foundation.CustomCoveo.ComputedFields.Meetings.MeetingDisplayDate, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="meetingenddate">ACRHelix.Foundation.CustomCoveo.ComputedFields.Meetings.MeetingEndDate, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="meetingstartdate">ACRHelix.Foundation.CustomCoveo.ComputedFields.Meetings.MeetingStartDate, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="meetingtitle">ACRHelix.Foundation.CustomCoveo.ComputedFields.Meetings.MeetingTitle, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="meetingshortdescription">ACRHelix.Foundation.CustomCoveo.ComputedFields.Meetings.MeetingShortDescription, ACRHelix.Foundation.CustomCoveo</field>
            <!-- Content -->
            <field fieldName="contentdate">ACRHelix.Foundation.CustomCoveo.ComputedFields.Content.ContentDate, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="contentdisplaydate">ACRHelix.Foundation.CustomCoveo.ComputedFields.Content.ContentDisplayDate, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="contentdescription">ACRHelix.Foundation.CustomCoveo.ComputedFields.Content.ContentDescription, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="contenttitle">ACRHelix.Foundation.CustomCoveo.ComputedFields.Content.ContentTitle, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="contenttype">ACRHelix.Foundation.CustomCoveo.ComputedFields.Content.ContentType, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="contenturl">ACRHelix.Foundation.CustomCoveo.ComputedFields.Content.ContentUrl, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="displayinsearchresults">ACRHelix.Foundation.CustomCoveo.ComputedFields.Content.DisplayInSearchResults, ACRHelix.Foundation.CustomCoveo</field>
            <field fieldName="sitename">ACRHelix.Foundation.CustomCoveo.ComputedFields.Content.SiteName, ACRHelix.Foundation.CustomCoveo</field>
          </fields>
        </documentOptions>
        <indexCommunicationFactory>
          <patch:attribute name="ref">coveo/cloudPlatformCommunicationFactory</patch:attribute>
        </indexCommunicationFactory>
        <sitecorePassword>vCsX1Ba5qQTKTFK7eCTSdg==</sitecorePassword>
        <sitecoreUsername>sitecore\admin</sitecoreUsername>
        <securityConfiguration>
          <indexPermissions>true</indexPermissions>
        </securityConfiguration>
        <farmName></farmName>
      </defaultIndexConfiguration>
    </coveo>
    <contentSearch>
      <configuration>
        <indexes hint="list:AddIndex">
          <index role:require="!ContentDelivery" id="Coveo_master_index">
            <locations>
              <crawler name="ContentCrawler">
                <root>/sitecore/content/ACR</root>
              </crawler>
              <crawler name="MediaLibraryCrawler">
                <root>/sitecore/media library/ACR/Files</root>
              </crawler>
            </locations>
            <locations hint="list:AddCrawler">
              <crawler name="DsiContentCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/content/DSI</root>
                <database>master</database>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>
            <locations hint="list:AddCrawler">
              <crawler name="ImageWiselyContentCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/content/ImageWisely</root>
                <database>master</database>
                <stopOnError>true</stopOnError>
              </crawler>
              <crawler name="ImageWiselyMediaLibraryCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/media library/Image Wisely/Files</root>
                <database>master</database>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>
            <locations hint="list:AddCrawler">
              <crawler name="RADPACContentCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/content/RADPAC</root>
                <database>master</database>
                <stopOnError>true</stopOnError>
              </crawler>
              <crawler name="RADPACMediaLibraryCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/media library/RadPAC/Files</root>
                <database>master</database>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>
            <locations hint="list:AddCrawler">
              <crawler name="DecampContentCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/content/DECAMP</root>
                <database>master</database>
                <stopOnError>true</stopOnError>
              </crawler>
              <crawler name="DecampMediaLibraryCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/media library/DECAMP/Files</root>
                <database>master</database>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>
            <locations hint="list:AddCrawler">
              <crawler name="IdeasContentCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/content/IDEAS</root>
                <database>master</database>
                <stopOnError>true</stopOnError>
              </crawler>
              <crawler name="IdeasMediaLibraryCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/media library/Ideas/Files</root>
                <database>master</database>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>
            <!--<locations hint="list:AddCrawler">
							<crawler name="PersonifyCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<database>master</database>
								<root>/sitecore/content/Personify</root>
								<stopOnError>true</stopOnError>
							</crawler>
						</locations>-->
          </index>
          <index id="Coveo_web_index">
            <locations>
              <crawler name="ContentCrawler">
                <root>/sitecore/content/ACR</root>
              </crawler>
              <crawler name="MediaLibraryCrawler">
                <root>/sitecore/media library/ACR/Files</root>
              </crawler>
            </locations>
            <locations hint="list:AddCrawler">
              <crawler name="DsiContentCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/content/DSI</root>
                <database>web</database>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>
            <locations hint="list:AddCrawler">
              <crawler name="ImageWiselyContentCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/content/ImageWisely</root>
                <database>web</database>
                <stopOnError>true</stopOnError>
              </crawler>
              <crawler name="ImageWiselyMediaLibraryCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/media library/Image Wisely/Files</root>
                <database>web</database>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>

            <locations hint="list:AddCrawler">
              <crawler name="RADPACContentCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/content/RADPAC</root>
                <database>web</database>
                <stopOnError>true</stopOnError>
              </crawler>
              <crawler name="RADPACMediaLibraryCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/media library/RadPAC/Files</root>
                <database>web</database>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>
            <locations hint="list:AddCrawler">
              <crawler name="DecampContentCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/content/DECAMP</root>
                <database>web</database>
                <stopOnError>true</stopOnError>
              </crawler>
              <crawler name="DecampMediaLibraryCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/media library/DECAMP/Files</root>
                <database>web</database>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>
            <locations hint="list:AddCrawler">
              <crawler name="IdeasContentCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/content/IDEAS</root>
                <database>web</database>
                <stopOnError>true</stopOnError>
              </crawler>
              <crawler name="IdeasMediaLibraryCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/media library/Ideas/Files</root>
                <database>web</database>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>

            <!--<locations hint="list:AddCrawler">
							<crawler name="PersonifyCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<database>web</database>
								<root>/sitecore/content/Personify</root>
								<stopOnError>true</stopOnError>
							</crawler>
						</locations>-->
          </index>
        </indexes>
      </configuration>
    </contentSearch>
    
    
    <!-- Example of Coveo for Sitecore log4net configuration.
         Uncomment the log4net configuration below to enable Coveo logging.
 
         CoveoLogger appender conversionPattern description:
            %4t: Thread name or number, left padded with spaces if less than 4 characters.
            %d{ABSOLUTE}: Time, in the local time zone, when the logging event was generated.
            %l: Location in the code where the logging event was generated.
            %-5p: All the properties of the logging event, right padded with spaces if less than 5 characters.
            %m: Message of the logging event.
            %n: New line character.
 
         Coveo logger:
            Default level is INFO.
            Performance degradation is expected at DEBUG level due to the large quantity of logs generated and the "%l" in the appender's conversionPattern.
            If you need to run at DEBUG level for a long period of time, consider removing "%l" from the appender's conversionPattern for better performance.
 
    -->

    <log4net>
      <appender name="CoveoLogger" type="log4net.Appender.RollingFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Coveo.Search" />
        <appendToFile value="true" />
        <rollingStyle value="Composite" />
        <datePattern value=".yyyyMMdd'.txt'" />
        <staticLogFileName value="false" />
        <maxSizeRollBackups value="20" />
        <maximumFileSize value="250MB" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %l %-5p %m%n" />
        </layout>
      </appender>
      <logger name="Coveo" additivity="false">
        <level value="INFO" />
        <appender-ref ref="CoveoLogger" />
      </logger>
    </log4net>

    <scheduling>
      <agent name="CoveoSynchronizeTopResults">
        <patch:delete />
      </agent>
    </scheduling>
  </sitecore>
</configuration>