@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.News.ViewModels.DashboardNewsViewModel>
@using ACRHelix.Feature.News.Models;
@using System.Collections.Generic;


<div class="latest-news-area">
    <div class="latest-news-item-body has-dark-blue-anchor">
        <!--#dev going to need to nestle these in .latest-news-grouping either server side,
            or via javascript which I haven't written :-/
          -->
        @foreach (List<NewsPressReleaseSearchResult> list in Model.GetPagedNewsArticles(3))
        {
            <div class="latest-news-grouping slick-slide">
                @foreach (NewsPressReleaseSearchResult news in list)
                {
                    if (news != null)
                    {
                        NewsPressReleaseSearchResult newsItem = (NewsPressReleaseSearchResult)news;
                        <div class="latest-news-item">
                            <span class="text-size-p75 event-tile-date">@newsItem.Date.ToString("MMMM dd, yyyy")</span><br>
                            <strong><a href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(newsItem.ItemId))">@newsItem.Title</a></strong>
                        </div>
                    }
                }
            </div>
        }
    </div>
    <div class="latest-news-pager text-center">

    </div>
</div>