@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.News.ViewModels.DashboardNewsViewModel>

<div class="latest-news-area">
    <div class="latest-news-item-body has-dark-blue-anchor">
        <!--#dev going to need to nestle these in .latest-news-grouping either server side,
            or via javascript which I haven't written :-/
          -->
        @foreach (var list in Model.GetPagedNewsArticles(3))
        {
            <div class="latest-news-grouping slick-slide">
                @foreach (var news in list)
                {
                    <div class="latest-news-item">
                        <span class="text-size-p75 event-tile-date">@news.Date.ToString("MMMM dd, yyyy")</span><br>
                        <strong><a href="@Sitecore.Links.LinkManager.GetItemUrl(news.GetItem())">@news.Title</a></strong>
                    </div>
                }
            </div>
        }   
    </div>
    <div class="latest-news-pager text-center">

    </div>
</div>