@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.News.ViewModels.RecentNewsListViewModel>

<div class="article-item">
    <h5>@Editable(x => x.Title)</h5>
    <div class="text-content ol-bold-numbers has-dark-blue-anchor">
        <ol>
            @foreach (var newsArticle in Model.NewsArticles)
            {
                using (BeginEditFrame(newsArticle, "News Article", x => x.Title, x => x.SubTitle, x => x.Type, x => x.Date))
                {
                    <li><a href="@newsArticle.Url">@Editable(newsArticle, x => x.Title)</a></li>
                }
            }
        </ol>
    </div>
    @RenderLink(x => x.ArchivesLink, new { @class = "read-more-link" }, isEditable: true)
</div>
<br />