<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="bulletin-issue-index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  <BulletinIssue>{4C919187-377A-42F1-AB65-E7F414F57638}</BulletinIssue>
                </include>
                <IndexAllFields>true</IndexAllFields>

                <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                  <!-- Add fields to the Default Index Configuration -->
                  <fieldNames hint="raw:AddFieldByFieldName">
                    <field fieldName="Issue Name" returnType="string" />
                    <field fieldName="Release Date" returnType="DateTime"/>
                    <field fieldName="Link Text" returnType="DateTime"/>
                    <field fieldName="Articles" returnType="string" />
                    <field fieldName="_uniqueid" returnType="string" />
                  </fieldNames>
                </fieldMap>
                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="IssuePDF">ACRHelix.Feature.Bulletin.Indexing.ComputedImageIndexField, ACRHelix.Feature.Bulletin</field>
                  <field fieldName="TileImage">ACRHelix.Feature.Bulletin.Indexing.ComputedImageIndexField, ACRHelix.Feature.Bulletin</field>
                </fields>
              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/remoteRebuild" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/ACR</Root>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>