<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="bulletin-article-index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  <BulletinArticle>{FC9D8B10-E234-4029-B2A4-9944ED07BB05}</BulletinArticle>
                </include>
                <IndexAllFields>true</IndexAllFields>
                <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                  <!-- Add fields to the Default Index Configuration -->
                  <fieldNames hint="raw:AddFieldByFieldName">
                    <!--<field fieldName="_id" returnType="string"/> -->
                    <field fieldName="Topic" returnType="string" />
                    <field fieldName="DatePosted" returnType="DateTime" />
                    <field fieldName="Description" returnType="string" />
                    <field fieldName="MainArticleImage" returnType="string" />
                    <field fieldName="Title" returnType="string" />
                    <field fieldName="Tile Text" returnType="string" />
                    <field fieldName="Link Text" returnType="string"/>
                    <field fieldName="PageViewsLast30Days" returnType="int" />
                    <field fieldName="_uniqueid" returnType="string"/>
                  </fieldNames>
                </fieldMap>
                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="TileImage">ACRHelix.Feature.Bulletin.Indexing.ComputedImageIndexField, ACRHelix.Feature.Bulletin</field>
                  <field fieldName="NewsTags" >ACRHelix.Foundation.Tags.ComputedFields.TagContent, ACRHelix.Foundation.Tags</field>
                  <field fieldName="PersonifyInterests" returnType="string">ACRHelix.Foundation.Tags.ComputedFields.PersonifyInterests, ACRHelix.Foundation.Tags</field>
                  <field fieldName="PersonifyModalties" returnType="string">ACRHelix.Foundation.Tags.ComputedFields.PersonifyModalities, ACRHelix.Foundation.Tags</field>
                  <field fieldName="PersonifySubspecialties" returnType="string">ACRHelix.Foundation.Tags.ComputedFields.PersonifySubspecialty, ACRHelix.Foundation.Tags</field>
                </fields>
              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->

              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/remoteRebuild" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/ACR/</Root>
              </crawler>
            </locations>
          </index>
          <index id="bulletin-article-index2" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  <BulletinArticle>{FC9D8B10-E234-4029-B2A4-9944ED07BB05}</BulletinArticle>
                </include>
                <IndexAllFields>true</IndexAllFields>

                <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                  <!-- Add fields to the Default Index Configuration -->
                  <fieldNames hint="raw:AddFieldByFieldName">
                    <!--<field fieldName="_id" returnType="string"/> -->
                    <field fieldName="Topic" returnType="string" />
                    <field fieldName="DatePosted" returnType="DateTime" />
                    <field fieldName="Description" returnType="string" />
                    <field fieldName="MainArticleImage" returnType="string" />
                    <field fieldName="Title" returnType="string" />
                    <field fieldName="Tile Text" returnType="string" />
                    <field fieldName="Link Text" returnType="string"/>
                    <field fieldName="PageViewsLast30Days" returnType="int" />
                    <field fieldName="_uniqueid" returnType="string"/>

                  </fieldNames>
                </fieldMap>
                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="TileImage">ACRHelix.Feature.Bulletin.Indexing.ComputedImageIndexField, ACRHelix.Feature.Bulletin</field>
                  <field fieldName="NewsTags" >ACRHelix.Foundation.Tags.ComputedFields.TagContent, ACRHelix.Foundation.Tags</field>
                  <field fieldName="PersonifyInterests" returnType="string">ACRHelix.Foundation.Tags.ComputedFields.PersonifyInterests, ACRHelix.Foundation.Tags</field>
                  <field fieldName="PersonifyModalties" returnType="string">ACRHelix.Foundation.Tags.ComputedFields.PersonifyModalities, ACRHelix.Foundation.Tags</field>
                  <field fieldName="PersonifySubspecialties" returnType="string">ACRHelix.Foundation.Tags.ComputedFields.PersonifySubspecialty, ACRHelix.Foundation.Tags</field>
                </fields>
              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/remoteRebuild" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/ACR/</Root>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>