.hashtag {
	margin-bottom:1.2rem
}
.social-link-space li {
	margin-bottom:1.15em
}
.social-link-space a:hover {
	text-decoration:none
}
.social-feed {
	margin-bottom:1rem;
	border:1px solid #ccc;
	width:100%;
	max-width:420px;
	min-height:200px;
	position: relative;
}
.social-feed-inner{
	max-height: 520px;
	overflow: auto;
}
.social-feed iframe {
	min-height:inherit!important;
	width:100%!important
}
.blogs-area,.social-platforms-area {
	clear:left
}
.social-feed-area {
	clear:right
}
.blogs-area ul,.social-platforms-area ul {
	margin-top:1rem;
	margin-bottom:1rem
}
@media only screen and (min-width:960px) {
	.blogs-area,.social-platforms-area {
		margin-top:1rem
	}
}

.social-feed .rss-feed-item,
.social-feed .rss-feed-title{
	padding: 12px;
	line-height: 1.4;
	font-size:14px;
}
.social-feed .rss-feed-title{
	background:#fff;
	padding-top:8px;
	padding-bottom:8px;
	border-bottom:1px solid #ccc;
	display: block;
	margin-bottom: -1px;
}
.social-feed .rss-feed-title h2{
	margin-bottom:0;
}

.social-feed .rss-feed-item{
	border-top:1px solid #ccc;
}
