@font-face { font-family: 'icomoon'; src: url(/fonts/icomoon.eot?hhoyhr); src: url(/fonts/icomoon.eot?hhoyhr#iefix) format('embedded-opentype'), url(/fonts/icomoon.ttf?hhoyhr) format('truetype'), url(/fonts/icomoon.woff?hhoyhr) format('woff'), url(/fonts/icomoon.svg?hhoyhr#icomoon) format('svg'); font-weight: normal; font-style: normal; }

.coveo-facet-header-title {
    font-weight: 600;
    font-size: 14px;
    margin-top: 15px;
}
.coveo-facet-value-checkbox {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid;
    text-align: center;
    position: absolute;
    left: 0;
    top: 6px;
    -webkit-transition: 100ms all ease-out;
    transition: 100ms all ease-out;
    opacity: 0;
}


.resp-nav-mobile-dd li input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background: #fff;
    background-color: #fff;
}

.coveo-facet-value-label-wrapper input[type=checkbox] {
    opacity: 1;
    position: absolute;
    left: 3px;
    top: 3px;
}
input[type=checkbox], input[type=radio] {
    margin: 1px 0 0; */
    margin-top: 1px\9;
    line-height: normal;
}



.search-pager-nav {
    position: relative;
    display: block;
    width: 9em;
    float: none;
    margin: 2em auto 0;
    text-align: center;
    padding-right: 2em;
    padding-left: 2em;
}

.slick-prev.slick-arrow {
    top: .125em;
    cursor: pointer;
}
.slick-arrow {
    
    border: 0;
    background: 0 0;
    color: #1d62a7;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.3rem;
    padding: 0;
    height: auto;
    margin: 0;
}
input[type=text].slide-num-input {
    width: 1.7em;
    min-height: unset;
    text-align: center;
    padding: .1em;
    margin-right: .2em;
}

.resources-slider-nav .slick-arrow, .search-pager-nav .slick-arrow {
    top: .125em;
    cursor: pointer;
}

.search-pager-nav .slick-arrow:before {
    color: inherit;
    font-size: 1.75em;
    display: inline-block;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    vertical-align: baseline;
    line-height: 1;
    font-size: 1.75rem;
}

.search-pager-nav .icon-arrow-skinny-left:before, .slick-prev:before {
    content: "\e900";
}

.resources-slider-nav .slick-arrow, .search-pager-nav .slick-arrow {
    top: .125em;
    cursor: pointer;
}
.search-pager-nav .slick-next {
    left: auto;
    right: 0;
}

.search-pager-nav .slick-arrow:before {
    color: inherit;
    font-size: 1.75em;
    display: inline-block;
}
.search-pager-nav .icon-arrow-skinny-right:before, .slick-next:before {
    content: "\e901";
}

.search-pager-nav .slick-arrow:after{
content: '';
}

.resp-nav-mobile-dd .dd-close-btn-area .close-dd-nav {
 color: #fff;
    background-color: #a52f01;
    border: none;
    padding: 10px 10px;
    border-radius: 0;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    font-weight: 600;
    min-width:100px;
}

.resp-nav-header .toggle-down-arrow {
    vertical-align: middle;
    font-family: 'icomoon' !important;
    font-size: 16px;
    color: #a52f01;
    margin-left: 5px;
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -6px;
    line-height: 1;
}

.resp-nav-header .toggle-down-arrow:before {
display: inline-block;
    transition: all 120ms ease-in-out;
}
.dropdown.icon:before, .icon-sort-down:before {
    content: "\e914";
}
