.collapse {
    display: none;
}

.menu {
    display: block;
}

.menu {
    margin: 0;
    padding: 0 10px 0 10px;
    list-style: none;
}

    .menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .menu ul a {
            float: left;
        }

        .menu ul ul a {
            float: none;
        }

    .menu .mega-menu a {
        float: none;
        padding: 0;
    }

.tabbable .menu .mega-menu a {
    padding: 0 15px;
}

.menu .mega-menu, .menu .mega-menu ol li, .menu ul ul {
    opacity: 0;
    visibility: hidden;
    display: none;
    -webkit-transition: opacity 150ms ease-in-out;
    -moz-transition: opacity 150ms ease-in-out;
    -o-transition: opacity 150ms ease-in-out;
    -ms-transition: opacity 150ms ease-in-out;
    transition: opacity 150ms ease-in-out;
}

.megamenu-show, .megamenu-show ol li {
    opacity: 1 !important;
    visibility: visible !important;
    display: block !important;
}

.menu ul:after {
    content: "";
    clear: both;
    display: block;
}

.menu ul li {
    float: left;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.menu > ul > li > a {
    font-size: 18px;
    padding: 10px 15px;
}

.style-1, .style-2 {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.style-1 {
    z-index: 2;
}

.style-2 {
    z-index: 1;
}

.style-1 ul.menu {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 20px;
}

    .style-1 ul.menu > li > a {
        padding: 10px 20px;
    }

.menu ul li a {
    display: block;
    color: #164c82;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
}

.style-2 ul li a {
    font-weight: 600;
    color: #1b64a5;
    cursor: pointer;
}

.style-2 ul li span {
    color: #363636
}

.menu ul li ul li .arrow:after {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid #bbb;
    margin: -2px 0 0 5px;
}

.style-2 i {
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    float: right;
    margin: 4px 5px 0 -3px;
    line-height: 14px;
    padding: 1px 0 0 10px;
}

.menu .right {
    float: right;
}

    .menu .right .mega-menu, .menu .right ul {
        /*left:0*/
    }

.menu ul ul {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-top: 0;
    border-bottom: 0;
    position: absolute;
    top: 100%;
    width: 170px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

    .menu ul ul ul {
        position: absolute;
        left: 100%;
        border-top: 1px solid #e0e0e0;
        top: -1px;
    }

    .menu ul ul li a {
        font-weight: 400;
        padding: 8px 12px;
        color: #777;
        border-bottom: 1px solid #e4e4e4;
    }

    .menu ul ul li {
        float: none;
        position: relative;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
    }

        .menu ul ul li a:active, .menu ul ul li:hover {
            background: #f5f5f5 !important;
        }

    .menu ul ul li {
        background: #fff !important;
    }

.mega-menu {
    position: absolute;
    top: 75%;
    padding: 18px 11px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #777;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.style-2 .mega-menu {
    top: 100%;
}

.mega-menu ol {
    list-style: none;
    padding: 0;
    display: inline-block;
}

    .mega-menu ol li {
        width: 100%;
        line-height: 1.7;
    }

        .mega-menu ol li a, .mega-menu ol li:hover {
            color: #363636;
            font-size: 14px;
            padding: 0;
            font-weight: 400;
            background-color: #fff;
            background-image: none;
        }

            .mega-menu ol li a:hover {
                color: #1b64a5;
                font-weight: 600;
            }

.mega-menu div h4 {
    font-size: 16px;
    font-weight: 700;
    color: #404040;
    padding: 0 0 5px 0;
    margin: 0;
    text-transform: uppercase;
}

.mega-menu .col-1 {
    width: 135px;
}

.mega-menu .col-2 {
    width: 288px;
}

.mega-menu .col-3 {
    width: 441px;
}

.mega-menu .col-4 {
    width: 594px;
}

.mega-menu .col-5 {
    width: 747px;
}

.mega-menu .col-6 {
    width: 900px;
}

.mega-menu .col-1, .mega-menu .col-2, .mega-menu .col-3, .mega-menu .col-4, .mega-menu .col-5, .mega-menu .col-6 {
    float: left;
    margin: 0 9px;
}

.mega-menu.full-width {
    left: 0;
    width: 100%;
    padding: 18px 0;
    margin-top: 10px;
}

.full-width .col-1 {
    width: 23%;
}

.full-width .col-2 {
    width: 30.4%;
}

.full-width .col-3 {
    width: 46.7%;
}

.full-width .col-4 {
    width: 63%;
}

.full-width .col-5 {
    width: 79.3%;
}

.full-width .col-6 {
    width: 95.6%;
}

.full-width .col-1, .full-width .col-2, .full-width .col-3, .full-width .col-4, .full-width .col-5, .full-width .col-6 {
    float: left;
    margin: 0 0 0 2.2%;
}

.up-arrow {
    position: absolute;
    background: url(/css/imagewisely/images/menu-arw.png) center top no-repeat;
    width: 72px;
    height: 28px;
    display: block;
    top: -37px;
    left: 22%;
}

.style-2 {
    padding-bottom: 5px;
    padding-top: 5px;
    width: 50%;
    right: 57px;
}

    .style-2 .mega-menu {
        /* right:23px; 1/8/2020*/
        margin-top: 5px;
    }

        .style-2 .mega-menu > div:first-child {
            border-right: 0;
        }

    .style-2 > ul > li:last-child {
        text-align: center;
    }

    .style-2 .menu .arrow:after {
        background: url(/css/imagewisely/images/dwn-arw2.png) center top no-repeat;
        content: "";
        float: right;
        width: 10px;
        height: 6px;
        display: block;
        top: 9px;
        margin: 0 0 0 5px;
        position: relative;
    }

    .style-2 .menu .dis-hidden .arrow:after {
        transform: rotate(270deg);
        margin-right: 3px;
    }

.mega-menu > .container > div:first-child {
    border-right: 1px solid #ded4d2;
}

@media only screen and (max-width:1024px) {
    .menu > ul > li > a {
        font-size: 18px;
        padding: 10px 18px;
    }
}

@media only screen and (max-width:768px) {
    .menu > ul > li > a, .style-1 ul.menu > li > a {
        font-size: 16px;
        padding: 5px 6px;
    }

    .menu li:hover > .mega-menu, .menu li:hover > .mega-menu ol li, .menu li:hover > ul {
        text-align: left;
    }

    .up-arrow {
        display: none;
    }

    .mega-menu > .container > div:first-child {
        border-right: none;
    }
}

.main-nav ul.menu li i {
    display: none;
}

.right-arrow i {
    font-size: 18px;
    float: right;
    margin: 7px 4px 0 7px;
}

@media only screen and (max-width:767px) {
    .main-nav ul.menu li i {
        display: block;
    }

    .mega-menu {
        position: static;
        border: none;
        box-shadow: none;
    }

    .collapse {
        display: none;
    }

    .style-1 {
        position: relative;
        background-color: #fff;
    }

    .margin-t-15- {
        margin-top: -15px;
    }

    .navbar-toggle {
        margin-right: 0;
    }

    .menu .right {
        float: none;
    }

    .style-1 ul.menu {
        padding-right: 0;
    }

    .menu ul li {
        width: 100%;
        cursor: pointer;
    }

    .menu ul li {
        position: relative;
    }

    .menu li:hover > .mega-menu ol li {
        height: auto;
    }

    .mega-menu, .menu ul ul {
        z-index: 100;
    }

    .menu ul ul {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .menu ul ul ul {
            left: 0;
        }

        .menu ul ul li:hover > ul {
            position: relative;
            border: none;
            border-top: 1px solid #e4e4e4;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

    .menu ul li ul li .arrow:after {
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 3px solid #bbb;
        margin: 0;
    }

    .mega-menu {
        padding: 18px 0;
    }

        .mega-menu ol {
            margin-bottom: 0;
        }

            .mega-menu ol li:last-child {
                margin: 0 0 10px 0;
            }

            .mega-menu ol li a, .mega-menu ol li:hover {
                font-size: 16px;
            }

    .full-width .col-1, .full-width .col-2, .full-width .col-3, .full-width .col-4, .full-width .col-5, .full-width .col-6, .menu .col-1, .menu .col-2, .menu .col-3, .menu .col-4, .menu .col-5, .menu .col-6 {
        float: left;
        margin: 0 0 0 5%;
        width: 90%;
    }

    .navbar-list-filter {
        min-height: 35px;
    }

    .navbar-list-filter-mobile-fecilities {
        min-height: 90px;
    }

    .style-1, .style-2 {
        width: 100%;
        position: relative;
    }

    .style-2 {
        right: 0;
    }

        .style-2 .right {
            float: none;
            width: 100%;
        }

    .navbar-list-filter .menu ul li {
        display: contents;
    }

    .navbar-list-filter ul.menu > li:last-child > a {
        margin: 0 0 0 45px;
    }

    ul.menu > li:last-child:hover > .mega-menu ol {
        width: 100%;
    }

        ul.menu > li:last-child:hover > .mega-menu ol li {
            text-align: center;
        }

    .navbar-list-filter .menu ul li.dis-hidden {
        display: none;
    }

    .navbar-list-filter .menu ul li:last-child {
        float: right;
    }

    .style-2 .mega-menu {
        right: 5px;
        left: 5px !important;
        margin-top: 0;
        border: 1px solid #e2e2e2;
        padding-bottom: 0;
        position: absolute;
        top: 45px;
    }

    .tabbable .style-2 .mega-menu {
        right: 0;
        left: 0 !important;
    }

    .mega-menu div h4 {
        margin-top: 10px;
    }

    .mega-menu > div:first-child {
        border-right: 0;
    }
}

@media (min-width:768px) {
    .nav-Block {
        margin-right: 0;
    }

    section.section145 {
        padding: 50px 0 40px 0;
    }
}

@media (min-width:992px) {
    .nav-Block {
        margin-right: 5px;
    }
}

@media only screen and (device-width:768px) {
    .style-1 ul.menu {
        padding-right: 5px;
    }
}

@media only screen and (max-width:820px) {
    .menu > ul > li > a, .style-1 ul.menu > li > a {
        font-size: 16px;
        padding: 5px 6px;
    }
}

.style-1 ul.menu {
    padding-right: 0;
}

    .style-1 ul.menu > li > a {
        padding-right: 7px;
        cursor: pointer;
    }

.style-3 .navbar-header {
    margin-left: 0;
    text-align: center;
    float: none;
}

@media only screen and (max-width:991px) and (min-width:768px) {
    .style-1 ul.menu li:nth-child(1) .up-arrow {
        left: 38%;
        top: -19px;
    }

    .style-1 ul.menu li:nth-child(2) .up-arrow {
        left: 52%;
        top: -19px;
    }

    .style-1 ul.menu li:nth-child(4) .up-arrow {
        left: 82%;
        top: -19px;
    }

    .style-2 {
        width: 65%;
    }

        .style-2 .mega-menu {
            /* right:-10%;
        left:25px; 1/8/2020*/
        }

        .style-2 ul.menu li:nth-child(2) .up-arrow {
            left: 58%; /*1/8/2020*/
            top: -19px;
        }

        .style-2 ul.menu li:nth-child(3) .up-arrow {
            left: 63%; /*1/8/2020*/
            top: -19px;
        }
}

@media only screen and (max-width:1199px) and (min-width:992px) {
    .style-1 ul.menu li:nth-child(1) .up-arrow {
        left: 43%;
        top: -19px;
    }

    .style-1 ul.menu li:nth-child(2) .up-arrow {
        left: 56%;
        top: -19px;
    }

    .style-1 ul.menu li:nth-child(4) .up-arrow {
        left: 82%;
        top: -19px;
    }

    .style-2 .mega-menu {
        /* right:-5%;
        left:25px; 1/8/2020*/
    }

    .style-2 ul.menu li:nth-child(2) .up-arrow {
        left: 52%; /*1/8/2020*/
        top: -19px;
    }

    .style-2 ul.menu li:nth-child(3) .up-arrow {
        left: 61%; /*1/8/2020*/
        top: -19px;
    }
}

@media only screen and (max-width:1430px) and (min-width:1200px) {
    .style-1 ul.menu li:nth-child(1) .up-arrow {
        left: 47%;
        top: -19px;
    }

    .style-1 ul.menu li:nth-child(2) .up-arrow {
        left: 56%;
        top: -19px;
    }

    .style-1 ul.menu li:nth-child(4) .up-arrow {
        left: 77%;
        top: -19px;
    }

    .style-2 .mega-menu {
        /* right:-5%;
        left:25px;  1/8/2020*/
    }

    .style-2 ul.menu li:nth-child(2) .up-arrow {
        left: 55%; /*1/8/2020*/
        top: -19px;
    }

    .style-2 ul.menu li:nth-child(3) .up-arrow {
        left: 61%; /*1/8/2020*/
        top: -19px;
    }
}

@media only screen and (min-width:1440px) {
    .style-1 ul.menu li:nth-child(1) .up-arrow {
        left: 47%;
        top: -19px;
    }

    .style-1 ul.menu li:nth-child(2) .up-arrow {
        left: 56%;
        top: -19px;
    }

    .style-1 ul.menu li:nth-child(4) .up-arrow {
        left: 73%;
        top: -19px;
    }

    .style-2 .mega-menu {
    }

    .style-2 ul.menu li:nth-child(2) .up-arrow {
        left: 54%;
        top: -19px;
    }

    .style-2 ul.menu li:nth-child(3) .up-arrow {
        left: 60%;
        top: -19px;
    }
}

#lnkFilter a.active, #lnkTopic a.active, #lnkYear a.active {
    color: #1b64a5;
    font-weight: 600;
}

@media only screen and (max-width:767px) {
    .mega-menu .col-sm-6 {
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .mega-menu {
        padding: 15px;
    }
}

@media only screen and (min-width:1910px) {
    .style-1 ul.menu li:nth-child(1) .up-arrow {
        left: 48%;
        top: -19px;
    }

    .style-1 ul.menu li:nth-child(2) .up-arrow {
        left: 55.2%;
        top: -19px;
    }

    .style-1 ul.menu li:nth-child(4) .up-arrow {
        left: 69.2%;
        top: -19px;
    }
}

@media only screen and (max-width:1910px) and (min-width:1660px) {
    .style-1 ul.menu li:nth-child(1) .up-arrow {
        left: 47.8%;
        top: -19px;
    }

    .style-1 ul.menu li:nth-child(2) .up-arrow {
        left: 56%;
        top: -19px;
    }

    .style-1 ul.menu li:nth-child(4) .up-arrow {
        left: 70.2%;
        top: -19px;
    }
}

@media only screen and (max-width:1660px) and (min-width:1430px) {
    .style-1 ul.menu li:nth-child(1) .up-arrow {
        left: 47.4%;
        top: -19px;
    }

    .style-1 ul.menu li:nth-child(2) .up-arrow {
        left: 55.8%;
        top: -19px;
    }

    .style-1 ul.menu li:nth-child(4) .up-arrow {
        left: 73%;
        top: -19px;
    }
}

@media only screen and (max-width:1430px) and (min-width:1200px) {
    .style-1 ul.menu li:nth-child(1) .up-arrow {
        left: 47%;
        top: -19px;
    }

    .style-1 ul.menu li:nth-child(2) .up-arrow {
        left: 57.8%;
        top: -19px;
    }

    .style-1 ul.menu li:nth-child(4) .up-arrow {
        left: 80%;
        top: -19px;
    }
}

#lnkTopic {
    left: 0;
}
