<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
  <sites>
    <!--<site name="ImageWisely" targetHostName="www.imagewisely.org" hostName="www.imagewisely.org" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />-->
    <site name="AIRP" targetHostName="www.airp.org" hostName="www.airp.org" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <!--<site name="Radpac"  targetHostName="www.radpac.org" hostName="www.radpac.org" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
    <!--<site name="RLI" targetHostName="www.radiologyleaders.org" hostName="www.radiologyleaders.org" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />-->
    <site name="accreditation" targetHostName="www.acraccreditation.org" hostName="www.acraccreditation.org" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
    <!--<site name="informatics" targetHostName="www.acrinformatics.org" hostName="www.acrinformatics.org" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
    <site name="MammographySavesLives" targetHostName="www.mammographysaveslives.org" hostName="www.mammographysaveslives.org" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />-->
  </sites>
  </sitecore>
</configuration>