<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <sites>
      <!--<site name="ImageWisely" targetHostName="auth.acr.org" hostName="auth.acr.org" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />-->
      <site name="AIRP" targetHostName="auth.acr.org" hostName="auth.acr.org" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <!--<site name="Radpac" targetHostName="auth.acr.org" hostName="auth.acr.org" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
      <!--<site name="RLI" targetHostName="auth.acr.org" hostName="auth.acr.org" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />-->
      <site name="accreditation" targetHostName="auth.acr.org" hostName="auth.acr.org" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
      <!--<site name="informatics" targetHostName="auth.acr.org" hostName="auth.acr.org" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
      <site name="MammographySavesLives" targetHostName="auth.acr.org" hostName="auth.acr.org" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />-->
      
    </sites>
  </sitecore>
</configuration>