<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <cacheSizes>
      <sites>
        <DECAMP patch:after="website">
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </DECAMP>
        <ImageWisely patch:after="website">
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </ImageWisely>
        <AIRP patch:after="website">
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </AIRP>
        <!--<MammographySavesLives patch:after="website">
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </MammographySavesLives>-->
          <Radpac patch:after="website">
            <html>50MB</html>
            <registry>0</registry>
            <viewState>0</viewState>
            <xsl>25MB</xsl>
          </Radpac>
          <!--<RLI patch:after="website">
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </RLI>-->
        <accreditation patch:after="website">
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </accreditation>
        <!--<informatics patch:after="website">
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </informatics>-->
        <dsi patch:after="website">
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </dsi>
        <Ideas patch:after="website">
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </Ideas>
      </sites>
    </cacheSizes>

    <mediaLibrary>
      <!--
 MEDIA PROVIDER
   The media provider used to generate URLs, create media items, control media caching, parse media requests, and other
   media related functionality.      
-->
      <mediaProvider type="ACR.Library.CustomSitecore.Providers.AcrMediaProvider, ACR.Library"/>
    </mediaLibrary>

    <events>
      <event name="publish:end">
        <handler type="ACR.Library.Cache.ACRCache, ACR.Library" method="EmptyCacheHandler"/>
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache" patch:instead="handler[@type='Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel']">
          <sites hint="list">
            <site>website</site>
            <site>ImageWisely</site>
            <site>AIRP</site>
            <site>RADPAC</site>
            <!--<site>RLI</site>-->
            <site>accreditation</site>
            <!--<site>informatics</site>
            <site>MammographySavesLives</site>-->
            <site>DECAMP</site>
            <site>dsi</site>
	    <site>Ideas</site>
	    <site>RHEC</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="ACR.Library.Cache.ACRCache, ACR.Library" method="EmptyCacheHandler"/>
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache" patch:instead="handler[@type='Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel']">
          <sites hint="list">
            <site>website</site>
            <site>ImageWisely</site>
            <site>AIRP</site>
            <site>RADPAC</site>
            <!--<site>RLI</site>-->
            <site>accreditation</site>
            <!--<site>informatics</site>
            <site>MammographySavesLives</site>-->
            <site>DECAMP</site>
            <site>dsi</site>
            <site>Ideas</site>
	    <site>RHEC</site>
          </sites>
        </handler>
      </event>
    </events>

    <!--<pipelines>
      <insertRenderings>
        <processor type="ACR.Library.Processors.CustomWidgets, ACR.Library" patch:before="processor[@type='Sitecore.Pipelines.InsertRenderings.Processors.EvaluateConditions, Sitecore.Kernel']"/>
      </insertRenderings>
    </pipelines>-->

    <sites>
      <site name="AIRP" patch:after="site[@name='website']" targetHostName="*airp.org" hostName="*airp.org"  enableTracking="true" virtualFolder="/" physicalFolder="/" rootPath="/Sitecore/Content/Sites/AIRP" startItem="/home" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" />
      <!--<site name="MammographySavesLives" patch:after="site[@name='website']" targetHostName="*mammographysaveslives.org" hostName="*mammographysaveslives.org"  enableTracking="true" virtualFolder="/" physicalFolder="/" rootPath="/Sitecore/Content/Sites/MammographySavesLives" startItem="" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" />
          <site name="RLI" patch:after="site[@name='website']" targetHostName="*radiologyleaders.org" hostName="*radiologyleaders.org"  enableTracking="true" virtualFolder="/" physicalFolder="/" rootPath="/Sitecore/Content/Sites/RLI" startItem="" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" />
      -->
      <site name="accreditation" patch:after="site[@name='website']" targetHostName="*acraccreditation.org" hostName="*acraccreditation.org"  enableTracking="true" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/sites/ACRAccreditation" startItem="/home" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" />
      <!--<site name="informatics" patch:after="site[@name='website']" targetHostName="*acrinformatics.org" hostName="*acrinformatics.org"  enableTracking="true" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/sites/ACRInformatics" startItem="/home" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" />-->
    </sites>
    <commands>
      <command name="acr:exportpledgesubmissions" type="ACRMicroSites.commands.ExportPledgeSubmissions, ACRMicroSites"/>
    </commands>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="custom_web" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <!-- This initializes index property store. Id has to be set to the index id -->
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  <modality>{0B001275-50E5-4C10-BA3B-B72BB303499B}</modality>
                  <modalitystep>{3B5303FD-AFC3-49DF-82A4-D314EACEA0A2}</modalitystep>
                  <twocolumn>{5B16AC5C-E7F9-4DA5-AF47-436B0E257409}</twocolumn>
                  <sectionpage>{C4FDEB80-41EB-4CCC-9145-9792486E066B}</sectionpage>
                  <standardpage>{004A3147-E50D-4FAF-A0CE-100C607B5235}</standardpage>
                </include>
                <IndexAllFields>true</IndexAllFields>
              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/remoteRebuild" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/sites/ACRAccreditation</Root>
              </crawler>
            </locations>
          </index>

          <!--<index id="rli_search_index_web" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            -->
          <!-- This initializes index property store. Id has to be set to the index id -->
          <!--
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  <livemeeting>{1BB91691-F73D-4C17-8ED0-9B28159C1F69}</livemeeting>
                  <externalmeeting>{78AE2533-A95E-4891-95F8-D6D433CA63E9}</externalmeeting>
                  <webinar>{207A95C3-1E65-4FF8-AE36-3B8E2383DE5B}</webinar>
                  <pressrelease>{60C77E32-5028-4C5C-88B5-89CABABA6BAD}</pressrelease>
                  <internalpage>{2830F6CD-8879-4040-B822-A560DD0E01FC}</internalpage>
                </include>
                <IndexAllFields>true</IndexAllFields>
              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">
              -->
          <!-- NOTE: order of these is controls the execution order -->
          <!--
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/remoteRebuild" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/sites/RLI</Root>
              </crawler>
            </locations>
          </index>

          <index id="imagewisely_index_web" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            -->
          <!-- This initializes index property store. Id has to be set to the index id -->
          <!--
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  <aboutus>{AB9D4D89-0D70-46FE-BD33-4B5E1E93F5CC}</aboutus>
                  <equipmentresources>{E18153B9-47E3-45B2-9BED-04E407AEC659}</equipmentresources>
                  <generalpage>{FEFAD87F-FEDE-4A96-952E-E06A088D9F06}</generalpage>
                  <homepage>{76064931-8B7F-49E3-B8DF-8EEF9AB65C44}</homepage>
                  <honorroll>{76485F7A-E300-4C73-9943-7DAD07057EC6}</honorroll>
                  <imagingprofessionalslistpage>{B0885C97-13CE-49BE-B3DD-979D537AA1C9}</imagingprofessionalslistpage>
                  <listpage>{814E576D-E8F7-475D-BA81-CFA0872E95F4}</listpage>
                  <pledgeform>{C70441ED-9E08-464F-81CF-36B1007C99DA}</pledgeform>
                  <pledgelanding>{9C653DD2-385E-4B97-93A3-50929A98480C}</pledgelanding>
                  <taskforcepage>{9D18DB64-6805-4A3D-B346-7E9EC23B710E}</taskforcepage>
                  <contributor>{601994CB-252E-460D-9A7A-DFCEB3D5E047}</contributor>
                </include>
                <IndexAllFields>true</IndexAllFields>
              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">
              -->
          <!-- NOTE: order of these is controls the execution order -->
          <!--
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/remoteRebuild" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/sites/ImageWisely</Root>
              </crawler>
            </locations>
          </index>

          <index id="radpac_index_web" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            -->
          <!-- This initializes index property store. Id has to be set to the index id -->
          <!--
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  <generalpage>{E8F6F442-D2CE-4AF1-BD0C-994707EF2F08}</generalpage>
                  <listpage>{8B9FEABE-9E3A-4366-A29B-FB97F847CAA4}</listpage>
                  <imagingprofessionalslistpage>{41F16411-3627-42E0-B270-8044A7046460}</imagingprofessionalslistpage>
                </include>
                <IndexAllFields>true</IndexAllFields>
              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">
              -->
          <!-- NOTE: order of these is controls the execution order -->
          <!--
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/remoteRebuild" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/sites/RADPAC</Root>
              </crawler>
            </locations>
          </index>

          <index id="rliEvents_index"  type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  -->
          <!-- External Meetings -->
          <!--
                  <externalmeeting>{78AE2533-A95E-4891-95F8-D6D433CA63E9}</externalmeeting>
                  -->
          <!-- Live Meetings -->
          <!--
                  <livemeeting>{1BB91691-F73D-4C17-8ED0-9B28159C1F69}</livemeeting>
                  -->
          <!-- Online Course -->
          <!--
                  <onlinecourse>{2F8D268E-BA70-4762-AA22-A7F0ACE28DDA}</onlinecourse>
                  -->
          <!-- Webinar -->
          <!--
                  <webinar>{207A95C3-1E65-4FF8-AE36-3B8E2383DE5B}</webinar>
                </include>
                <IndexAllFields>true</IndexAllFields>
              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">
              -->
          <!-- NOTE: order of these is controls the execution order -->
          <!--
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/remoteRebuild" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/sites/RLI</Root>
              </crawler>
            </locations>
          </index>-->
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>