@using Glass.Mapper.Sc.Web.Mvc;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Identity.ViewModels.ContactsFooterViewModel>

<div class="xl-col-10 col-8 footer-contact-area">
    <div class="xl-wide-6 md-wide-12 row-adjust">
        <div class="xl-col-6">
            <div class="text-content">
                @Editable(x => x.Column1)
            </div>
        </div>
        <div class="xl-col-6">
            <div class="text-content">
                @Editable(x => x.Column2)
            </div>
        </div>
    </div>

    <div class="xl-wide-6 md-wide-12 md-row-adjust sm-row-adjust">
        <div class="xl-col-7 md-col-6">
            <div class="text-content">
                @Editable(x => x.Column3)
            </div>
        </div>
        <div class="xl-col-5 md-col-6">
            <div class="text-content">
                @Editable(x => x.Column4)
            </div>
        </div>
    </div>
</div>