@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Identity.ViewModels.CopyrightFooterViewModel>

 <div class="text-content text-center">
     <br class="sm-only">
     @Html.Raw(Model.Copyright)
 </div>
