@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Identity.ViewModels.CopyrightFooterViewModel>

<div class="xl-col-5">
    <div class="text-content">
        <br class="sm-only">
        @Html.Raw(Model.Copyright)<br>
    </div>
</div>

@*Copyright © 2019 All Rights Reserved<br>*@
