@using Glass.Mapper.Sc.Web.Mvc;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Identity.ViewModels.IdeasNewsContactsViewModel>

<div class="col-12">
    @Editable(x => x.Contacts)
</div>