<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="rhec_resources_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  <Resource>{7B3080EA-9EEC-44BA-9D6B-917640A995A4}</Resource>
                </include>
                <IndexAllFields>true</IndexAllFields>

                <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                  <!-- Add fields to the Default Index Configuration -->
                  <fieldNames hint="raw:AddFieldByFieldName">
                    <field fieldName="Title" returnType="string" />
                    <field fieldName="Body" returnType="string" />
                    <field fieldName="Summary" returnType="string" />                    
                    <field fieldName="Publish Date" returnType="DateTime" />
                    <field fieldName="Link Override" returnType="string" />
                    
                  </fieldNames>
                </fieldMap>
                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="ResourceTopics" returnType="stringCollection">ACRHelix.Feature.RhecContent.ComputedFields.Topics,ACRHelix.Feature.RhecContent</field>                 
                </fields>

              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">

              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/remoteRebuild" />


            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/RHEC/Resources/</Root>
              </crawler>
            </locations>
          </index>        
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>