<div class="container">
    <div class="row">
        <div class="col-12">
            <form>
                <input type="text" onkeydown="if(event.keyCode == 13){document.getElementById('header_hlSearchLink').click(); return false; }" id="header_tbSearch" class="form-control" placeholder="Enter search words...">
                <span class="search-submit">
                    <a data-url="/Search-Results" id="header_hlSearchLink" class="form-header-search-submit-btn">
                        @**@
                        <i class="fa fa-search"></i>
                    </a>
                </span>
                <span class="d-flex align-items-center justify-content-center search-close"><i class="fa fa-times"></i></span>

            </form>
        </div>
    </div>
</div>

<script>
    window.addEventListener("DOMContentLoaded", function () {
        if ($('.CoveoSearchPageSearchbox').find('input').length > 0 && window.location.href.indexOf('f:contentType')<0) {
            $('#header_tbSearch1').val(window.location.href.split('#')[1].split('=')[1]);
        }
    });
    $(document).ready(function () {
       
        //mobile collapse
        $('.animated-collapse-button').on('click', function () {
            $('.animated-collapse').toggleClass('open');
        });

        $(".search").click(function () {
            $(".search-bar").slideDown('fast');
            $('.animated-collapse-button').click();
            $('.animated-collapse').removeClass('open');
        });
        $('.search-close').click(function () {
            $('.search-bar').slideUp();
        });

        $('#header_hlSearchLink').click(function () {
            var searchInput = $('#header_tbSearch');
            var searchLink = $('#header_hlSearchLink');
            IDEASSearchPageNavigate(searchInput, searchLink);
            if ($('.CoveoSearchPageSearchbox').find('input').length > 0) {
                $('#header_tbSearch1').val($('#header_tbSearch').val());
            }
        });
        $('#header_hlSearchLink1').click(function () {
            var searchInput1 = $('#header_tbSearch1');
            var searchLink1 = $('#header_hlSearchLink1');
            IDEASSearchPageNavigate(searchInput1, searchLink1);
        });
    });

    function IDEASSearchPageNavigate(searchInput, searchLink) {
        searchInput.attr("disabled", "disabled");
        if ($('.CoveoSearchPageSearchbox').find('input').length > 0) {
            $('.CoveoSearchPageSearchbox').find('input').val(searchInput.val());
            $('.CoveoSearchButton').find('.coveo-icon').click();
            searchInput.removeAttr("disabled", "");
        }
        else {
            searchInput.removeAttr("disabled", "");
            window.location.href = searchLink.attr('data-url') + '#q=' + searchInput.val();
        }
        return false;
    }
</script>
