<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <sites>
      <site name="website" targetHostName="auth.acr.org" hostName="auth.acr.org" enableTracking="true" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/ACR" startItem="/home" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <site name="dsi" patch:after="site[@name='website']" targetHostName="auth.acr.org" hostName="auth.acr.org" enableTracking="true" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/DSI" startItem="/home" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <site name="VORBlog" patch:after="site[@name='website']" targetHostName="auth.acr.org" hostName="auth.acr.org"  enableTracking="true" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/sites/VORBlog" startItem="" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <site name="dummy1" xdt:Locator="Match(name)" xdt:Transform="Remove"></site>
      <site name="dummy2" xdt:Locator="Match(name)" xdt:Transform="Remove"></site>
      <site name="website" xdt:Locator="Match(name)" xdt:Transform="Insert" >
        <patch:attribute name="itemwebapi.mode">StandardSecurity</patch:attribute>
        <patch:attribute name="itemwebapi.access">ReadWrite</patch:attribute>
        <patch:attribute name="itemwebapi.allowanonymousaccess">true</patch:attribute>
      </site>
    </sites>
    <settings>
      <setting name="Xdb.Enabled"  xdt:Locator="Match(name)">
        <patch:attribute name="value" value="true" xdt:Transform="Replace"/>
      </setting>
      <setting name="Xdb.Tracking.Enabled" xdt:Locator="Match(name)">
        <patch:attribute name="value" value="true" xdt:Transform="Replace"/>
      </setting>
      <setting name="InstanceName" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing">
        <patch:attribute xdt:Transform="InsertIfMissing" name="value" value="ACRHelixAuth" />
      </setting>
      <setting name="MailServer" xdt:Locator="Match(name)" >
        <patch:attribute xdt:Transform="Replace" name="value" value="smtp01.acr.org" />
      </setting>
      <!--  PUBLISHING INSTANCE
            Assigns the instance name of dedicated Sitecore installation for publishing operations.
            When empty, all publishing operations are performed on the local installation of Sitecore.
            Default vaue: (empty)
      -->
      <setting name="Publishing.PublishingInstance" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing">
        <patch:attribute name="value" value="ACRHelixAuth" />
      </setting>
    </settings>
    <hooks>
      <hook xdt:Locator="Match(type)" type="Sitecore.Diagnostics.MemoryMonitorHook, Sitecore.Kernel" patch:instead="*[@type='Sitecore.Diagnostics.MemoryMonitorHook, Sitecore.Kernel']">
        <param desc="Threshold" xdt:Transform="Replace">5GB</param>
      </hook>
    </hooks>
  </sitecore>
</configuration>