<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <overrideXmlControls>
      <override patch:instead="*[@xmlControl=Sitecore.Shell.Applications.Media.MediaBrowser]" xmlControl="Sitecore.Shell.Applications.Media.MediaBrowser" with="/sitecore/client/applications/Dialogs/SelectMediaViaTreeDialog" />
    </overrideXmlControls>
    <domainManager>
      <domains>
        <domain id="ACRHelix" type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
          <param desc="name">$(id)</param>
          <ensureAnonymousUser>false</ensureAnonymousUser>
        </domain>
      </domains>
    </domainManager>
    <IDTable type="Sitecore.Data.SqlServer.SqlServerIDTable, Sitecore.Kernel" >
      <param connectionStringName="master"/>
      <param desc="cacheSize">2500KB</param>
    </IDTable>
    <sites>
      <site name="website"           
      patch:after="site[@name='modules_website']"      
      hostName="ACRHelix"
      targetHostName="ACRHelix"  
            enableTracking="true" 
            virtualFolder="/" 
            physicalFolder="/" 
            rootPath="/sitecore/content/ACR" 
            startItem="/home" 
            database="web" 
            domain="extranet" 
            allowDebug="true" 
            cacheHtml="true" 
            htmlCacheSize="200MB" 
            registryCacheSize="0" 
            viewStateCacheSize="0" 
            xslCacheSize="25MB" 
            filteredItemsCacheSize="10MB" 
            enablePreview="true" 
            enableWebEdit="true" 
            enableDebugger="true" 
            disableClientData="false" 
            cacheRenderingParameters="true" 
            renderingParametersCacheSize="10MB" />
      <site name="dsi"
            patch:after="site[@name='website']"
      targetHostName="www.acrdsi.org" 
      hostName="www.acrdsi.org" 
            enableTracking="true"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/DSI"
            startItem="/home"
            database="web"
            domain="extranet"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="50MB"
            registryCacheSize="0"
            viewStateCacheSize="0"
            xslCacheSize="25MB"
            filteredItemsCacheSize="10MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"
            cacheRenderingParameters="true"
            renderingParametersCacheSize="10MB" />
      <site name="VORBlog" patch:after="site[@name='website']" targetHostName="*voiceofradiologyblog.org" hostName="*voiceofradiologyblog.org"  enableTracking="true" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/sites/VORBlog" startItem="" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" />
      <!-- NOTE - the following dummy site prevent pages such as http://www.imagewisely.org/sitecore/content/Sites/ACR and http://www.imagewisely.org/Sites/ACR from rendering in the incorrect site context. -->
      <!-- These should never be valid links. -->
      <site name="dummy1" database="web" virtualFolder="/sitecore/content/" physicalFolder="/" rootPath="/sitecore/content/sites/dummy" startItem="" patch:after="site[@name='modules_website']" />
      <site name="dummy2" database="web" virtualFolder="/sitecore/content/sites" physicalFolder="/" rootPath="/sitecore/content/sites/dummy" startItem="" patch:after="site[@name='modules_website']" />      
      <!-- END dummy sites -->
    </sites>
    <cacheSizes>
      <sites>
        <website>
          <html>200MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </website>
        <dsi patch:after="website">
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </dsi>
    </sites>
    </cacheSizes>
    <settings>
      <setting name="RobotsTxtDisallowAll">
        <patch:attribute name="value" value="true" />
      </setting>
      <!--<setting name="Login.BackgroundImageUrl">
        <patch:attribute name="value" value="/images/acr.jpg" />
      </setting>-->
			<setting name="MailServer" >
				<patch:attribute name="value" value="hedc-smtp1-p" />
			</setting>
			 <setting name="Languages.AlwaysStripLanguage" >
        <patch:attribute name="value" value="false"/>
      </setting>
      <setting name="Xdb.Enabled" >
        <patch:attribute name="value" value="false" />
      </setting>
      <setting name="Xdb.Tracking.Enabled" >
        <patch:attribute name="value" value="false" />
      </setting>
      <setting name="HtmlEditor.DefaultProfile" >
        <patch:attribute name="value" value="/sitecore/system/Settings/Html Editor Profiles/Rich Text Full" />
      </setting>
      <setting name="Preview.ResolveSite">
        <patch:attribute name="value" value="true" />
      </setting>
      <setting name="Preview.DefaultSite">
        <patch:attribute name="value" value="website" />
      </setting>
      <setting name="Media.CachingEnabled">
        <patch:attribute name="value" value="false" />
      </setting>

      <setting name="MediaResponse.Cacheability" >
        <patch:attribute name="value" value="Public" />
      </setting>

      <setting name="DisableBrowserCaching">
        <patch:attribute name="value" value="false" />
      </setting>
      
      <setting name="HtmlEditor.RemoveScripts">
        <patch:attribute name="value" value="false" />
      </setting>
      <setting name="Authentication.ClientSessionTimeout">
        <patch:attribute name="value" value="45" />
      </setting>
			<setting name="Media.RequestExtension">
				<patch:attribute name="value"></patch:attribute>
			</setting>
			<setting name="Media.RequestProtection.Enabled">
				<patch:attribute name="value" value="true" />
			</setting>
			<setting name="LicenseFile">
				<patch:attribute name="value" value="/App_Data/license.xml" />
			</setting>
      <setting name="Query.MaxItems">
        <patch:attribute name="value">0</patch:attribute>
      </setting>
      <setting name="LinkItemNotFoundUrl">
        <patch:attribute name="value" value="/Page-Not-Found"></patch:attribute>
      </setting>
      <setting name="ItemNotFoundUrl" >
        <patch:attribute name="value" value="/Page-Not-Found"></patch:attribute>
      </setting>
      <setting name="LayoutNotFoundUrl">
        <patch:attribute name="value" value="/Page-Not-Found"></patch:attribute>
      </setting>
      <setting name="RequireLockBeforeEditing">
        <patch:attribute name="value" value="true"></patch:attribute>
      </setting>
      <setting name="AutomaticUnlockOnSaved">
        <patch:attribute name="value" value="false"></patch:attribute>
      </setting>
      <setting name="Rendering.HtmlEncodedFieldTypes">
        <patch:attribute name="value" value=""></patch:attribute>
      </setting>
      <setting name="Media.CacheFolder">
        <patch:attribute name="value" value="/App_Data/MediaCache"></patch:attribute>
      </setting>
      <setting name="Media.FileFolder" >
        <patch:attribute name="value" value="/App_Data/MediaFiles"></patch:attribute>
      </setting>
      
      <setting name="DisableBundles">
        <patch:attribute name="value" value="false" />
      </setting>
      <setting name="MediaResponse.MaxAge" >
        <patch:attribute name="value" value="50.00:00:00"></patch:attribute>
      </setting>

      <!--<setting name="ContentSearch.ParallelIndexing.Enabled" value="false" />
  
      <setting name="ContentSearch.ParallelIndexing.MaxThreadLimit" value="1" />-->
      <!--<setting name="WebStylesheet">
				<patch:attribute name="value" value="" />
			</setting>-->
      <!-- Recaptcha private/secret key -->
      <setting name="WFM.RecaptchaSecretKey" >
        <patch:attribute name="value" value="6Lfd7z0UAAAAAP554XMT9SILtqWcn0z1KcPMCwdv" ></patch:attribute>
      </setting>
      <!-- Recaptcha public/site key -->
      <setting name="WFM.RecaptchaSiteKey" >
        <patch:attribute name="value" value="6Lfd7z0UAAAAAJ6uhy4uuK0V91PJfM4_glH_F69S" ></patch:attribute>
      </setting>
      <setting name="Analytics.PerformLookup">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
    </settings>
    <sc.variable name="dataFolder">
      <patch:attribute name="value">/App_Data</patch:attribute>
    </sc.variable>
    <linkManager>
      <providers>
        <add name="sitecore" >
          <patch:attribute name="languageEmbedding" value="never" />
        </add>
      </providers>
    </linkManager>
    <hooks>
      <hook type="Sitecore.Diagnostics.MemoryMonitorHook, Sitecore.Kernel" patch:instead="*[@type='Sitecore.Diagnostics.MemoryMonitorHook, Sitecore.Kernel']">
        <param desc="Threshold">3GB</param>
        <param desc="Check interval">00:00:05</param>
        <param desc="Minimum time between log entries">00:01:00</param>
        <ClearCaches>false</ClearCaches>
        <GarbageCollect>false</GarbageCollect>
        <AdjustLoadFactor>false</AdjustLoadFactor>
      </hook>
    </hooks>
    <scheduling>
      <agent type="Sitecore.Tasks.CleanupAgent">
        <files hint="raw:AddCommand">
          <remove folder="$(dataFolder)/logs">
            <patch:attribute name="maxAge">23:00:00</patch:attribute>
            <patch:attribute name="pattern">*.txt</patch:attribute>
          </remove>
          <remove folder="$(dataFolder)/MediaCache" pattern="*.*" maxAge="2.00:00:00" recursive="true" patch:instead="remove[@folder='/App_Data/MediaCache']" />
        </files>
      </agent>
    </scheduling>

  </sitecore>
</configuration>
