<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <tracking>
      <sharedSessionState>
        <patch:attribute name="defaultProvider">InProc</patch:attribute>
       <providers patch:instead="providers">
          <clear/>
          <add name="InProc" type="System.Web.SessionState.InProcSessionStateStore" />
        </providers>
      </sharedSessionState>
      </tracking>
  </sitecore>
</configuration>
     
