.flex-container > .img-sm-item { margin: 2rem 0 0; }
.img-sm-item figure { margin-left: auto; margin-right: auto; display: block; max-width: 235px; }
.form-box{padding: 1rem .7rem; border:1px solid #ccc; margin:auto; max-width: 480px;}
.page-form-area{padding:0 .3rem}
.form-box h3{font-size: 1.125rem; color:#fff; font-weight:600; text-transform: uppercase; margin:0 0 .2rem; text-align: center; width: 100%;}
.form-box input[type=submit],.form-box button{width: 100%;}
.bg-black{background: #000; }
.bg-black label{color:#fff; display: inline-block; margin-top:.5rem; margin-bottom:.2rem;}

@media only screen and (min-width: 640px) {
	.img-sm-item { width: 235px; }
}

.page-form-area .scWebEditInput{
    color: #fff;
}
