@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

<header class="header">
    <div class="header-main container">
        <div class="row">
            @Html.Sitecore().Placeholder("rp-logo")
            <div class="col-md-8 col-8">
                <ul class="menu-top float-right">
                    <li>
                        @Html.Sitecore().Placeholder("rp-searchbox")
                    </li>
                    <li>
                        <a class="search-top" href="javascript:void(0)"><i class="fa fa-search"></i></a>
                        <a class="search-top-mobile" href="javascript:void(0)"><i class="fa fa-search"></i></a>
                    </li>
                    @Html.Sitecore().Placeholder("rp-utility-menu")
                </ul>
                <br />
            </div>
            <div class="menu main-nav-wrapper">
                @Html.Sitecore().Placeholder("rp-main-nav")
            </div>
            <div class="mobile-search-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="form">
                                <input id="rp-searchbox-mobile" type="text" class="form-control" placeholder="Enter Search Term">
                                <span class="search-close"><i class="fa fa-close"></i></span>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
