@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ImageWiselyContent.ViewModels.AdditionalResourcesViewModel>

<section class="white-bg imagePledge">
    <div class="container">
        <div class="section-inner-padding30">
            <h1 class="text-blue imgwise-block">@Editable(x => x.ResourcesContent.Title)</h1>
            @if (Model.ResourcesContent.LinksList.Count() > 0)
            {
                <p>
                    @foreach (var item in Model.ResourcesContent.LinksList)
                    {
                        if (item.Link != null)
                        {
                            using (BeginRenderLink(item, x => x.Link, new { @style = "text-decoration: none;" },  isEditable: true))
                            {
                                @item.Link.Text if (item.Link.Target == "_blank") { <i class="goto"></i> }
                            }
                            <br />
                        }
                    }
                    
                    
                </p>
            }
        </div>
    </div>
</section>


