@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ImageWiselyContent.ViewModels.IWPageTitleViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<section class="white-bg imgwise-block extra-padding-t-b logos-block">
    <div class="container">
        <div class="art-redheader">
            <div class="row">
                <div class="col-xs-1 wow fadeInLeft padding-0 text-center">
                    <img src="~/images/ImageWisely/curly-brace-left.jpg" />
                </div>
                <div class="col-xs-10 wow fadeInLeft padding-0 text-center">
                    <h1>@Editable(x => x.Title)</h1>
                    @if (Model.SubTitle != "" || Sitecore.Context.PageMode.IsExperienceEditorEditing)
                    {
                        <p>@Editable(x => x.SubTitle)</p>
                    }
                </div>
                <div class="col-xs-1 wow fadeInLeft padding-0 text-center">
                    <img src="~/images/ImageWisely/curly-brace-right.jpg" />
                </div>
            </div>
        </div>
        @Html.Sitecore().DynamicPlaceholder("TitleShareLinks", true)

        @if (Model.RichText != "" || Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            <div class="">
                @Editable(x => x.RichText)
            </div>
        }
    </div>
</section>