@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ImageWiselyContent.ViewModels.GlobalBannerTextViewModel>

@if (!string.IsNullOrWhiteSpace(Model.Text))
{
    <!-- Header Section Start -->
    <!-- BEGIN NOINDEX -->
    <section class="white-bg text-justify text-last-justify top-block">
        <div class="container">
            @Editable(x => x.Text)
        </div>
    </section>
    <!-- END NOINDEX -->
}
