@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ImageWiselyContent.ViewModels.IWPageTitleViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<section class="white-bg imgwise-block logos-block">
    <div class="container">
        <h1 class="tag-h1-blue">@Editable(x => x.Title)</h1>
        
        @if (Model.SubTitle != "" || Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            <h3>@Editable(x => x.SubTitle)</h3>
        }

        @if (Model.RichText != "" || Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            <div class="">
                @Editable(x => x.RichText)
            </div>
        }
    </div>
</section>