@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ImageWiselyContent.ViewModels.IWPageTitleViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<section class="text-justify text-last-justify padding-0 theme2-bg" @if (Model.Image != null) { @Html.Raw("style = 'background:url(" + Model.Image.Src + ") right top #3d6984 no-repeat'");  }>
    <div class="container">
        @if (!string.IsNullOrWhiteSpace(Model.Title) || Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            <div class="bannerBlock-small">
                <h1>@Editable(x => x.Title)</h1>
            </div>
        }        
    </div>
</section>

@*@if (Model.SubTitle != "" || Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <section class="white-bg imgwise-block extra-padding-t-b">
        <div class="container">
            <h3>@Editable(x => x.SubTitle)</h3>          
        </div>
    </section>
}*@
