@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ImageWiselyContent.ViewModels.RichTextSectionViewModel> 


<section class="white-bg imgwise-block extra-padding-t-b logos-block">
    <div class="container">
        @if (!string.IsNullOrWhiteSpace(Model.RichTextSect.Title) || Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            <h1 class="header-title">@Editable(x => x.RichTextSect.Title)</h1>
            @*<hr />*@
        }
        @Editable(x => x.RichTextSect.RichText)
    </div>
        
</section>
