@using Glass.Mapper.Sc.Web.Mvc;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.SocialMedia.ViewModels.SocialMediaFeedViewModel>

<div class="social-feed">@Html.Raw(Model.EmbeddedHTML)</div>