@using Glass.Mapper.Sc.Web.Mvc;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.SocialMedia.ViewModels.SocialMediaViewModel>


<div class="content section-spacing">

    <h2>@Editable(x => x.Title)</h2>
    <hr>

    <div class="indented-section">
        <div class="row-adjust">
            
            <div class="xl-col-6 lg-col-12 fl-right social-feed-area">
                @Html.Sitecore().Placeholder("social-media-feeds")
            </div>
            
            @Html.Sitecore().Placeholder("social-media-link-lists")
         </div>
    </div>
</div>