<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="core" connectionString="Data Source=CPV-DMZSQL16;Initial Catalog=Sitecore_Core;User ID=coreuser;Password=Sitecore92$123" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="security" connectionString="Data Source=CPV-DMZSQL16;Initial Catalog=Sitecore_Core;User ID=securityuser;Password=Sitecore92$123" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="master" connectionString="Data Source=CPV-DMZSQL16;Initial Catalog=Sitecore_Master;User ID=masteruser;Password=Sitecore92$123" xdt:Transform="Remove" xdt:Locator="Match(name)" />
  <add name="web" connectionString="Data Source=CPV-DMZSQL16;Initial Catalog=Sitecore_Web;User ID=webuser;Password=Sitecore92$123" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="preview" connectionString="Data Source=CPV-DMZSQL16;Initial Catalog=Sitecore_Preview;User ID=webuser;Password=Sitecore92$123" xdt:Transform="Remove" xdt:Locator="Match(name)" />
  <add name="reporting.apikey" connectionString="Y76OCr3dq3A9OJ0rqXdYKbD1l1qbpoJt" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
  <add name="messaging" connectionString="Data Source=CPV-DMZSQL16;Initial Catalog=Sitecore_Messaging;User ID=messaginguser;Password=Sitecore92$123" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xdb.referencedata" connectionString="Data Source=CPV-DMZSQL16;Initial Catalog=Sitecore_ReferenceData;User ID=referencedatauser;Password=Sitecore92$123"  xdt:Transform="Remove" xdt:Locator="Match(name)" />
  <add name="experienceforms" connectionString="Data Source=CPV-DMZSQL16;Initial Catalog=Sitecore_ExperienceForms;User ID=formsuser;Password=Sitecore92$123" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="exm.master" connectionString="Data Source=CPV-DMZSQL16;Initial Catalog=Sitecore_EXM.Master;User ID=exmmasteruser;Password=Sitecore92$123" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="reporting" connectionString="Data Source=CPV-DMZSQL16;Initial Catalog=Sitecore_Reporting;User ID=reportinguser;Password=Sitecore92$123" xdt:Transform="Remove" xdt:Locator="Match(name)" />
  <add name="sitecore.reporting.client" connectionString="https://CortexReporting.acr.org" xdt:Transform="Remove" xdt:Locator="Match(name)" />
  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=65984600AAF365E728EF654BED5386842827B1AE" xdt:Transform="Remove" xdt:Locator="Match(name)" />
  <add name="solr.search" connectionString="https://solr.acr.org:8983/solr" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="sitecoreidentity.secret" connectionString="xtVlHY8AZm5XV2HAAI2emMz5vTflknDpzjnLb79fD66Fq3cN52qsgvu8M1JrQ9KFFyY0TUzhPxHPZqJ0lDA31Fc4tP3LaUTou5JY" xdt:Transform="Remove" xdt:Locator="Match(name)" />
  <add name="xconnect.collection" connectionString="https://XConnectCollection.acr.org"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=65984600AAF365E728EF654BED5386842827B1AE" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://XConnectMarketingAutomation.acr.org" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=65984600AAF365E728EF654BED5386842827B1AE" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://XConnectMarketingAutomationReporting.acr.org" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=65984600AAF365E728EF654BED5386842827B1AE" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xdb.referencedata.client" connectionString="https://XConnectReferenceData.acr.org" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=65984600AAF365E728EF654BED5386842827B1AE" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="EXM.CryptographicKey" connectionString="0x9812067893438802073440601798349335669025741874251674664070066610" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="EXM.AuthenticationKey" connectionString="0x4060550128539936771264808861734463198929065744159755107114312667" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

  <add name="Sitecore.Services.Token.SecurityKey" connectionString="key=GHUwnYMxb75Td25yqyVdQQ8QQ8RzBG6T"  xdt:Transform="Remove" xdt:Locator="Match(name)" />

  <add name="ACRHelix_dashboardEntities" connectionString="metadata=res://*/Entity.DashboardEntityModel.csdl|res://*/Entity.DashboardEntityModel.ssdl|res://*/Entity.DashboardEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CPV-DMZSQL16;initial catalog=ACRHelix_dashboard;user id=SiteCoreDB;password=sCore1289;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="ACR_APP_DATA_Entities" connectionString="metadata=res://*/DataContext.AcrAfw.csdl|res://*/DataContext.AcrAfw.ssdl|res://*/DataContext.AcrAfw.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CPV-DMZSQL16;initial catalog=ACR_APP_DATA;user id=SiteCoreDB;password=sCore1289;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="ACR_APP_DATA_Entities_2" connectionString="user id=SiteCoreDB;password=sCore1289;Data Source=CPV-DMZSQL16;Database=ACR_APP_DATA" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="ExpressUrlDatabase" connectionString="metadata=res://*/Data.ExpressUrlEntityModel.csdl|res://*/Data.ExpressUrlEntityModel.ssdl|res://*/Data.ExpressUrlEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;user id=SiteCoreDB;password=sCore1289;Data Source=CPV-DMZSQL16;Database=ACRHelix_ExpressUrls;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="ACR.Library.Properties.Settings.ACR_WebsiteFormSubmissionsConnectionString" connectionString="user id=SiteCoreDB;password=sCore1289;Data Source=CPV-DMZSQL16;Initial Catalog=ACR_WebsiteFormSubmissions;Persist Security Info=True;" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="CTC_ConnectionString" connectionString="Data Source=CPV-DMZSQL16;Initial Catalog=ACR_APP_DATA;User ID=SiteCoreDB;Password=sCore1289;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="IdeasDataEntities" connectionString="metadata=res://*/Ideas.Data.IdeasDataModel.csdl|res://*/Ideas.Data.IdeasDataModel.ssdl|res://*/Ideas.Data.IdeasDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CPV-DMZSQL16;initial catalog=ACR_APP_DATA;user id=SiteCoreDB;password=sCore1289;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
</connectionStrings>