<div id="site-header-outer">
    @*<aside id="site-header-ad">
        <div id="site-header-ad-inner" class="content row">
            @if (HttpContext.Current.Request.UserAgent != "Coveo Sitecore Search Provider")
            {
                <div class="col-12 text-center" id="header-ad-write">
                </div>
            }
        </div>
        <div id="header-ad-btn">
            <i class="acr-icon icon-db-chevron-down"></i>
            <i class="acr-icon icon-db-chevron-up"></i>
        </div>
    </aside>*@
    <header id="site-header" role="banner">

        <div class="content row stick-hide">
            <div class="col-12">
                @Html.Sitecore().Placeholder("logo")
                <div id="mobile-nav-btn">
                    <div id="mobile-nav-btn-inner">
                        <div class="nav-top-bar"></div>
                        <div class="nav-mid-bar"></div>
                        <div class="nav-bot-bar"></div>
                    </div>
                </div>
                <div id="utility-nav">
                    <nav>
                        <div class="dsi-top-utility-nav inline-ul" style="margin-bottom: 0px !important;">
                            @Html.Sitecore().Placeholder("dsi-top-link-menu")
                        </div>
                          <div class="content row" id="header-search" role="search">
                   
                            <!-- grabbypooed from ACR.org JT, so I think it should be close-->
                            <a href="/" id="header-logo-sticky-srch"><span class="sr-only">ACR Logo</span></a>
                            @Html.Sitecore().Placeholder("search")

                       
                </div>
                    </nav>
                </div>
              
            </div>
        </div>
        <div id="main-nav-area">
            <nav role="navigation">
                <div class="content">
                    <div id="main-nav">
                        <div id="main-nav-holder">
                            @Html.Sitecore().Placeholder("navbar")
                        </div>
                    </div>
                </div>

                <div id="additional-mobile-nav" class="hide">
                    <!--<div class="bg-acr-blue mobile-nav-bottom-links" id="m-utility-top">
                        js will copy nav here from deskptop 
                    </div>-->
                    <div class="inline-block-cols mobile-nav-bottom-links" id="m-utility-bottom">
                        <!--js will copy nav here from deskptop-->
                    </div>
                </div>
            </nav>
        </div>
    </header>
</div>
