@using Glass.Mapper.Sc.Web.Mvc;
@using System.Collections.Specialized;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Callouts.ViewModels.CalloutsItemViewModel>

<div class="content section-spacing">
    <div class="row indented-section">

        <!--start: Module -->
        <div class="button-block text-center xl-text-left">
            <div class="xl-col-7 btn-block-title-area">
                @using (BeginRenderLink(x => x.Link, new NameValueCollection() { { "class", "inline-block text-size-1p125 no-target-icon" } }, isEditable: false))
                {
                <span class="acr-icon text-orange icon-document"></span>
                @Editable(x => x.Title)
                <span class="acr-icon icon-db-chevron2-right"></span>
                }
            </div>
            <div class="xl-col-5 xl-text-right">
                @RenderLink(x => x.Link, new NameValueCollection() { { "class", "button btn-white" } }, isEditable: true)
            </div>
        </div>
        <!--end: Module -->
    </div>
</div>
