@using Glass.Mapper.Sc.Web.Mvc;
@using System.Collections.Specialized;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Callouts.ViewModels.CalloutsItemViewModel>

<aside class="register-callout xl-wide-6 md-wide-12 text-center xl-text-left fl-right">
    <div class="register-callout-header">
        <h3>
            @using (BeginRenderLink(x => x.Link, new NameValueCollection() { { "class", "inline-block no-target-icon" } }, isEditable: false))
            {
                @Editable(x => x.Title)
                <span class="acr-icon icon-db-chevron2-right text-acr-light-blue"></span>
            }
        </h3>
    </div>
    <div class="register-callout-text">
        <div class="col-12 text-content sm-pad-bottom-1em">
            @Editable(x => x.Teaser)
            <div class="clear"></div>
            <br>
            @RenderLink(x => x.Link, new NameValueCollection() { { "class", "button no-target-icon" } }, isEditable: true)
        </div>
    </div>

</aside>