@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ACRDashboard.ViewModels.ACRDashboardViewModel>


<nav class="side-nav xl-col-30pct lg-col-12">
@using (BeginEditFrame(Model.DashboardModel, "Side Navigation", x => x.SideNavigationItems))
{
    <div class="xl-hide profile-toggle-side-nav">
        <h3>My ACR </h3><i class="acr-icon icon-arrow-right"></i>
    </div>
    <div id="dnn_ctr928_ContentPane">
        <div id="dnn_ctr928_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
            <div id="dnn_ctr928_HtmlModule_lblContent" class="Normal side-nav-inner">
                <ul class="main">
                    @foreach (var navItem in Model.DashboardModel.SideNavigationItems)
                    {
                        using (BeginEditFrame(navItem,"Navigation Item",x => x.Link, x => x.Icon))
                        {
                        <li>
                            @*<a href="account-my-acr.html"><i class="acr-icon icon-gear"></i>Account Overview</a>*@
                            @using (BeginRenderLink(navItem, x => x.Link,new {@class="no-target-icon" }, isEditable: true))
                            {
                                <i class="acr-icon @navItem.Icon"></i>
                                @navItem.Link.Text
                            }
                        </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
}
</nav>
