@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ACRDashboard.ViewModels.ACRDashboardViewModel>


<section class="col-12">
    @using (BeginEditFrame(Model.DashboardModel, "Selected Engage Links", x => x.EngageLinks))
    {
        <div class="box-account">
            <h2 style="float:left">Engage</h2>
            <img src="/images/EngageGraphic.jpg" style="max-height:50px;float:right" />
            <div class="clear"></div>
            <hr>
            <div class="row-adjust flex-content-left">

                @foreach (var engageLink in Model.DashboardModel.EngageLinks)
                {
                    <section class="xl-col-4 lg-col-6">
                        <div class="ways-learn-tile">
                            @using(BeginEditFrame(engageLink,"Engage Link",x => x.Link, x => x.Icon)) { 
                            <div class="ways-learn-header">
                                <h3>
                                    @RenderLink(engageLink, x => x.Link, new System.Collections.Specialized.NameValueCollection() { { "class", "read-more-link" } }, isEditable: true)
                                </h3>
                            </div>
                            <figure class="dashboard-engage-icon"><a href="#" class="block orange-link"><i class="acr-icon @engageLink.Icon"></i></a></figure>
                        }
                        </div>
                    </section>
                }

            </div>
        </div>
    }
</section>
