@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.ACRDashboard.ViewModels.DashboardLinksViewModel>


<section class="xl-col-5 md-col-12" id="mylinks">
    <a href="#mylinks" id="scrollmylinks" style="display:none">scroll my links</a>
    <div class="box-account">
        <h2>My Links &amp; Reports</h2>
        <hr>
        <div class="dashboard-links-container">
            @foreach (var page in Model.PagedLinks)
            {
                <div class="link-group">
                    @foreach (var link in page)
                    {
                    <h3><a target="_blank" href="@link.LinkUrl">@link.LinkName</a></h3>
                    }
                </div>
            }        
        </div>
        <div class="dashboard-links-pager text-center">
        </div>
        <a href="#my-links-reports" class="text-green" id="add-new-my-link"><i class="acr-icon icon-plus text-size-1p125 v-align-middle"></i>&nbsp; Manage Links</a>
    </div>
</section>
