<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initializeContainer>
        <processor type= "ACRHelix.Feature.IdeasContent.Pipelines.InitializeContainer.RegisterDependencies, ACRHelix.Feature.IdeasContent" />
      </initializeContainer>
    </pipelines>
    <settings>
      <setting name="Mapapi.ClientId" value="gme-americancollegeof" />
      <setting name="Mapapi.CryptoKey" value="ioe6AUHSKAW1o8lISpgf16Jq9Qs=" />
      <setting name="Mapapi.Url" value="https://maps.google.com/maps/api/geocode/json" />
    </settings>
  </sitecore>
</configuration>
