* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body.small-backgrd,
body.large-backgrd  {
    background: url(/images/RHEC/gradient-background.png), url(/images/RHEC/green-background.png);
    background-position: top -100px left -160px, top -60px right -80px;
    background-repeat: no-repeat;
    background-size: 300px, 180px;
}

/*header {
    padding: 32px 32px 0px;
}

.info .inner-section {
    padding: 32px;
}*/

.RHEC-logo {
    line-height: 0;
}

nav ul {
    padding: 16px 0 32px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

    nav ul li,
    .footer-links ul li {
        list-style-type: none;
    }

        nav ul li:not(:last-of-type) {
            padding-bottom: 16px;
        }

        nav ul li a {
            color: #181d4d;
        }

a {
    text-decoration: none;
}

.act-now {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oval-btn {
    padding: 14px 24px;   
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    border-radius: 28px;
}

.oval-btn {
    cursor: pointer;
}

.no-border {
    border: none;
    width: unset;
}

input[type="submit"] {
    cursor: pointer;
}

.commit-btn,
.submit-btn {
    background: #d4450c;
}

    .commit-btn:hover,
    .submit-btn:hover {
        background: #52918e;
    }

.pledges-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pledge-squares {
    display: none;
}

.pledges-container p:nth-child(2) {
    color: #52918e;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.pledges-amount {
    font-size: 72px;
    font-weight: 700;
    color: #181e4b;
    font-family: "Raleway", sans-serif;
}

header,
.inner-section,
.empowering-we,
.topics,
.resources,
.orgs,
.about-us,
.commit,
.resource-details-page,
.contact-us,
.resources-page {
    padding: 32px 20px;
}
.empowering-we,
.about-us,
.commit,
.contact-us,
.resources-page,
.resource-details-page {
    padding-top: 20px;
}

.first-label-home {
    padding: 52px 20px 0;
}
.first-label {
    padding: 20px 20px 0;
}

.section-label {
    padding-bottom: 20px;
}
.label,
.label a {
    color: #f25718;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
}

    .label a.current {
        text-decoration: underline;
    }

h1,
h2,
h2 a {
    padding-bottom: 24px;
    color: #181e4b;
    font-size: 48px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}

    h2 a:hover {
        text-decoration: underline;
    }
.resources h2, .resources .label {
    text-align: center;
}

.hc-equity-container .section-text,
.about-us-container .section-text {
    line-height: 1.6;
    padding-bottom: 32px;
}

.section-text {
    color: #5e6282;
    font-size: 18px;
}

.page-content, .pledge-page-content {
    line-height: 1.6;
    color: #5e6282;
    font-size: 18px;
}

    .page-content p, .page-content li, .pledge-page-content p, .pledge-page-content li {
        line-height: 1.6;
        color: #5e6282;
        font-size: 18px;
        padding-bottom: 32px;
    }
    .hiddentopic{
        display:none;
    }
    .pledge-page-content ol li, .pledge-page-content ul li {
        padding-top: 8px;
        line-height: 1.6;
        padding-bottom: 0px;
    }

        .page-content li::marker, .pledge-page-content li::marker {
            color: #D4450C;
            margin-right: 8px;
        }

.field-validation-error {
    color: red;
    padding-top: 8px;
    max-width: 270px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #d4450c;
    width: 71px;
    height: 71px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.figure-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

    .figure-container figure {
        margin-bottom: 28px;
        border-radius: 28px;
        border: 1px solid #d0d0d0;
    }

    .figure-container figure {
        margin-right: 18px;
        margin-left: 18px;
    }

        .figure-container figure:hover {
            border: 1px solid #d4450c;
        }

.arrow-btn {
    border-radius: 50%;
    padding: 16px;
    background: #d4450c;
    color: white;
    cursor: pointer;
}

.carousel_btn {
    position: relative;
    background: none;
    border: none;
}

    .carousel_btn:disabled {
        opacity: 0.5;
    }

.mob-btn-container {
    display: flex;
    justify-content: center;
}

    .mob-btn-container button {
        margin: 0 12px;
    }

.tab-btn-container {
    display: none;
}
.desk-carousel-btn {
    display: none;
}



.why-image {
    display: block;
    height: 290px;
    /*object-fit: cover;*/
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
}

.why-image-caption {
    padding: 20px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
}

.why-image,
.why-image-caption {
    width: 280px;
}
.why-image-caption {
    height: 144px;
}

.ellipsis {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.bold {
    font-weight: 700;
    padding: 20px 0 0;
}
.bold-home {
    font-weight: 700;
    padding: 0px 0 15px;
}


.topics-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.topic {
    color: #ffffff;
    background: #5e6282;
    border: 2px solid #ffffff;
    border-radius: 28px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 12px 20px;
}

    .topic:not(:last-of-type) {
        margin-bottom: 8px;
    }

    .topic:hover, .topic.active {
        background: #ffffff;
        border: 2px solid #5e6282;
        color: #5e6282;
    }

.need-help,
.info {
    background: #f2f2f2;
}

h5 {
    padding-bottom: 4px;
    color: #5e6282;
    font-size: 18px;
}

.vision {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 32px;
}

.vision-icon {
    padding-right: 18px;
}

.shares {
    background: #ffffff;
    padding: 20px;
    border-radius: 28px;
    width: fit-content;
}

.shares-img {
    border-radius: 24px;
    width: 240px;
}

.shares figcaption {
    font-size: 14px;
}

    .shares figcaption a {
        color: #5e6282;
    }

footer,
.copyright div a {
    color: #5e6282;
    font-size: 16px;
}
.copyright {
    padding-top: 52px;
}

.orgs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.org-logo {
    padding: 16px 0;
    max-width: 280px;
}

.orgs .downsize {
    max-width: 150px;
}

.links-container img {
    display: block;
    padding-bottom: 28px;
}

/*.links-container .oval-btn {
    margin-bottom: 28px;
}*/

.footer-links p {
    font-weight: 700;
    padding-bottom: 16px;
}

.footer-links ul li {
    padding-bottom: 12px;
}

    .footer-links ul{
        padding-bottom: 36px;
    }
    .footer-links ul li a {
        color: #5e6282;
    }
.desktop-logo-btn {
    display: none;
}
/* about us */
.italic {
    font-style: italic;
    font-weight: 700;
}

ol,
.about-us-container ul,
.pledge-page-content ul {
    padding: 0 24px;
}

.section-text::marker {
    color: #d4450c;
    margin-right: 8px;
}

.section-text a {
    color: #5e6282;
}
.reference {
    color: #407d78;
    overflow-wrap: break-word;
} 
.page-content a, pledge-page-content a {
    color: #407d78;
    overflow-wrap: break-word;
    text-decoration: underline;
}

/* commit to act page */
.form-btn-container {
    margin-bottom: 35px;
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .form-btn-container label {
        font-weight: bold;
    }

    .form-btn-container input {
        margin-top: 12px;
    }

.pledge-list-container {
    padding: 0 0 48px;
}

    .pledge-list-container ol li {
        padding-top: 8px;
        line-height: 1.6;
    }

.form-btn-container input {
    color: #407d78;
    background: none;
    text-transform: uppercase;
    font-size: 18px;
}

    .form-btn-container input:hover,
    .form-btn-container input.active {
        text-decoration: underline;
    }

.sub-header, h3, h3 a {
    display: block;
    padding-bottom: 12px;
    /*color: #d4450c;
    font-family: "Raleway", sans-serif;*/
    font-size: 27px;
    font-weight: bold;
}

    .sub-header:hover {
        text-decoration: underline;
    }

    .sub-header a, p.sub-header, h3, h3 a {
        color: #d4450c;
        font-family: "Raleway", sans-serif;
    }

*:focus {
    outline: none;
}

form input,
form textarea, form select {
    width: 270px;
    padding: 12px;
    border: 1px solid #5e6282;
    border-radius: 7px;
    background: #f9f9f9;
}

form label,
form input,
form textarea, form select {
    color: #5e6282;
    font-size: 16px;
}
form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(/images/RHEC/down-arrow.png);
    background-position: calc(100% - 20px) calc(1em + -2px);
    /*background-position: calc(100% - 24px) calc(1em + 4px), calc(100% - 20px) calc(1em + 4px), calc(100% - 2.5em) 0.5em;*/
    /*background-size: 5px 5px, 5px 5px, 1px 1.5em;*/
    background-repeat: no-repeat;
}
.requiredlabel:after {
    content: "*";   
    padding-left: 5px;  
}
.requiredlabelred:after {
    content: "*";
    padding-left: 5px;
    color:red;
}
form label {
    padding-bottom: 8px;
}

.label-input-wrapper {
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
}

input::placeholder,
textarea::placeholder {
    color: #cbd7ed;
    font-size: 16px;
}

.submit-btn {
    margin: 32px 0 0;
    padding: 14px 60px;
}

.recaptcha {
    display: block;
    width: 257px;
}

.facility-form {
    display: none;
}

/* resource details */
.resource-details-img {
    float: left;
    margin: 0 32px 32px 0;
    width: 280px;
    border-radius: 28px;
}

.resource-details-container .section-text {
    line-height: 1.6;
}

    .resource-details-container .section-text:not(:first-of-type) {
        padding-top: 28px;
    }

/* contact us */
textarea {
    height: 200px;
}

/* resources */
.topics-list-containers {
    padding-bottom: 52px;
}
.decorated {
    overflow: hidden;
    text-align: center;
    margin: 20px 0 0px;
}

    .decorated > span {
        position: relative;
        display: inline-block;
    }

        .decorated > span:before, .decorated > span:after {
            content: '';
            position: absolute;
            top: 50%;
            border-bottom: 2px solid #407d78;            
            width: 1000px;
            margin: 0 20px;
        }

        .decorated > span:before {
            right: 100%;
        }

        .decorated > span:after {
            left: 100%;
        }

.resources-page .more-topics-btn { 
    background: none;
    text-transform: uppercase;
    color: #407d78;
    font-size: 18px;
    width: 100%;    
    cursor:pointer;
}

    .resources-page .more-topics-btn:hover {
        text-decoration: underline;
    }

.resource-item:not(:last-of-type) {
    margin-bottom: 52px;
}

.resource-item .bold {
    padding: 0 0 12px;
}

.pagination {
    margin-top: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.arrow-wrapper {
    border: 1px solid #bbbbbb;
    background: #f9f9f9;
    height: 36px;
    width: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    .arrow-wrapper:hover {
        border: 1px solid #d4450c;
    }

    .arrow-wrapper:first-of-type {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .arrow-wrapper:last-of-type {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .arrow-wrapper:disabled,
    .arrow-wrapper[disabled] {
        opacity: 50%;
    }

.arrow {
    color: #d4450c;
    font-size: 32px !important;
    width: 100%;
    height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.pages {
    color: #5e6282;
    margin: 0 12px;
}

.pagination input {
    border: 1px solid #bbbbbb;
    border-left: none;
    height: 36px;
    width: 56px;
    text-align: center;
    font-size: 18px;
    color: #5e6282;
}

.max-page {
    color: #82bfbc;
    margin-left: 5px;
}

.share {
    color: #d4450c;
    padding: 12px 0 0;
}

    .share:hover {
        text-decoration: none;
    }

    .share .click-here {
        display: block;
        font-family: "Raleway", sans-serif;
        color: #82bfbc;
    }

        .share .click-here:hover {
            text-decoration: underline;
        }

.resdetail-header h5 {
    padding-bottom: 14px !important;
    font-family: "Raleway", sans-serif;
}

.resdetail-header h2 {
    padding-bottom: 8px;
}

/*@media (max-width: 768px) {
    .logo-btn {
        height: 188px;
    }
}*/
h4 {
    color: #407D78;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 700;
}
    @media (min-width: 768px) {
        body.large-backgrd {
            background-position: top -350px left -400px, top -70px right -40px;
            background-size: 700px, 500px;
        }
        body.small-backgrd {
            background-position: top -350px left -400px, top -200px right -280px;
            background-size: 700px, 500px;
        }


       
        .header-nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .nav-btn-container {
            display: flex;
            flex-direction: column;
        }


        nav ul {
            padding: 0;
            flex-direction: row;
        }

            nav ul li:not(:last-of-type) {
                padding-bottom: 0;
                padding-right: 28px;
            }

        .act-now {
            align-items: flex-end;
        }

            .act-now .commit-btn {
                margin-top: 36px;
            }

        .empowering-we {
            display: flex;
            flex-direction: row;
        }

        .pledges-container {
            padding: 0 32px 0 0;
            float: right;
        }

        .pledge-squares {
            display: block;
            margin-top: 20px;
        }

        .pledges-container p:nth-child(2) {
            color: #ffffff;
            text-align: right;
        }
        header {
            padding: 32px;
        }

        .first-label-home {
            padding: 32px 52px 0;
        }
        .first-label {
            padding: 20px 52px 0;
        }

        .inner-section,
        .empowering-we,
        .topics,
        .resources,
        .orgs,
        .about-us,
        .commit,
        .resource-details-page,
        .contact-us,
        .resources-page {
            padding: 32px 52px;
        }

        .empowering-we,
        .about-us,
        .commit,
        .contact-us,
        .resources-page,
        .resource-details-page {
            padding-top: 20px;
        }

        h1 {
                font-size: 72px;
            }

        .why-image {
            height: 328px;
        }

        .why-image,
        .why-image-caption {
            width: 314px;
        }
        .tab-btn-container {
            display: flex;
            justify-content: center;
        }

            .tab-btn-container button {
                margin: 0 12px;
            }

        .mob-btn-container {
            display: none;
        }

        .desk-carousel-btn {
            display: none;
        }
        .topics-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .topic {
            margin-right: 12px;
        }

        .vision-container {
            width: 70%;
        }

        .shares-img {
            width: 320px;
        }

        .orgs {
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;
        }

        .org-logo {
            padding: 16px 12px;
        }

        .logo-btn {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        .desktop-logo-btn {
            display: none;
        }
        .footer-links-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        .footer-links ul {
            padding-bottom: unset;
        }

        .copyright {
            text-align: center;
        }

        /* commit to act */
      

        .form-btn-container {
            flex-direction: row;
            align-items: center;
        }

            .form-btn-container input {
                margin-top: 0;
                margin-left: 16px;
            }

        form {
            margin-left: 36px;
        }

            form input,
            form textarea, form select {
                width: 352px;
            }

        .recaptcha {
            width: 300px;
        }
    }

    /* resources */
.share .click-here {
    display: inline;
}
@media (min-width: 1250px) {
    .figure-container figure {
        margin-right: 28px;
        margin-left: 28px;
    }
}
    @media (min-width: 1200px) {
        body.large-backgrd {
            background-position: top -300px left -200px, top -200px right -40px;
            background-size: 700px, 600px;
        }
        body.small-backgrd {
            background-position: top -350px left -400px, top -200px right -230px;
            background-size: 700px, 500px;
        }

        header {
            padding: 32px 72px 32px;
        }

        .first-label-home {
            padding: 52px 120px 0;
        }
        .first-label {
            padding: 20px 120px 0;
        }


        .inner-section,
        .empowering-we,
        .topics,
        .resources,
        .orgs,
        .about-us,
        .commit,
        .resource-details-page,
        .contact-us,
        .resources-page {
            padding: 32px 120px;
        }

        .empowering-we,
        .about-us,
        .commit,
        .contact-us,
        .resources-page,
        .resource-details-page {
            padding-top: 20px;
        }

        .pledges-container {
            padding: 0 72px 0 0;
        }

        /*.need-help .inner-section,
        .resources,
        .orgs {
            padding: 40px 90px;
        }

        .empowering-we,
        .about-us,
        .resource-details-page,
        .topics-section,
        .contact-us,
        .resources-page {
            padding: 0 90px 40px;
        }*/

           
        .header-nav {
            align-items: flex-start;
        }

        .nav-btn-container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .act-now .commit-btn {
            margin-top: unset;
            margin-left: 28px;
        }

        .mob-btn-container {
            display: none;
        }
        .tab-btn-container {
            display: none;
        }

        .desk-carousel-btn {
            display: block;
        }      

        .need-help .inner-section {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        footer,
        .copyright div a {
            font-size: 18px;
        }

        .mob-tab-logo-btn {
            display: none;
        }

        .desktop-logo-btn {
            display: block;
        }

        .footer-links-container {
            justify-content: space-between;
        }

        /* commit to act */
        
        .empowering-we {
            justify-content: space-between;
        }

       

        .desktop-row {
            display: flex;
            flex-direction: row;
        }

            .desktop-row .label-input-wrapper:first-child {
                margin-right: 52px;
            }

     

        /* resource details */
       

        .resource-details-img {
            width: 314px;
        }

        /* contact us */
        form textarea {
            width: 756px;
            height: 150px;
        }

  
       
    }
