@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.RadPACContent.ViewModels.EventTilesViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<section>
    <div class="container">
        <div class="row">
            @if (!string.IsNullOrWhiteSpace(Model.Title) || Sitecore.Context.PageMode.IsExperienceEditor)
            {
                <div class="col-12">
                    <div class="section-header">
                        <h3>@Editable(x => x.Title)</h3>
                    </div>
                </div>
            }
            @if (Model.Tiles.Count() > 0)
            {
                foreach (var item in Model.Tiles)
                {
                    <div class="col-sm-12 col-lg-4 col-md-6">
                        <div class="member">
                            @if(item.Image != null || Sitecore.Context.PageMode.IsExperienceEditor)
                            {
                                @RenderImage(item, x => x.Image, new { @class = "img-fluid" }, isEditable: true)
                            }                            
                            
                            <div class="member-info">
                                <div class="member-info-content">
                                    @if (!string.IsNullOrWhiteSpace(item.TileText) || Sitecore.Context.PageMode.IsExperienceEditor)
                                    {
                                        <h4>@Editable(item, x => x.TileText)</h4>
                                    }  
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
