@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.RadPACContent.ViewModels.RadPACContentViewModel>

<section class="section-spacing content row text-center addParent-callout-section">
    <header class="col-12">
        <h1>@Editable(x => x.Title)</h1>
    </header>
</section>