@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.RadPACContent.ViewModels.StateByStateViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<section>  
   <div class="container">
       <div class="row">
           @if (!string.IsNullOrWhiteSpace(Model.Title) || Sitecore.Context.PageMode.IsExperienceEditor)
           {
               <div class="col-12">
                   <div class="section-header">
                       <h2 class="header-style"><span class="underline-red"><span>@Editable(x => x.Title)</span></span><hr class="hr-style-red"/></h2>
                   </div>
               </div>
           }
           @if (Model.ShowStateDdl)
           {
               <div class="col-sm-12 col-md-10 offset-md-1 text-center">
                   <div class="selectdiv">
                       @if (!string.IsNullOrWhiteSpace(Model.StateDdlLabel) || Sitecore.Context.PageMode.IsExperienceEditor)
                       {
                           <label>@Editable(x => x.StateDdlLabel):</label>
                       }
                       
                       @Html.DropDownListFor(m => m.State, Model.States, "State", new { @id = "state-selector", @class = "normal_select", data_parent_item = Model.ParentPage.Url })                          
                   </div>
               </div>
           }
           <div class="col-12">
               <div id="mapcontainer" class="mapcontainer" data-parent-item = @Model.ParentPage.Url>
                   <div class="map">
                   </div>
               </div>
           </div>

       </div>
   </div>   
</section>
