/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*
	Modern Clearfix
*/
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {clear: both;}

.cf {*zoom: 1;}


/*
	Base styles
*/
body {
	background: #fff url('/images/AIRP/backgrounds/background_header_fullWidth.png') repeat-x;
	font-family: Arial;
	color: #444444;
	margin: 0 0 0 0; 
	line-height: 1.4em;
	min-width: 1252px;
}

.wrapper {
	width: 946px;
	margin: 0 auto;
}

.content {}

h1 {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 0.5em 0;
	color: #4b729c;
}
h2 {
	font-size: 14px;
	font-weight: bold;
	color: #cc7d4c;
	margin: 0 0 0.25em 0;
}
h3 {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 1.4em;
}
h4 {
	font-size: 14px;
	font-weight: bold;
}

.subHeading
{
	color: #CF7D4F;
	font-family: Arial;
	font-weight: bold;
}

a { color: #4b729c;text-decoration: none;}
a:hover { text-decoration: underline;}

p {	margin: 0 0 1em 0; line-height: 1.4em;}
li { line-height: 1.4em;}

strong { font-weight: bold;}
em { font-style: italic;}

sub { vertical-align: sub;font-size: smaller;}
sup { vertical-align: super;font-size: smaller;}

blockquote {
	margin: 0 2em 1em 2em;
	padding: 1em;
	box-shadow: 0px 0px 3px 1px #aaa;
	border-radius: 5px;
}
blockquote:before {
	content: '\201C';
	font-size: 400%;
	margin-left: -0.75em;
	display: block;
	height: 0;
	color: #aaa;
}
.ie7 blockquote,
.ie8 blockquote {
	background: #fff;
	behavior: url('/js/plugins/css3Pie/PIE.htc');
}

article {
	width: 661px;
	padding: 0 0 0 2px;
	float: left;
}

aside {
	width: 281px;
	padding: 0 2px 0 0;
	float: right;
}
	aside section {
		margin: 0 0 25px 0;
	}
	aside .button {
		display: block;
		min-height: 78px;
		margin: 0 0 13px 0;
		border: 1px solid #cbcbcb;
		background: #ffffff url('/images/AIRP/buttons/background_button_aside_gray.png') repeat-x;
		box-shadow: inset 0px 0px 0px 1px #ffffff;
		border-radius: 1px;
		color: #4b729b;
		font-size: 18px;
		font-weight: bold;
		position: relative;
	}
	aside .button:hover {
		text-decoration: none;
		background: #fff url('/images/AIRP/buttons/background_button_aside_gray_flipped.png') repeat-x bottom;
	}
	.ie7 aside .button,
	.ie8 aside .button {
		behavior: url('/js/plugins/css3Pie/PIE.htc');
	}
		aside .button span {
			text-align: center;
			display: block;
			padding: 30px 5px;
			margin-left: 35px;
		}
		aside .button img {
			width: 78px;
			height: auto;
			position: absolute;
			left: 0;
			top: 0;
		}

	aside .hotLinks {
		font-size: 12px;
		padding: 0 4px;
	}
		aside .hotLinks li {
			margin: 0 2px 12px 2px;
		}



/*
	Header
*/
header {
	padding: 20px 4px 30px 4px;
	position: relative;
	min-height:116px;
}
	header .logo {
		display: block;
		float: left;
	}
	header .social {
		float: right;
	}
		header .social li {
			float: left;
			margin: 0 0 0 9px;
		}
		header .social a {
			display: block;
			width: 14px;
			height: 17px;
			background: url('/images/AIRP/sprites/Sprite.png') no-repeat;
		}
		header .social .facebook {background-position: 0 0;}
		header .social .twitter {background-position: 0 -17px;}
		header .social .youTube {background-position: 0 -34px;}
	header .links {
		float: right;
	}
		header .links li {
			float: left;
			border-left: 1px solid #fff;
			padding: 0 5px;
		}
		header .links li:first-child {
			border: none;
			padding: 0 5px 0 0;
		}
		header .links a {
			color: #fff;
			font-size: 12px;
			font-weight: bold;
			text-decoration: none;
		}
	header .search {
		float: right;
		clear: right;
		margin: 16px 0 0 0;
	}
		header .search input {
			margin: 0;
			border: none;
			color: #4b7299;
			font-size: 11px;
			padding: 6px 30px 6px 14px;
			width: 95px; /*139*/
			background:#d8dfe7 url('/images/AIRP/backgrounds/background_icon_search.png') no-repeat right;
		}
		header .search input::-webkit-input-placeholder {color: #4b7299;}
		header .search input::-moz-placeholder {color: #4b7299;}
		header .search input:-ms-input-placeholder {color: #4b7299;}
	
	header nav {
		position: absolute;
		bottom: 15px;
		right: 4px;
		max-width: 750px;
	}
		header nav > ul {
			float: right;
		}
			header nav > ul > li {
				float: left;
				position: relative;
			}
			header nav > ul > li:first-child { margin: 0;}
				header nav > ul > li > a {
					display: block;
					padding: 8px 20px 16px 20px;
					text-decoration: none;
					font-size: 16px;
					font-weight: bold;
					color: #fff;
				}
				header nav > ul > li:hover > a {
					background: url('/images/AIRP/backgrounds/background_nav_hover.png');
					color: #997f4a;
					text-decoration: none;
				}
				header nav > ul > li > ul {
					position: absolute;
					z-index: 500;
					background: url('/images/AIRP/backgrounds/background_nav_hover.png');
					width: 207px;
					padding: 1px 0 13px 0;
					display: none;
				}
				header nav > ul > li:hover > ul  { display: block;}
					header nav > ul > li > ul li {
					}
						header nav > ul > li > ul li a {
							color: #4b729a;
							font-size: 13px;
							font-weight: bold;
							text-decoration: none;
							display: block;
							padding: 7px 20px;
						}
						header nav > ul > li > ul li a:hover {
							text-decoration: underline;
						}
						header nav > ul > li > ul li a.current { color:#997f4a;}
						header nav > ul > li > ul li a.current:hover { text-decoration: none;}



/*
	Slideshow
*/
.carousel {
	position: relative;
	width: 946px;
	height: 311px;
	margin: 0 0 20px 0;
}
	.carousel .slideshow .sliderImageLink {
		display: block;
	}
	.carousel .slideshow > li {}
	.carousel .slideshow > li section {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		width: 261px; /*291px*/
		height:246px; /*311px*/
		padding: 25px 15px 40px 15px;
		background: url('/images/AIRP/backgrounds/background_carousel_text.png');
		color: #fff;
	}
		.carousel .slideshow > li section h1 { color: #fff; }
		.carousel .slideshow > li section { font-size: 12px;}
		.carousel .slideshow{ border: 1px solid white;}

	.carousel .pager {
		position: absolute;
		bottom: 15px;
		right: 34px;
		z-index: 251;
	}
		.carousel .pager a,
		.carousel .pause,
		.carousel .play {
			display: block;
			text-indent: -99999px;
			background: #fff;
			width: 17px;
			height: 16px;
			float: left;
			margin: 0 0 0 6px;
		}
		.carousel .pager a.activeSlide {
			background:#9c7e4b;
		}
		.carousel .pause,
		.carousel .play {
			cursor: pointer;
			position: absolute;
			bottom: 15px;
			right: 11px;
			z-index: 251;
			background: url('/images/AIRP/sprites/Sprite.png') no-repeat;
		}
		.carousel .pause { background-position: -14px -16px;}
		.carousel .play { background-position: -14px 0;}



/*
	Home
*/
.home article section {
	width: 235px;
	margin: 0 95px 50px 0;
	padding: 10px 0 0 0;
	float: left;
}
.home article { font-size: 14px;}
.home article section:nth-of-type(2n+1) {clear: left;}
.home article section h1 a:hover {
	text-decoration: none;
}



/*
	Sub Page
*/
.subPage {}
	.subPage .content {
		margin-bottom: 60px;
	}
	.subPage article {
		width: 602px;
		font-size: 13px;
	}
		.subPage article p {
		}
		.subPage article .notes {
			color: #666;
		}
	.subPage article ul,
	.subPage article ol {
		margin: 0 0 1em 0;
		padding: 0 0 0 1.5em;
	}
		.subPage article ul li {
			list-style: disc;
			margin: 0 0 0 1em;
		}
		.subPage article ol li {
			list-style: decimal;
			margin: 0 0 0 1em;
		}
	.subPage article ul.courseList {
		padding: 0;
		margin: 1em 0;
	}
		.subPage article ul.courseList li 
		{
			margin: 0 0 1em 0;
			display: block;
		}
		.subPage article ul.courseList img {
			display: block;
			float: left;
		}

		.subPage article ul.courseList a {
			margin: 0 0 0 32px;
			display: block;
		}

		.subPage article ul.courseList li {
			list-style-type: none;
			float: left;
			clear: both;
		}

	.subPage article ul.partnerList {
		padding: 0;
	}
		.subPage article ul.partnerList li {
			list-style: none;
			margin: 0 0 40px 0;
		}
			.subPage article ul.partnerList li img {
				display: block;
				float: left;
				max-width: 220px;
			}
			.subPage article ul.partnerList li section {
				width: 377px;
				margin-left: 225px;
			}
			.subPage article ul.partnerList li h4 {
				letter-spacing: 0.1em;
			}
			.subPage article ul.partnerList li p {
				margin: 0;
			}

	.subPage article table {
		margin: 0 0 1em 0;
		display: block;
	}
		.subPage article table th,
		.subPage article table td {
			padding: 2px;
		}

.subPage ul.breadcrumb, 
.subPage ul.breadcrumb a{
	font-size: 13px;
	color: #997f4a;
	font-weight: bold;
	margin: 15px 0 1.5em 0;
	padding: 0;
}
	.subPage ul.breadcrumb li {
		float: left;
		margin: 0 5px;
		list-style-type: none;
	}
	.subPage ul.breadcrumb li:first-child {
		margin: 0 5px 0 0;
	}
.subPage ul.breadcrumb a.inactive:hover {
	text-decoration: none;
}

.headImg {
	margin: 0 0 7px 0;
	min-height: 196px;
}
	.headImg img {
		display: block;
		max-width: 941px;
		margin: 0 auto;
		border: 1px solid #fff;
		border-width: 1px!important;
	}


	/*
		Mission Statement Section
	*/
	.mission {
		background: #f0f0f0;
	}
	.mission.wider { min-width:1252px;}
	.mission .wrapper {
		padding: 30px 0;
		background:#f0f0f0;
	}
		.mission section {
			font-size: 18px;
			color: #444;
			float: left;
			width: 633px;
		}
		.mission .advertisement {
			max-width: 300px;
			float: right;
		}



/*
	Newsletter Banner Thing
*/
.newsletter {
	background: #302f36;
	border-top: 1px solid #fff;
}
	.newsletter .wrapper {
		width: 1252px;
		position: relative;
		padding: 17px 0 10px 0;
		background: #302f36;
	}
	.newsletter img {
		position: absolute;
		left: 0;
		top: -31px;
		z-index: 2;
		display: block;
	}
	.newsletter section {
		width: 690px;
		float: left;
		margin: 0 0 0 351px;
			color: #fff;
		font-size: 14px;
		line-height: 1.25em;
	}
	.newsletter section p {
			color: #fff;
		font-size: 14px;
		line-height: 1.25em;
	}
	.newsletter .button {
		float: right;
		display: block;
		color: #fff;
		font-size: 16px;
		line-height: 41px;
		height: 41px;
		padding: 0 15px 0 20px;
		margin: 20px 0 0 0;
		background: url('/images/AIRP/bg-newsletter-button.png');
	}
	.newsletter .button:hover {
		text-decoration: none;
	}
.divider {
		background-color: #575746;
		border: 0 none;
		clear: both;
		display: block;
		height: 1px;
		float:none;
		margin: 50px auto;
		width: 100%;
	}


/*
	Footer
*/
footer {
	background: #ddd;
	color: #333;
	font-size: 13px;
	position: relative;
	z-index: 3;
}
.newsletter + footer {
	min-width: 1252px;
}
	footer .wrapper {
		width: auto;
		min-width: 946px;
		padding: 65px 0 40px 0;
		background: #ddd;
		overflow: hidden;
	}
	footer a { color: #333;line-height: 1.4em;}

	footer .linkedLists {
		position: relative;
		float: left;
		display: block;
		left: 50%;
		margin: 0 0 40px 0;
	}
		footer .linkedLists>ul {
			position: relative;
			float: left;
			display: block;
			right: 50%;
			margin: 0 15px;
			min-width: 100px;
			max-width: 160px;
		}
			footer .linkedLists ul li {
				display: block;
			}
			footer .linkedLists ul .social {
				font-weight: bold;
				margin: 1em 0 0 0;
			}

	footer .advertisement,
	.footer-advertisement,
	.home-advertisement {
		text-align: center;
		clear: both;
		padding: 0 0 40px;
	}
	
	footer .copyright {
		text-align: center;
		clear: both;
	}
		footer .copyright ul {
			position: relative;
			float: left;
			display: block;
			left: 50%;
		}
			footer .copyright ul li {
				display: block;
				float: left;
				position: relative;
				right: 50%;
				border-right: 1px solid #5e5e5e;
				border-left: 1px solid #b2b2b2;
			}
			footer .copyright ul li:first-child {
				border-left: none;
			}
			footer .copyright ul li:last-child {
				border-right: none;
			}
				footer .copyright ul li a {
					padding: 0 5px;
					display: block;
				}

/* * * * * * * * * *
		IE7 main nav fixes
 * * * * * * * * * */
 .ie7 .wrapper,
 .ie7 header,
 .ie7 header nav,
 .ie7 header nav > ul,
 .ie7 header nav > ul > li {
 	z-index: 500;
 }
 .ie7 .wrapper,
 .ie7 header,
 .ie7 header nav > ul,
 .ie7 header nav > ul > li {
  	position: relative;
  }
