@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.IdeasContent.ViewModels.IdeasSelectedLinksViewModel>

<div class="row">
    <div class="col-12 ideas-study">
        <h1 class="blue mt-5">@Model.LinksParent.PublicationsTitle</h1>
        <dl>
            @foreach (var link in Model.PublicationsItems)
            {
                <dd><a href="@link.Link.Url">@Editable(link, l => l.Title)</a></dd>
            }
            @*<dd><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacus tortor, suscipit a vestibulum ut.</a></dd>
            <dd><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacus tortor, suscipit a vestibulum ut.</a></dd>
            <dd><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacus tortor, suscipit a vestibulum ut.</a></dd>
            <dd><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacus tortor, suscipit a vestibulum ut.</a></dd>
            <dd><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacus tortor, suscipit a vestibulum ut.</a></dd>
            <dd><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacus tortor, suscipit a vestibulum ut.</a></dd>*@
        </dl>
    </div>
</div>