@*<a href="#" class="share-link" id="share-link" style="position:relative;">
    Share
    <div class="share-drawer" style="display:none">
        <div class="sharethis-inline-share-buttons"></div>
    </div>
</a>*@



<a href="#share" class="share-link" id="share-link" onclick="Loadpopup(this)" style="position:relative;">
    Share
    <div class="share-drawer" style="display:none">
        <div class="sharethis-inline-share-buttons"></div>
    </div>
</a>

<script>
    function Loadpopup($this) {
        $(".share-drawer").show();
    }
</script>

