@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.IdeasContent.ViewModels.IdeasSelectedLinksViewModel>

<div class="publications">
    <div class="row">
        <div class="col-12">
            <dl>
                <dt class="purple">@Model.PublicationsTitle</dt>
                @foreach (var link in Model.PublicationsItems)
                {
                    <dd><a href="@link.Link.Url">@Editable(link, l => l.Title)</a></dd>
                }
            </dl>
        </div>
    </div>
</div>