@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.IdeasContent.ViewModels.IdeasRichTextViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<div class="row">
    <div class="container">
        <div class="col-12">
            <dl>
                @if (Model.Title != "" || Sitecore.Context.PageMode.IsExperienceEditorEditing)
                {
                    <h2 class="purple">@Editable(x => x.Title)</h2>
                }
                @if (Model.RichText != "" || Sitecore.Context.PageMode.IsExperienceEditorEditing)
                {
                    @Editable(x => x.RichText)
                }
            </dl>
        </div>
    </div>
</div>