.mapcontainer {
    max-width: 100%;
    margin: auto;
}

.mapcontainer p{
    font-size: 18px;
}

/* Specific mapael css class are below
 * 'mapael' class is added by plugin
*/


.mapael .map {
    position: relative;
}

.mapael .mapTooltip {
    position: absolute;
    background-color: #fff;filter: alpha(opacity=70);
    border-radius: 10px;
    padding: 10px;
    z-index: 999;
    max-width: 200px;
    display: none;
    color: #343434;
    box-shadow: 3px 3px 3px #656565;
}

.mapael .map text[data-id='FL'] {
  cursor: pointer;
  fill: #00456a;
    /* transform:translate(50px, 0px);
    -webkit-transform:translate(50px, 0px);
    -ms-transform:translate(50px, 0px); */
}

.mapael .map text[data-id='MI'] {
  cursor: pointer;
  background-color:red;
  border-radius:8px;
  padding:2px;
  /*fill: #00456a;*/
    /* transform:translate(20px, 25px);
    -webkit-transform:translate(20px, 25px);
    -ms-transform:translate(20px, 25px); */
}

.mapael .map text[data-id='FL'] {
  cursor: pointer;
  background-color:red;
  border-radius:8px;
  padding:2px;
  fill: #FFFFFF;
}

/* .mapael .map text[data-id='VA'] {
  cursor: pointer;
    transform:translate(20px, 0px);
    -webkit-transform:translate(20px, 0px);
    -ms-transform:translate(20px, 0px);
} */

/* .mapael .map text[data-id='MD'] {
    cursor: pointer;
    fill: #00456a;
    transform:translate(70px, 8px);
    -webkit-transform:translate(70px, 8px);
    -ms-transform:translate(70px, 8px);
} */

.mapael .map text[data-id='DC'] {
    cursor: pointer;
    fill: #00456a;
    /* transform:translate(60px, 30px);
    -webkit-transform:translate(60px, 30px);
    -ms-transform:translate(60px, 30px); */
}



.mapael .map text[data-id='DE'] {
    cursor: pointer;
    fill: #00456a;
    /* transform:translate(45px, -10px);
    -webkit-transform:translate(45px, -10px);
    -ms-transform:translate(45px, -10px); */
}

.mapael .map text[data-id='CT'] {
    cursor: pointer;
   /* fill: #00456a;*/
    /* transform:translate(20px, 25px);
    -webkit-transform:translate(20px, 25px);
    -ms-transform:translate(20px, 25px); */
}

.mapael .map text[data-id='RI'] {
    cursor: pointer;
    fill: #00456a;
    /* transform:translate(30px, 20px);
    -webkit-transform:translate(30px, 20px);
    -ms-transform:translate(30px, 20px); */
}

.mapael .map text[data-id='HI'] {
    cursor: pointer;
    fill: #00456a;
    /* transform:translate(0px, 20px);
    -webkit-transform:translate(0px, 20px);
    -ms-transform:translate(0px, 20px); */
}

/* For all zoom buttons */
.mapael .zoomButton {
    background-color: #fff;
    border: 1px solid #8957b6;
    color: #8957b6;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 0px;
    cursor: pointer;
    position: absolute;
    top: 0;
    font-weight: bold;
    left: 10px;
    -webkit-user-select: none;
    -khtml-user-select : none;
    -moz-user-select: none;
    -o-user-select : none;
    user-select: none;
}

.mapael .zoomButton:hover {
    background-color: #8957b6;
    color: #fff;
}

/* Reset Zoom button first */
.mapael .zoomReset {
    top: 10px;
}

/* Then Zoom In button */
.mapael .zoomIn {
    top: 30px;
}

/* Then Zoom Out button */
.mapael .zoomOut {
    top: 50px;
}

.mapcontainer .HomePageMap .HideHomePageMapButton {
    display : none;
}