.page-content {
    padding: 45px 10px;
}

.toolkit-list {
    padding: 0px;
    list-style-type: none;
}

    .toolkit-list > *:not(:first-child) {
        padding: 15px 0;
        --gap: 15px;
        --border-bottom: 1px solid #CFCFCF;
        --hover-border-bottom: 1px solid #CFCFCF;
        --pressed-border-bottom: 1px solid #CFCFCF;
    }

    .toolkit-list img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        object-position: center;
        background-color: #D8D8D8;
        display: block;
        position: relative;
        border: 1px solid #979797;
    }

    .toolkit-list .zoom {
        width: 25px;
        height: 25px;
        position: absolute;
        display: flex;
        align-content: center;
        justify-content: center;
        background-color: #4B9839;
        bottom: 0;
        right: 0;
        cursor: pointer;
    }




.search-bar {
    height: 41px;
    border: 1px solid #BCC3CA;
    --border: 1px solid #BCC3CA;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 41px;
    grid-template-rows: 1fr;
    max-width: 676px;
    width: 100%;
    margin: auto;
    -webkit-text-fill-color: currentcolor;
}

    .search-bar input {
        width: 100%;
        height: 100%;
        border: 0;
        padding: 0 20px;
        color: #4B9839 !important;
        font-weight: 400;
        font-size: 16px;
        -webkit-text-fill-color: currentColor;
        text-align: center;
    }

.btn-icon {
    background-color: #4B9839;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    -webkit-text-fill-color: currentcolor;
}

    .btn-icon:hover {
        background-color: hsl(133, 45%, 35%);
    }

.toolkit-banner {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    left: 0;
}

[acr='flat-btn'] {
    --color: #4B9839;
    --hover-color: hsl(133, 45%, 35%);
}

[acr*=input-list] label:not([acr~=select]):not([acr|=input]) {
    grid-gap: 10px;
}

.checkbox {
    --size: 14px;
    height: var(--size);
    width: var(--size);
    border: 1px solid #fff;
    outline: 1px solid #333 !important;
    background-color: transparent;
    transition: 0.2s;
}

label input:checked + .checkbox {
    background-color: #4B9839 !important;
}

label:hover input + .checkbox {
    background-color: #555;
}
/* input[type=checkbox] + span:before{
            content:'';
            --size:14px;
            height:var(--size);
            width:var(--size);
            border: 1px solid #fff;
            outline: 1px solid #333;
            background-color: transparent;
            transition:0.2s;
            display: inline-block;
        } */
.page-content {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 20px;
}

.filter-main, .filter-btn {
    display: none;
}

.header-share-opts a {
    margin-right: 1rem !important;
}

.article-btn {
    -webkit-text-fill-color: currentcolor;
}

.share-link {
    -webkit-text-fill-color: currentcolor;
}

.icon {
    -webkit-text-fill-color: currentcolor;
}



@media (max-width:600px) {
    .page-content {
        display: grid;
        grid-template-columns: 1fr;
    }
    /* .toolkit-list img{
                display:none;
            } */
    .filter-menu {
        --gap: 30px;
        position: absolute;
        --bg-color: #fff;
        z-index: 10;
        padding: 20px 0;
        /* box-shadow: 0 3px 10px rgba(0,0,0,0.2); */
        right: 22px;
        top: auto;
        --border: 1px solid #CCCCCC;
        width: 60%;
        border-top: none;
        -webkit-text-fill-color: currentcolor;
    }

        .filter-menu > * {
            padding: 0 20px;
        }

    .article-actions {
        display: flex;
    }

    .article-btn {
        margin: auto;
        -webkit-text-fill-color: currentcolor;
    }

    .share-link {
        -webkit-text-fill-color: currentcolor;
    }

    .icon {
        -webkit-text-fill-color: currentcolor;
    }

    .pfcc-ddls {
        display: none;
    }

    .filter-main {
        display: block;
    }

        .filter-main span {
            padding: 6px 12px;
            font-weight: bold;
            position: relative;
            top: 4px;
        }

    .filter-btn {
        display: block;
        text-align: center;
    }
}


.large-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    z-index: 10;
    background-color: rgba(0,0,0,0.4);
}

    .large-img > * {
        display: block;
        max-width: calc(100% - 120px);
        max-height: calc(100% - 40px);
        width: 100%;
        box-shadow: 0 3px 10px rgba(0,0,0,0.3);
        border-radius: 8px;
    }

label {
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333;
    font-size: 15px;
}

i.material-icons {
    font-family: IcoMoon-Ultimate !important;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: currentcolor;
}

    i.material-icons:after {
        content: "\eb36";
    }

    i.material-icons.facet-more:after {
        content: "\edc1"
    }

    i.material-icons.facet-less:after {
        content: "\edb9";
    }

span.pfcc-pg-back.material-icons:after {
    font-family: IcoMoon-Ultimate !important;
    content: "\edc6";
    font-size: 22px;
}

span.pfcc-pg-next.material-icons:after {
    font-family: IcoMoon-Ultimate !important;
    content: "\edbe";
    font-size: 22px;
}

a.article-title:hover {
    text-decoration: none;
}

i#pfcc-filter-down:after {
    content: "\edc1"
}

i#pfcc-filter-up:after {
    content: "\edb9";
}

i.facebook:after {
    content: "\eeef";
    color: #4b9839;
}

i.twitter:after {
    content: "\eef5";
    color: #4b9839;
}

i.mail:after {
    content: "\ea32";
    color: #4b9839;
}

.header-share-opts {
    margin-bottom: 0;
}

    .header-share-opts span {
        color: #4b9839;
        margin-right: 1rem;
    }

i.save:after {
    content: "\ec83";
    color: #4b9839;
}
