input[acr][type=text] {
    --border: 1px solid #BEBEBE;
    --hover-border: 1px solid var(--color-sky);
    padding: 0 8px;
}

label[acr] {
    grid-gap: 4px;
}

[acr*=input-list] [acr~=label] {
    --color: #333333;
    font-weight: var(--font-regular);
    font-size: 15px;
    font-family: Source Sans Pro, sans-serif;
}

[acr*=input-list] label:not([acr~=select]):not([acr|=input]) {
    grid-gap: 10px;
}

[acr*=input-list] select + i::after {
    content: '';
}

[acr*=input-list] select + i {
    top: 50% !important;
}

.pfcc-state-ddl, .pfcc-status-ddl, pfcc-reviewers-ddl {
    min-width: 200px !important;
}

[acr*=input-list] input[type=text] {
    --height: 2em !important;
}

[acr|=input], [acr~=input] {
    padding-bottom: 10px;
}

.checkbox {
    --size: 14px;
    height: var(--size);
    width: var(--size);
    border: 1px solid #fff;
    outline: 1px solid #333 !important;
    background-color: transparent;
    transition: 0.2s;
}

label input:checked + .checkbox {
    background-color: #4B9839 !important;
}

label:hover input + .checkbox {
    background-color: #555;
}

@media (max-width: 800px) {
    [acr|=list][acr*=alt] {
        grid-auto-flow: column;
    }
}

@media (max-width: 600px) {
    [acr|=list][acr*=alt] {
        grid-auto-flow: row;
    }
}

#acr_48a5d333d40d49ea9845dd47511c7abb a {
    padding-top: .5em !important;
}

.required-label:after {
    color: #b94a48;
    content: '*';
    display: inline;
    margin-left: -8px;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

span.field-validation-valid {
    display: none;
}

span.field-validation-error {
    color: #b94a48;
    font-weight: 700;
    display: inline-block;
    padding-top: 5px;
}

input[type="text"]:disabled, select:disabled {
    border: 1px solid #BEBEBE !important;
    color: #BEBEBE !important;
}

.h1, h1 {
    font-size: 3em;
    margin: .67em 0;
    font-weight: 300;
    font-family: freight-sans-pro,"Source Sans Pro",Arial,Helvetica,sans-;
}

.pfcc-new-form h3 {
    font-weight: 400;
    font-size: 1.5em;
    padding-bottom: 15px;
    font-family: freight-sans-pro,"Source Sans Pro",Arial,Helvetica,sans-;
}

#pfcc-submit-btn {
    -webkit-text-fill-color: currentcolor;
    color: #fff !important;
}

    #pfcc-submit-btn:hover {
        color: #4b9839 !important;
        background: #fff;
    }
