:root{
    --font-body: "Source Sans Pro",Arial,Helvetica,sans-serif !important;
    --color-green: #4B9838;
    --color-orange: #FBAF3F;
    --color-cyan: #2BB3D9;
    --color-light-grey:#F6F6F6;
}
body{
    line-height: unset;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.slide-enter-active, .slide-leave-active {
    transition: .3s;
    transform:translateX(0%);
}
.slide-enter, .slide-leave-to {
    opacity: 0;
    transform:translateX(50%);
}
[acr=main] > *:not(.full),
.limit{
    max-width:1062px;
    margin:auto;
}

[acr] h1,
[acr] h2,
[acr] h3,
[acr] h4,
[acr] h5{
    --color:#0A4163;
    font-weight: var(--font-light);
    font-family: 'Freight Sans Pro', sans-serif;
}
.heading{
    font-size: 48px !important;
    font-weight:var(--font-light) !important;
}
.resize-title{
    font-size: 57px !important;
    font-weight:var(--font-regular) !important;
}

[acr] p,
ol,
ul,
ul li,
ol li,
dl,
dt{
    line-height: 1.5em;
    font-weight: var(--font-regular);
    --color:#333333;
    color:var(--color);
    font-size:15px;
}
ol,ul{
    margin: 0;
    margin-bottom: 16px;
    padding-left: 30px;
}
ol ul{
    list-style-type: disc;
}
[acr=link]{
    --color:var(--color-cyan);
}
.v-center{
    align-items: center;
}
[acr=btn],
[acr|=btn]{
    --bg-color:#4B9839;
    --hover-bg-color: hsl(133, 45%, 35%);
    --pressed-bg-color: #4B9839;
    height:53px;
    width:232px;
    font-family:'Source Sans', sans-serif;
    border-radius:0px;
    padding:0 24px;
}
[acr*='btn-2ry']{
    --control-color:#435664;
    --control-hover-color: #333;
}
.section-style-1{
    --border:1px solid var(--color-orange);
    --bg-color:var(--color-light-grey);
    border:1px solid var(--color-orange);
    background-color: var(--color-light-grey);
    padding:0 30px;
}
.section-style-2{
    --border:1px solid var(--color-orange);
    border:1px solid var(--color-orange);
}
.orange-icon{
    color:var(--color-orange);
    -webkit-text-fill-color: currentColor;
}
.book-cover{
    border:1px solid #E2E2E2;
    width:117px;
    border-radius:3px;
    margin:3px;
    display:block;
}
[acr*=card]{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:var(--gap, 30px);
    position: relative;
    margin-bottom:60px !important;
    grid-auto-flow: dense;
}
[acr*=card] > img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: inline-block;
    min-height: 300px;
}
.blog-summary{
    --gap:15px;
}
.blog-summary img{
    height:100px;
    width:100px;
    display:block;
    object-fit: cover;
    object-position: center;
}
.news-list{
    margin-bottom:15px;
    padding:0px;
    list-style-type: none;
}

.news-list > *{
    display: grid;
    align-items: center;
    position: relative;
    padding: 15px 0;
    padding-left: 20px;
}
.news-list > *:before {
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: var(--color-cyan);
    position: absolute;
    top: 23px;
}

.news-list > *:not(:first-child),
.post-list > *:not(:first-child){
    border-top:1px solid var(--color-orange);
}
.scroll-img{
    position: absolute;
    z-index:3;
    bottom: 20px;
    right: 20px;
}
.banner{
    position:relative;
    height:500px;
    display: grid;
    align-content: center;
    
}
.banner-content{
    width: 100%;
}
.banner .img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.input{
    height: 53px !important;
    width:100% !important;
    max-width:180px !important;
    padding: 0 15px !important;
    font-size:16px !important;
    color:#333333 !important;
    border:1px solid #D8D8D7 !important;
}



[acr~='dropdown']{
    --padding:0;
    --display: flex;
    align-items:center;
    position:relative;
    --color:inherit;
    cursor:pointer;

}
[acr~='dropdown'] > *:first-child{
    color:#fff;
    -webkit-text-fill-color: currentColor;
    transition:.2s;
}
[acr~='dropdown']:hover > *:first-child{
    color:#fff !important;
}
[acr~='dropdown'] > *:nth-child(2){
    display:none;
    position:absolute;
    top:100%;
    right:-20px;
    padding:3px 0;
    background-color:#fff;
    /* box-shadow:0 3px 6px rgba(0,0,0,0.2); */
    color:var(--color-65);
    -webkit-text-fill-color: currentColor;
    min-width:150px;
    border-radius:3px;
    z-index:10;
}
/* [acr~='dropdown']:hover{
    box-shadow: 0 -3px 0px inset;
} */
[acr~='dropdown']:hover > *:nth-child(2){
    display:grid;
    grid-auto-flow: row;
    
}

[acr~='dropdown'] > *:nth-child(2) > *{
    height:35px;
    display:flex;
    align-items: center;
    padding:0 14px;
    color:#004766;
    transition:0.2s;
}
[acr~='dropdown'] > *:nth-child(2) > *:hover{
    color:var(--color-cloud);
    -webkit-text-fill-color: currentColor;
}
b {
    font-weight: var(--font-medium);
}








.post-list{
    padding:0;
    list-style-type: none;
}
.post-list > *{
    padding: 15px 0;
    --gap:15px;
}
.post-list img{
    width: 141px;
    height: 107px;
    object-fit: cover;
    object-position: center;
    background-color:#D8D8D8;
}
.category-feed > *:nth-child(even) img{
    grid-column: 2;
}
.article-title{
    font-size:20px !important;
}
.article-info,
.article-tags{
    --color:#FBAF3F;
    color: var(--color);
    -webkit-text-fill-color: currentColor;
    font-size: 12px;
}
.article-tags{
    --color:#D8D8D8;
}
.circle{
    --size:21px;
    background-color:#D8D8D8;
    width:var(--size);
    height:var(--size);
    border-radius:100%;
}
.featured-img{
    width:100%;
    background-color:#D8D8D8;
}
.pagination{
    justify-content: center !important;
    padding: 30px;
    align-items: center;
}
.pagination input{
    width: 40px;
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
    border: 1px solid #D8D8D7 !important;
    height: 30px;
    font-size: 15px;
}
.pagination .material-icons{
    user-select: none;
    cursor:pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-fill-color: currentColor;
    transition: 0.2s;
    color:#4B9838;
}
.pagination .material-icons:hover{
    color:#333;
}
.article-page-title{
    text-align: center;
    max-width:613px;
    margin:auto;
    font-size:48px !important;
}
.article-page-img{
    height: 276px;
    width: 100%;
    margin:auto;
    max-width: 482px;
    background: #D8D8D8;
    object-fit: cover;
    object-position: center;
    display: block;
}
.categories-list{
    --gap:6px;
}
.category-title{
    font-size:12px !important;
    --color:#333333;
    font-weight: var(--font-regular);            
}
.tag{
    --color:#4B9839 !important;
    font-size:13px !important;
    font-weight: var(--font-light) !important;
}
.share-btn{
    --color:#4B9839 !important;
    font-size:16px;
}











@media (max-width:700px){
    .article-page-title{
        font-size:36px !important;
    }
    .resize-title{
        font-size: 38px !important;
    }
    .book-banner{
        --gap: 15px !important;
        grid-auto-flow: row !important;
        padding: 30px 0;
    }
    .book-cover{
        display:none;
    }
    [acr*=card]{
        grid-template-columns: 1fr;
    }
    [acr='card-reverse'] > *:last-child{
        grid-column: 1;
        grid-row: 1;
    }
}

@media (max-width:600px){
    .categories-list{
        grid-auto-flow: column;
        align-items: center;
        justify-content: center;
    }
    .post-list img{
        display:none;
    }
}
