<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Replace">
      <rules>
        <rule name="Root Hit Force HTTPS Redirection" enabled="true" stopProcessing="true">
          <match url="^$" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{HTTP_METHOD}" pattern="GET" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/" redirectType="Permanent" />
        </rule>
        <rule name="Sitecore Login or Admin Force HTTPS Redirection" enabled="true" stopProcessing="true">
          <match url="^(sitecore/(login|admin))$" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{HTTP_METHOD}" pattern="GET" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <rule name="Forbidden" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{HTTP_METHOD}" pattern="GET" />
          </conditions>
          <action type="CustomResponse" statusCode="403" subStatusCode="0" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors xdt:Transform="InsertIfMissing" >
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="503" path="/application-maintenance.htm" responseMode="ExecuteURL" />
      <error statusCode="502" prefixLanguageFilePath="" path="/application-maintenance.htm" responseMode="ExecuteURL" />
      <error statusCode="501" prefixLanguageFilePath="" path="/application-maintenance.htm" responseMode="ExecuteURL" />
      <error statusCode="504" path="/application-maintenance.htm" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>

  <applicationSettings>
    <ACRMicroSites.Properties.Settings>
      <setting xdt:Transform="Replace" xdt:Locator="Match(name)" name="ACRMicroSites_com_imagewisely_PledgesService_PledgesService" serializeAs="String">
        <value>https://auth.acr.org/services/pledgesservice.asmx</value>
      </setting>
      <setting xdt:Transform="Replace" xdt:Locator="Match(name)" name="ACRMicroSites_AnnualReminder_AnnualReminderService" serializeAs="String">
        <value>https://auth.acr.org/services/annualreminderservice.asmx</value>
      </setting>
    </ACRMicroSites.Properties.Settings>
  </applicationSettings>
  
  <system.serviceModel>
    <client>
      <endpoint address="https://login.acr.org/webservice/service.asmx" contract="AcrAuthentication.SSO.serviceSoap" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"  />
      <endpoint address="https://3s.acr.org/cipcmewebservice/Service1.asmx" contract="CaseInPointService.Service1Soap" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
    </client>
  </system.serviceModel>
</configuration>