<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value=""  xdt:Locator="Match(key)" xdt:Transform="Remove"/>
    <add key="Telerik.Upload.ConfigurationHashKey" value="" xdt:Locator="Match(key)" xdt:Transform="Remove"/>
    <add key="Telerik.Web.UI.DialogParametersEncryptionKey" value="" xdt:Locator="Match(key)" xdt:Transform="Remove"/>
    <add key="role:define" value="ContentDelivery" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value=""  xdt:Locator="Match(key)" xdt:Transform="Remove"/>
    <add key="Telerik.Upload.ConfigurationHashKey" value="" xdt:Locator="Match(key)" xdt:Transform="Remove"/>
    <add key="Telerik.Web.UI.DialogParametersEncryptionKey" value="" xdt:Locator="Match(key)" xdt:Transform="Remove"/>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    
    <httpCookies requireSSL="true" xdt:Transform="InsertIfMissing" />
  </system.web>
  <system.webServer>
    <httpProtocol xdt:Transform="Replace">
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-Powered-By" value="ASP.NET" />
      </customHeaders>
    </httpProtocol>
    <rewrite xdt:Transform="Replace">
      <rules>      
        <rule name="Redirect http to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" appendQueryString="true" redirectType="Permanent" />
        </rule>      
        
        <rule name="Redirect to www" stopProcessing="true" >
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^acr.org"  />
            <add input="{HTTP_HOST}" pattern="^imagewisely.org"  />
            <add input="{HTTP_HOST}" pattern="^airp.org"  />
            <add input="{HTTP_HOST}" pattern="^radiologyleaders.org"  />
            <add input="{HTTP_HOST}" pattern="^acraccreditation.org" />
            <add input="{HTTP_HOST}" pattern="^radpac.org" />
            <add input="{HTTP_HOST}" pattern="^mammographysaveslives.org" />
            <add input="{HTTP_HOST}" pattern="^acrinformatics.org" />
            <add input="{HTTP_HOST}" pattern="^acrdsi.org" />
            <add input="{HTTP_HOST}" pattern="^decampresearch.org" />
            <add input="{HTTP_HOST}" pattern="^ideas-study.org" />
			<add input="{HTTP_HOST}" pattern="^radhealthequity.org" />
          </conditions>
          <action type="Redirect" url="https://www.{HTTP_HOST}/{R:0}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors xdt:Transform="InsertIfMissing">
      <error statusCode="503" path="/application-maintenance.htm" responseMode="ExecuteURL" />
      <error statusCode="504" path="/application-maintenance.htm" responseMode="ExecuteURL" />
    </httpErrors>
    <staticContent xdt:Transform="InsertIfMissing">
      <remove fileExtension=".css" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript; charset=utf-8" />
      <mimeMap fileExtension=".css" mimeType="text/css; charset=utf-8" />
    </staticContent>
    <modules>
      <add type="Sitecore.Analytics.RobotDetection.Media.MediaRequestSessionModule, Sitecore.Analytics.RobotDetection" name="MediaRequestSessionModule" xdt:Locator="Match(name)"  xdt:Transform="InsertIfMissing"/>
      <add type="ACR.Foundation.CookieBot.CookieBotModule.CookieBotHttpModule, ACR.Foundation.CookieBot" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" name="CookieBotHttpModule" />
    </modules>
    <handlers>
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" xdt:Locator="Match(name)" xdt:Transform="Remove" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" xdt:Locator="Match(name)" xdt:Transform="Remove"  />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" xdt:Locator="Match(name)" xdt:Transform="Remove"  />
    </handlers>
    <security>
      <requestFiltering>
        <verbs xdt:Transform="InsertIfMissing">
          <add verb="DELETE" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
  <location path="sitecore/shell" xdt:Locator="Match(path)" xdt:Transform="Remove"/>
  <location path="sitecore/admin" xdt:Locator="Match(path)" xdt:Transform="Remove"/>
  <location path="sitecore/shell/Themes/Standard" xdt:Locator="Match(path)" xdt:Transform="Remove"/>
  <location path="sitecore/shell/controls/Lib" xdt:Locator="Match(path)" xdt:Transform="Remove"/>
  <location path="sitecore/shell/client/Speak" xdt:Locator="Match(path)" xdt:Transform="Remove"/>
  <location path="sitecore" xdt:Transform="InsertIfMissing" xdt:Locator="Match(path)">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="sitecore/api" xdt:Transform="InsertIfMissing" xdt:Locator="Match(path)">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="sitecore/service" xdt:Transform="InsertIfMissing" xdt:Locator="Match(path)">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="sitecore/shell/themes" xdt:Transform="InsertIfMissing" xdt:Locator="Match(path)">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
 <applicationSettings>
    <ACRMicroSites.Properties.Settings>
      <setting xdt:Transform="Replace" xdt:Locator="Match(name)" name="ACRMicroSites_com_imagewisely_PledgesService_PledgesService" serializeAs="String">
        <value>https://auth.acr.org/services/pledgesservice.asmx</value>
      </setting>
      <setting xdt:Transform="Replace" xdt:Locator="Match(name)" name="ACRMicroSites_AnnualReminder_AnnualReminderService" serializeAs="String">
        <value>https://auth.acr.org/services/annualreminderservice.asmx</value>
      </setting>
    </ACRMicroSites.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <client>
      <endpoint address="https://login.acr.org/webservice/service.asmx" contract="AcrAuthentication.SSO.serviceSoap" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"  />
      <endpoint address="https://cortex.acr.org/cipcmewebservice/Service1.asmx" contract="CaseInPointService.Service1Soap" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
    </client>
  </system.serviceModel>
</configuration>