@using ACRHelix.Foundation.EditFrames;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Chapters.ViewModels.ChapterNewsViewModel>

<section>
    <header>
        <h2>Chapter News</h2>
        <hr>
    </header>
    <div class="section-spacing indented-section">
        @{
          var index = 0;
        }
        @foreach (var news in Model.ChapterNews)
        {
            using (BeginEditFrame(EditFrameConstants.Paths.Edit, news.Id.ToString(), "Chapter News"))
            {
            <div class="chapter-news-item clear-after">
                <h3>@Editable(news, x => x.Title)</h3>
                <div class="pad-bottom-1em">@Editable(news, x => x.SubTitle)</div>
                <a href="@news.Url" class="read-more-link">Read More</a>
            </div>
            }
            if (index == 0)
            {
            <br><!--#dev NO <br> on the last one so spacing doesn't become bunk in next section-->
            }
            index++;
        }
    </div>
</section>