@using System.Collections.Specialized;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Chapters.ViewModels.ChapterViewModel>

<header class="chapter-header text-center">
    <div class="content">
        <figure class="chapter-logo">
            @RenderImage(x => x.ChapterLogo, isEditable: true)
        </figure>
        <h1>@Editable(x => x.Title)</h1>
        @RenderLink(x => x.ChapterWebsite, new NameValueCollection { { "class", "read-more-link" } },isEditable:false)
        @*@RenderImage(x => x.Image, isEditable: true)*@
    </div>
</header>