<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initializeContainer>
        <processor type= "ACRHelix.Feature.MyCtColonography.Pipelines.InitializeContainer.RegisterDependencies, ACRHelix.Feature.MyCtColonography" />
      </initializeContainer>
    </pipelines>
    <settings>
      <setting name="Mapapi.ClientId" value="gme-americancollegeof" />
      <setting name="Mapapi.CryptoKey" value="ioe6AUHSKAW1o8lISpgf16Jq9Qs=" />
      <setting name="Mapapi.Url" value="https://maps.google.com/maps/api/geocode/json" />

      <setting name="CTC.ThankYouPage" value="{70E9758A-D976-42BC-8838-84C43ECE035C}" />
      <setting name="CTC.ErrorPage" value="{023DE89E-E832-44D7-895B-FD7806837A88}" />
    </settings>
    
  </sitecore>
</configuration>
