    body .article-item .scWebEditInput {
        display: inline;
    }

    ol.ol-bold-numbers li, .ol-bold-numbers ol li {
    margin-bottom: .875em;
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
}

    ol.ol-bold-numbers li:before, .ol-bold-numbers ol li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}