<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <itemUrlHelper>
      <siteurls>
        <site name="website" url="https://www.acr.org" default="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <site name="ImageWisely" url="https://www.imagewisely.org" default="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <site name="AIRP" url="https://www.airp.org" default="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <site name="RADPAC" url="https://www.radpac.org" default="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <site name="accreditation" url="https://www.acraccreditation.org" default="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <site name="dsi" url="https://www.acrdsi.org" default="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <site name="decamp" url="https://www.decampresearch.org" default="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <site name="RTOG" url="https://www.rtog.org" default="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </siteurls>
    </itemUrlHelper>
  </sitecore>
</configuration>