<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="itemurlhelper:menuItem" type="Sitecore.SharedSource.ItemUrlHelper.CustomSitecore.Commands.CopyItemUrlMenuItem, Sitecore.Foundation.ItemUrlHelper" />
			<command name="itemurlhelper:subMenuItem" type="Sitecore.SharedSource.ItemUrlHelper.CustomSitecore.Commands.CopyItemUrlSubMenuItem, Sitecore.Foundation.ItemUrlHelper" />
		</commands>
		<pipelines>
			<search>
				<processor type="Sitecore.SharedSource.ItemUrlHelper.CustomSitecore.Pipelines.ItemResolverByUrl, Sitecore.Foundation.ItemUrlHelper" />
			</search>
		</pipelines>
		<itemUrlHelper>
			<!-- This section maps a site to a url. -->
			<!-- With multiple site solutions we cannot query off the host name and we need to map out sites to their urls. -->
			<siteurls>
				<!-- name: Name of the site listed in <sites> section of the web.config -->
				<!-- url: Url for the corresponding site -->
        <!-- default: (Optional) Boolean value to denote a fallback site in multi-site environments when the current site is ambiguous. -->

				<!-- Example -->
				<!--<site name="website" url="http://sandbox.com" default="true" />-->
				<site name="website" url="https://www.acr.org" default="true" />
				<site name="ImageWisely" url="https://www.imagewisely.org"  />
				<site name="AIRP" url="https://www.airp.org"  />
				<!--<site name="MammographySavesLives" url="https://www.mammographysaveslives.org"  />-->
				<site name="Radpac" url="https://www.radpac.org"  />
				<!--site name="RLI" url="https://www.radiologyleaders.org"  />-->
				<site name="accreditation" url="https://www.acraccreditation.org"  />
				<!--<site name="informatics" url="http://www.acrinformatics.org"  />-->
				<site name="dsi" url="https://www.acrdsi.org" />
				<site name="decamp" url="https://www.decampresearch.org"  />
				<site name="ideas" url="https://www.ideas.acr.org"  />
				<site name="RTOG" url="https://www.rtog.org" default="true" />
				<site name="RHEC" url="https://www.radhealthequity.org" default="true" />
			</siteurls>
			<processUrl>
				<processor type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.GetDevice, Sitecore.Foundation.ItemUrlHelper" />
				<processor type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.GetItem, Sitecore.Foundation.ItemUrlHelper" />
				<processor type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.GetUrl, Sitecore.Foundation.ItemUrlHelper" />
				<processor type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.GetMediaUrl, Sitecore.Foundation.ItemUrlHelper" />
				<processor type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.CleanUrl, Sitecore.Foundation.ItemUrlHelper" />
				<processor type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.AppendHost, Sitecore.Foundation.ItemUrlHelper" />
			</processUrl>
			<cleanUrl>
				<clean value="/sitecore/shell" type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.Clean.RemoveCleanUrl, Sitecore.Foundation.ItemUrlHelper" />
				<clean value="sitecore/content/home/" type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.Clean.RemoveCleanUrl, Sitecore.Foundation.ItemUrlHelper" />
				<clean value=" " replaceWith="-" type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.Clean.ReplaceCleanUrl, Sitecore.Foundation.ItemUrlHelper" />
				<clean value="%20" replaceWith="-" type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.Clean.ReplaceCleanUrl, Sitecore.Foundation.ItemUrlHelper" />
				<clean value="/en/" replaceWith="/" type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.Clean.ReplaceCleanUrl, Sitecore.Foundation.ItemUrlHelper" />
			</cleanUrl>
		</itemUrlHelper>
	</sitecore>
</configuration>