@using Glass.Mapper.Sc.Web.Mvc
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.RhecContent.Models.BoxCallout>


<div class="resources-page">
    <h3 class="sub-header share">
        @Editable(x => x.Text)
        @using (BeginRenderLink(x => x.Link, new { @class = "click-here" }, isEditable: true))
        {
            @Editable(m => m.ButtonText)
        }
    </h3>
</div>
