@using Glass.Mapper.Sc.Web.Mvc
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.RhecContent.Models.RichTextButton>

<div class="label first-label-home">@Editable(x => x.SubTitle)</div>
<section class="empowering-we">  
    <div>
        <h1>@Editable(x => x.Title)</h1>
        <div class="hc-equity-container">
            <div class="section-text">
                @Editable(x => x.RichText)
            </div>
            @if (Model.Button != null && Model.Button.Count() > 0)
            {
                var Button = Model.Button.FirstOrDefault();
                using (BeginRenderLink(Button, x => x.Link, new { @class = "oval-btn commit-btn" }, isEditable: true))
                {
                    @Editable(Button, m => m.Text)
                }
            }
        </div>
    </div>
</section>
