@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.DecampFeatureRenderings.ViewModels.BannerViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<div id="banner" class="clearfix">
    <div class="banner-wrapper">
        <div class="overlay-banner"></div>
        @RenderImage(x => x.BannerImage, new { @id= "banner-backgroundImage" }, isEditable:true)
    </div>
    <div class="banner-info">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto text-center">
                    @if (!string.IsNullOrWhiteSpace(Model.Title) || Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        <div class="banner-header">
                            @Editable(x => x.Title)
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Richtext) || Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        <p>
                            @Editable(x => x.Richtext)
                        </p>
                    }
                    @using (BeginRenderLink(x => x.BannerLink, new { @class = "btn btn-decamp-green", @role = "button" }, isEditable:true))
                    {
                        if (Model.BannerLink != null)
                        {
                            @Html.Raw(Model.BannerLink.Text) <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        }
                    }                   
                </div>
            </div>
        </div>
    </div>
</div>
