@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.DecampFeatureRenderings.ViewModels.PageTitleViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions
<div class="location mtb-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                
                @if (!string.IsNullOrWhiteSpace(Model.Title))
                {
                    <h1 class="blue"><i class="material-icons">add</i>@Editable(x => x.Title)</h1>
                }
                
                @if (!string.IsNullOrWhiteSpace(Model.SubTitle))
                {
                    <p class="green">@Editable(x => x.SubTitle)</p>
                }
            </div>
        </div>
        <div id="map_canvas" class="gmap-location"></div>
        <div class="decamp-location">

        </div>
    </div>
</div>