@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.DecampFeatureRenderings.ViewModels.PageTitleViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions
<div class="about-us mtb-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                
                @if (!string.IsNullOrWhiteSpace(Model.Title))
                {
                    <h1 class="blue"><i class="material-icons">add</i>@Editable(x => x.Title)</h1>
                }
                @if (Model.Date != DateTime.MinValue)
                {
                    <p class="date blue">@Model.Date.ToString("MMMM dd, yyyy")</p>
                }
                @if (!string.IsNullOrWhiteSpace(Model.SubTitle))
                {
                    <h4 class="green">@Editable(x => x.SubTitle)</h4>
                }
                @if (!string.IsNullOrWhiteSpace(Model.RichText))
                {
                    @Editable(x => x.RichText)
                }
            </div>
        </div>
    </div>
</div>