<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="acr:refreshproducts" type="ACR.Foundation.Personify.Commands.ImportPersonify, ACR.Foundation.Personify"/>
    </commands>
  </sitecore>
</configuration>