/*Clearfix*/
.cf:before,
.cf:after { content: " "; display: table; }
.cf:after {clear: both;}
.cf { *zoom: 1; }

body
, html {
	background-color: #f8f8f9;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #4b455e;
}

h1
, h2
, h3
, h4
, h5
, h6
, address
, strong
, em
, b
, i {
    font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

img {
	border: none;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.clear {
	clear: both;
}

/* @group Social Icon Styles */

.social-icons {
	height: 24px;
	float:right;
}

.social-icon-item {
	padding-right: 10px;
	float: left;
}

.social-icon {
	display: block;
	width: 24px;
	height: 24px;
	outline: none;
}

.icon-facebook {
	background: transparent url(/images/MammographySavesLives/icon-facebook.png) no-repeat center center;
}

.icon-twitter {
	background: transparent url(/images/MammographySavesLives/icon-twitter.png) no-repeat center center;
}

.icon-youtube {
	background: transparent url(/images/MammographySavesLives/icon-youtube.png) no-repeat center center;
}

/* @end Social Icon Styles */

/* @group Header Styles */

.header {
	margin: auto;
	display: block;
	background: #ebebee url('/images/MammographySavesLives/global-header-bg.jpg') top repeat-x;
	min-width: 1002px;
}

.site-logo {
	display: block;
	width: 820px;
	height: 90px;
}
#ie6only .site-logo {
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/App_Themes/Default/images/site-logo-acr.png',sizingMethod='crop');
}

.header-content {
	width: 980px;
	height: 98px;
	padding-top: 10px;
	margin: auto;
	position: relative;
}

.header-utility {
	position: absolute;
	top: 41px;
	right: 15px;
}

.header-links {
	margin-bottom: 10px;
	text-align: right;
}

.header-link-item {
	display: inline;
}

.header-link
, .header-link:visited {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #3b344f;
}

/* @end Header Styles */

/* @group Main Navigation Styles */

.main-ribbon-wrapper
{
	background: #ffffff url('/images/MammographySavesLives/nav-ribbon-left.png') scroll repeat-x 0 0;
	overflow: hidden;
	position: relative;
}

.main-ribbon-right
{
	background: #ffffff url('/images/MammographySavesLives/nav-ribbon-right.png') scroll repeat-x 0 0;
	width: 1000px;
	height: 57px;
	position: absolute;
	margin-left: 1020px;
	margin-top: -31px;
}

.main-nav-bar {
	display: block;
	background: #ebebee url('/images/MammographySavesLives/nav-ribbon.png') top center no-repeat;
	margin: 0 auto;
	width: 1020px;
	height: 57px;
}

.main-nav-wrapper {
	padding-top: 3px;
	margin: auto;
	width: 940px;
	height: 28px;
}

.main-nav-list {
	float: left;
}

.main-nav-item {
	float: left;
	padding-right: 18px;
}

.main-nav-last {
	padding-right: 0;
}

.main-nav-link
, .main-nav-middle
, .main-nav-inner {
	display: block;
	height: 26px;
	line-height: 26px;
}
#ie6only .main-nav-link
, #ie6only .main-nav-middle
, #ie6only .main-nav-inner {
	display:inline-block;
	cursor:pointer;
}

.main-nav-link
, .main-nav-link:visited {
	color: #fff;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.main-nav-link:hover
, .main-nav-link:active {
	color: #e2dfec;
	text-decoration: none;
}

.main-nav-link {
	cursor: pointer;
	padding-left: 6px;
}

.main-nav-middle {
	padding-right: 6px;
}

.main-nav-inner {
	padding-right: 2px;
}

.main-nav-selected .main-nav-link
, .main-nav-selected .main-nav-middle
, .main-nav-selected .main-nav-inner {
	background: transparent url(/images/MammographySavesLives/main-nav-selected.png) no-repeat top left;
}

.main-nav-selected .main-nav-middle {
	background-position: 100% -52px;
}

.main-nav-selected .main-nav-inner {
	background-position: 0 -26px;
	background-repeat: repeat-x;
}

.reminder {
	background: transparent url('/images/MammographySavesLives/right-arrow-sm.png') center right no-repeat;
	padding: 0 15px 0 0;
	float: right;
}

.reminder-link
, .reminder-link:visited {
	background: none;
	padding: 0;
	color: #e2dfec;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #e2dfec;
	text-transform: none;
}

.reminder a:hover
, .reminder a:active {
	text-decoration: none;
	color: #fff;
}

/* @end Main Navigation Styles */

/* @group Home Page Styles */

.home-section {
	margin-right: 20px;
	clear: both;
}

.home-section .callout-action {
	line-height: 19px;
}

.home-section-primary {
	float: left;
}

.home-section-secondary {
	float: right;
}

.home-section .home-section-secondary .accredited-facility-search {
	background: url('/images/MammographySavesLives/ad-box-bg.jpg') repeat-x;
	height: 308px;
	padding: 15px 15px;
}

.home-primary {
	padding-bottom: 8px;
}
#ie6only .home-primary {
	float:left;
}

.home-primary p {
    line-height: 18px;
}

.home-primary .home-section-secondary
, .home-primary .video {
	width: 550px;
}

.home-primary .video {
	height: 308px;
}

.home-primary .video-title-ribbon
, .home-secondary .video-title-ribbon {
	margin-top: 0;
	padding: 4px 12px 0;
	width: auto;
}

.home-primary .video-title-ribbon {
	background: url('/images/MammographySavesLives/description-box-ribbon-lg.png') top center no-repeat;
	height: 34px;
	padding: 4px 12px 0;
}

.video-downloads-container {
	margin-left: -55px;
	float: left;
}

.home-section .video-downloads,
.video-downloads-container .video-downloads,
.video-downloads-start-at-40 {
	margin: 15px 0;
	float: left;
}

.home-section .video-downloads-title,
.video-downloads-container .video-downloads-title {
	display: -moz-inline-box;
	display: inline-block;
	text-decoration: none;
	color: #0686b2;
	margin-left:0;
	line-height:15px;
}

.home-section .video-downloads-title {
	width: 145px;
}

.video-downloads-container .video-downloads-title {
	width: 180px;
}

.video-downloads-info-first {
	margin-left: 42px;
}

.video-downloads-info {
	margin-left: 65px;
}

.video-downloads-info-first,
.video-downloads-info {
	display: -moz-inline-box;
	display: inline-block;
	width: 145px;
}

.home-section .video-downloads-info-first .video-downloads-details,
.home-section .video-downloads-info .video-downloads-details,
.video-downloads-container .video-downloads-details {
	display: -moz-inline-box;
	display: inline-block;
	font-size: 12px;
	line-height:15px;
	margin-left: 0;
}

.home-section .video-downloads-info-first .video-downloads-details,
.home-section .video-downloads-info .video-downloads-details {
	width: 145px;
}

.video-downloads-container .video-downloads-details {
	width: 180px;
}

.home-section .video-downloads .video,
.video-downloads-container .video-downloads .video,
.video-downloads-start-at-40 .video {
	margin: 0 0 5px 55px;
}

.video-downloads-container .video-downloads .video {
	width: 216px;
	height: 122px;
}

.arrow-link,
.arrow-link-first {
	background: transparent url(/images/MammographySavesLives/video-play-21x21.png) no-repeat top left;
	margin-top: 5px;
	width: 21px;
	height: 21px;
	outline: none;
	text-indent: -9000px;
	float:left;
	position: relative;
	top: -9px;
}

.arrow-link-first {
	left: 32px;
}

.arrow-link {
	left: 55px;
}

.pause-button {
	background-image: url(/images/MammographySavesLives/video-pause-21x21.png);
}

.home-secondary {
	background: #c1d9e3 url('/images/MammographySavesLives/description-box-bg.gif') repeat-x top left;
	margin-top: 20px;
}

.home-row-3,
.home-row-4 {
	margin-top: 20px;
}

.home-secondary p,
.home-row-3 p,
.home-row-4 p {
    line-height: 18px;
}

.home-secondary .home-section-primary
, .home-secondary .home-section-secondary
, .home-secondary .video {
	width: 460px;
}

.home-row-3 .home-section-row-3-primary {
	width: 630px;
	background: #c1d9e3 url('/images/MammographySavesLives/description-box-bg.gif') repeat-x top left;
	margin: 0 20px 0 0;
	float: left;
}

.home-row-3 .home-section-row-3-secondary {
	width: 290px;
	height: 310px;
	background: #c1d9e3 url('/images/MammographySavesLives/description-box-bg.gif') repeat-x top left;
	margin: 0;
	float: left;
	overflow: hidden;
}

.home-row-3 .home-section-row-3-secondary .text-box {
	background: none;
	padding: 0 0 15px 22px;
}

.home-row-3 .home-section-row-3-secondary .text-box p {
	padding-bottom: 15px;
}

.home-row-3 .home-section-row-3-secondary .text-box .no-left-margin {
	margin-left: 0;
}

.home-row-3 .home-section-row-3-secondary .text-box .homepage-small-promo-links {
	float: right;
	position: relative;
	top: -16px;
	left: -20px;
}

.home-row-3 .home-section-row-3-secondary .text-box .callout-action {
	float: right;
}

.home-row-4 .home-section-row-4-primary {
	width: 520px;
	margin: 0 20px 0 10px;
	float: left;
}

.home-row-4 .home-section-row-4-secondary {
	width: 380px;
	margin: 0;
	float: left;
}

.home-row-4 .home-section-row-4-primary .text-box-title {
	padding: 0 0 13px 0;
}

.promo-banner {
	float: right;
	margin-top: 40px;
}

.promo-image {
	float: left;
	position: relative;
	top: -26px;
}

.home-secondary .video,
.home-secondary .video-first,
.home-row-3 .video,
.home-row-3 .video-first,
.home-row-4 .video,
.home-row-4 .video-first {
	width: 255px;
	height: 143px;
}

.home-secondary .video,
.home-row-3 .video,
.home-row-4 .video {
	margin: 0 0 5px 55px;
}

.home-secondary .video-first,
.home-row-3 .video-first,
.home-row-4 .video-first {
	margin: 0 0 5px 32px;
}

.home-secondary .video-title-ribbon
, .home-secondary .text-box-ribbon {
	height: 36px;
	padding: 4px 12px 0;
}

.home-secondary .video-title-ribbon {
	background: url('/images/MammographySavesLives/description-box-ribbon.jpg') top center no-repeat;
	width: 436px;
}

.home-secondary .text-box-ribbon {
	background: url('/images/MammographySavesLives/description-box-ribbon-lg.png') top left no-repeat;
	width: 436px;
}

.home-section .video-description-box
, .home-section .text-box {
	background: #c1d9e3 url('/images/MammographySavesLives/description-box-bg.gif') repeat-x top left;
}

.home-primary .text-box {
    min-height: 286px;
}

.home-secondary .text-box {
    min-height: 237px;
}

.home-callouts {
	margin-top: 20px;
	margin-right: 0;
	float: right;
}

.home-callout-item {
	border-top: solid 1px #d8d6dc;
	width: 160px;
	margin-right: 10px;
	padding: 18px 10px 30px 10px;
	float: left;
}

.home-callout-last {
	margin-right: 0;
}

.home-callouts .callout-title
, .home-section .text-box-title {
	color: #23a8d5;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
}

.home-callouts .callout-title {
	padding-bottom: 10px;
	vertical-align: top;
	line-height: 23px;
	min-height: 60px;
	font-size: 18px;
}

.home-section .text-box-title {
  padding-top: 22px;
	padding-bottom: 13px;
	line-height: 28px;
	font-size: 26px;
}

.home-section .accredited-facility-search {
	font-size: 18px;
}

.home-secondary .text-box-title,
.home-row-3 .text-box-title,
.home-row-4 .text-box-title {
	padding-left: 22px;
}

.home-callouts .callout-description {
	clear: both;
	line-height: 17px;
	margin-bottom:5px;
}

.callout-image {
	float:left;
	margin:0 10px 0 0;
}
.callout-story .callout-title {
	background: transparent url(/images/MammographySavesLives/callout-image-story.png) no-repeat left 3px;
	padding-left: 73px;
}

.callout-reminder .callout-title {
	background: transparent url(/images/MammographySavesLives/callout-image-reminder.png) no-repeat left top;
	padding-left: 47px;
}

.callout-friend .callout-title {
	background: transparent url(/images/MammographySavesLives/callout-image-friend.gif) no-repeat left top;
	padding-left: 76px;
}

.callout-center .callout-title {
	background: transparent url(/images/MammographySavesLives/callout-image-center.png) no-repeat left top;
	padding-left: 66px;
}

/* @end Home Page Styles */

/* @group Main Content Styles */

.link {
	text-transform: uppercase;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	background: transparent url('/images/MammographySavesLives/right-arrow-pink.png') center right no-repeat;
	margin-top: 5px;
	padding-right: 15px;
	display: -moz-inline-box;
	display: inline-block;
}

.link a:link
, .link a:visited {
	color: #e5265f;
	text-decoration: none;
}
	
.link a:hover
, .link a:active {
	color: #ae1e42;
	text-decoration: none;
}

.more-link {
	text-transform: uppercase;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	background: transparent url('/images/MammographySavesLives/right-arrow-pink.png') center right no-repeat;
	margin-top: 5px;
	padding-right: 15px;
	display: -moz-inline-box;
	display: inline-block;
	color: #e5265f;
	cursor: pointer;
}

.more-link:hover {
	color: #ae1e42;
	text-decoration: none;

}

.story-teaser .less-link {
	text-transform: uppercase;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	background: transparent url('/images/MammographySavesLives/up-arrow-pink.png') center right no-repeat;
	margin-top: 5px;
	padding-right: 12px;
	display: -moz-inline-box;
	display: inline-block;
	color: #e5265f;
	text-decoration: none;
	padding-bottom: 0;
}

.download-link {
	text-transform: uppercase;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	background: transparent url('/images/MammographySavesLives/down-arrow-blue.png') center right no-repeat;
	margin: 5px 10px 0 0;
	padding-right: 12px;
	display: -moz-inline-box;
	display: inline-block;
}

.download-link a:link
, .download-link a:visited {
	color: #23a8d5;
	text-decoration: none;
}

.download-link a:hover
, .download-link a:active {
	color: #2085b9;
	text-decoration: none;
}

.title-link {
	background: transparent url('/images/MammographySavesLives/down-arrow-blue.png') center right no-repeat;
	margin-top: 5px;
	padding-right: 12px;
	display: -moz-inline-box;
	display: inline-block;
}

.body-content .link a:link
, .body-content .link a:visited {
	color: #e5265f;
	text-decoration: none;
}

.body-content .link a:hover
, .body-content .link a:active {
	color: #ae1e42;
	text-decoration: none;
}

.body-content a:link
, .body-content a:visited {
	text-decoration: none;
	color: #23A8D5;
}

.body-content a:hover
, .body-content a:active {
	text-decoration: none;
	color: #2085b9;
}

.body-content-callout {
	zoom:1;
	margin:15px 0;
	padding-top:10px;
}
.icon-pdf {
	background:url(/images/MammographySavesLives/icon-pdf.png) 0 0 no-repeat;
	min-height: 42px;
	padding-left: 64px;
}
#ie6only .icon-pdf {height:42px;}
.icon-doc {
	background:url(/images/MammographySavesLives/icon-doc.gif) 0 0 no-repeat;
	min-height: 42px;
	padding-left: 64px;
}
#ie6only .icon-doc {height:42px;}
    .body-content-callout img {
	display: inline;
	vertical-align: middle;
}

.body-content-callout p {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align:middle;
}

.ie6 .body-content-callout
, .ie7 .body-content-callout
, .ie6 .body-content-callout p
, .ie7 .body-content-callout p
, .ie6 .highlight-text
, .ie7 .highlight-text {
	display: inline;
}

.body-content-callout a {
	font-weight: bold;
	font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}


.research-content .body-content-callout {
	float: left;
	margin: 15px 50px 15px 0;
	width:280px;
	background-position:0 10px;
	padding-left:50px;
	min-height:52px;
}
#ie6only .research-content .body-content-callout {
	height:52px;
}

.research-content .body-content-callout img {
	float:left;
}

.research-content .body-content-callout p {
	float:left;
	width:278px;
	color:#23A8D5;
}


.ie6 .single-column .body-content-callout
, .ie7 .single-column .body-content-callout
, .ie6 .single-column .body-content-callout p
, .ie7 .single-column .body-content-callout p {
	display: block;
}

.single-column .body-content-callout {
	clear: left;
}

.callout-action {
	text-transform: uppercase;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	background: transparent url(/images/MammographySavesLives/right-arrow-pink.png) no-repeat center right;
	padding-right:15px;
}
#ie6only .callout-action
, .ie7 .callout-action {
	display:inline-block;
}
.callout-action
, .callout-action a:link
, .callout-action a:visited {
	color: #e5265f !important;
	text-decoration: none;
}

.callout-action:hover
, .callout-action a:hover
, .callout-action a:active {
	color: #ae1e42;
	text-decoration: none;
}

.view-all {
	margin-left: 70px;
	font-size: 14px;
}

.container {
	background: #f8f8f9 url('/images/MammographySavesLives/page-bg.jpg') top center repeat-y;
	width: 980px;
	margin: auto;
	padding: 0 11px 0 28px;
}

.main-content {
	width: 960px;
	padding: 10px 0 20px 10px;
}

.fact-box {
	background: url('/images/MammographySavesLives/ad-box-bg.jpg') repeat-x;
	height: 308px;
	width: 340px;
	padding: 15px 15px;
	margin-right: 20px;
}

.fact-button {
	float: left;
	margin: 10px 4px 0 0;
}

/* @end Main Content Styles */

/* @group Subpage Styles */

.main-content h1 {
	font-size: 37px;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
	color: #23a8d5;
	padding-bottom: 2px;
	width: 350px;
}

.main-column {
	width: 760px;
	margin: 0 20px 30px 0;
	border-top: solid 2px #d8d6dc;
	float: left;
}

.main-column h2 {
	font-size: 24px;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
	color: #23a8d5;
	border-bottom: solid 2px #d8d6dc;
	padding: 20px 0 10px;
	margin-bottom: 20px;
	clear: left;
}

.intro-text {
	font-size: 14px;
	margin-top: 20px;
}

.home-secondary .intro-text-module,
.home-row-3 .intro-text-module,
.home-row-4 .intro-text-module {
	font-size: 14px;
	margin-left: 22px;
}

.video-downloads-intro {
	margin-bottom: 15px;
}

.video-share-link {
	float: right;
	margin-top: -5px;
}

.teaser-blurb {
	border-bottom: solid 1px #d8d6dc;
	padding: 0px 12px 20px 80px;
}

.teaser-blurb h3 {
	color: #0686b2;
	font-size: 14px;
	font-weight: normal;
	border: none;
	padding: 6px 0 2px;
}

.teaser-blurb h3 a:link
, .teaser-blurb h3 a:visited {
	text-decoration: none;
	color: #0686b2;
}

.teaser-blurb h3 a:hover
, .teaser-blurb h3 a:active {
	text-decoration: none;
	color: #036192;
}

.selected-teaser-blurb {
	border-bottom: solid 1px #d8d6dc;
	padding: 0px 12px 10px 80px;
	background-color: #f1f1f3;
	height: auto;
}

.selected-teaser-blurb h3 {
	color: #0686b2;
	font-size: 14px;
	font-weight: normal;
	border: none;
	padding: 6px 0 4px;
}

.selected-teaser-blurb h3 a:link
, .selected-teaser-blurb h3 a:visited {
	text-decoration: none;
	color: #0686b2;
}

.selected-teaser-blurb h3 a:hover
, .selected-teaser-blurb h3 a:active {
	text-decoration: none;
	color: #036192;
}

.story-teaser {
	padding:0;
}

.story-teaser p {
	padding-bottom: 16px;
}

.story-teaser h3 {	
	color:#0686b2;
	font-size:14px;
	font-weight:bold;
	border:none;
	padding: 20px 0 2px;
}

.story-teaser img {
	float:left;	
	padding:20px 10px 0;
}

.story-teaser-text{
	display:inline;
}

.story-teaser h3 a:link,
.story-teaser h3 a:visited {
	text-decoration:none;
	color:#0686b2;
}

.story-teaser h3 a:hover,
.story-teaser h3 a:active {
	text-decoration:none;
	color:#036192;
}

.selected-story {
	border-bottom:solid 1px #d8d6dc;
	background-color:#f1f1f3;
}

.pager {
	display: -moz-inline-box;
	display: inline-block;
	margin: 20px 0;
}

.pager-list li {
	display: inline;
	padding-right: 6px;
	font-size: 12px;
}

.pager-list a:link
, .pager-list a:visited {
	text-decoration: none;
	color: #23a8d5;
}

.pager-list a:hover
, .pager-list a:active {
	color: #1d82bc;
	text-decoration: none;
}

.pager-list-selected {
	color: #e5265f;
	text-decoration: underline;
}

.content-highlight{
	background-color:#f1f1f3;
	padding:15px;
}

.content-image {
	float:right;
	clear:both;
	text-align:right;
	padding:0 0 30px 20px;
	margin:-80px 0 0 50px;
}

.content-image .pager {
	margin:0 0 10px;
	text-align:right;
	display:inline;
	position:relative;
}

.content-box {
	float: right;
	background-color: #fff;
	padding: 0 0 30px 20px;
	margin-top: 30px;
	width: 290px;
}

.content-box-header {
	background: url('/images/MammographySavesLives/content-box-ribbon.png') top center no-repeat;
	width: 266px;
	height: 35px;
	padding: 4px 12px 0;
}

.content-box-header h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 18px;
	display: inline;
	border: none;
	padding: none;
}

.content-box-details h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #3b344f;
	font-size: 14px;
	margin-bottom: 10px;
}

.content-box-details {
	background: #c1dae4 url('/images/MammographySavesLives/content-box-bg.png') no-repeat;
	width: 258px;
	padding: 0 10px 20px;
	font-size: 12px;
	border-left: solid 1px #c4c2ca;
	border-right: solid 1px #c4c2ca;
	border-bottom: solid 1px #c4c2ca;
	float: right;
}

.video-download {
	display: -moz-inline-box;
	display: inline-block;
	padding-left: 10px;
	background: transparent url('/images/MammographySavesLives/pink-bullet.png') center left no-repeat;
	margin: 0 4px;
	text-decoration: none;
	color: #0686b2;
}

.content-box-details a:hover
, .content-box-details a:active {
	text-decoration: none;
	color: #036192;
}

.content-box-title {
	float: left;
}

.tools-news-release-right {
	float: right;
}

.tools-for-physicians,
.tools-marketing-materials 
{
	float: left;
	width: 520px;
}

.tools-audio-downloads 
{
	float: left;
	width: 220px;
	margin-left: 20px;
}

.print-media img
{
	float: left;
	border: solid 1px #eee;
}

.print-media-list,
.audio-download-list
{
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #0686b2;
}

.print-media-list
{
	margin-left: 10px;
}

.audio-download-list
{
	margin-left: 0;
}

.print-media-list p 
{
	padding: 3px 0px 10px 20px;
}

.audio-download-list p {
	padding: 3px 0 10px 0;
}

.print-media-link,
.resource-link {
	display: -moz-inline-box;
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	color: #0686b2;
}

.print-media-link {
	padding-left: 10px;
	background: transparent url('/images/MammographySavesLives/pink-bullet.png') center left no-repeat;
	margin: 4px 8px;
}

.main-column .resource-title {
	margin-bottom: 5px;
}

.resource-list {
	margin-bottom: 25px;
}

.main-content h1.page-title-long {
	width: 700px;
}

.main-highlight-panel {
	width: 758px;
	border: solid 1px #fff;
	background-color: #ebeaed;
	padding: 20px 0;
	position: relative;
	float:left;
}

.primary-highlight {
	width: 400px;
	margin-left: 10px;
}

.primary-highlight img {
	display: inline;
	clear: both;
}

.highlight-text {
	font-size: 19px;
	display: -mox-inline-box;
	display: inline-block;
	width: 250px;
	line-height: 25px;
}

.highlight-panel-image-container {
	top: -85px;
	right: 10px;
	position:absolute;
}

.secondary-highlight {
	position:relative;
	width: 134px;
	margin: 20px 8px;
	float: left;
	margin-bottom:7px;
	display:inline;
}

.secondary-highlight img {
	display: block;
	border-bottom: solid 1px #c8c6cd;
	margin-bottom: 4px;
}

.body-content-list {
	margin: 4px 0;
}

.body-content-list-item {
	display: -mox-inline-box;
	display: inline-block;
	padding-left: 10px;
	background: transparent url('/images/MammographySavesLives/pink-bullet.png') center left no-repeat;
	margin: 2px 4px;
	text-decoration: none;
}

/*.share-story-link {
	float:right;
	position:relative;
	top:-10px;
}*/



/* @end Sub Page Styles */

/* @group Contact Page Styles*/

.info-box {
	width:450px;
	font-size:16px;
	line-height:22px;
}

.info-box-details {
	width:190px;
	font-size:14px;
	float:left;
	margin:15px 0 0 50px;
}

.info-box-details-first {
	width:190px;
	font-size:14px;
	float:left;
	margin:15px 0 0 15px;
}

.content-highlight .info-box-details-first {
	margin:15px 0 0 ;
}

.info-box h2{
	margin-bottom:1px;	
}

.info-box h3{
	font-weight:bold;
}	

/* @end Contact Page Styles*/

/* @end Subpage Styles */

/*@group Modal Styles*/

.friend-modal{
	height:282px;
	padding:110px 35px 30px 50px;
	background:transparent url('/images/MammographySavesLives/tell-a-friend-bg.png') top left no-repeat;
	text-align: left;
}

.friend-modal .invalid {
	background-color: #ffb6ad;
}

.modal-input-title{
	display:-moz-inline-box;
	display:inline-block;
	width:100px;
}

.modal-input{
	width:230px;
	display:inline;
	padding-left:5px;
}

.modal-textbox{
	vertical-align:top;
	width:224px;
	padding:7px;
}

.modal-buttons {
	width: 320px;
}

.friend-modal-send {
	text-transform: uppercase;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	border:none;
	cursor:pointer;
	float:right;
	margin:5px 7px 0 0;
	background:transparent;
	color:#e5265f;
	text-decoration:none;
}

.friend-modal-cancel{
	text-transform: uppercase;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	border:none;
	cursor:pointer;
	float:right;
	margin:5px 7px 0 0;
	background:transparent;
	color:#23a8d5;
	text-decoration:none;
}

/*@end Modal Styles*/

/* @group Video Styles */

.video-area {
	padding: 12px 10px 20px;
	border-right: solid 1px #fff;
	width: 480px;
	float: left;
	clear: both;
}

.video {
	width: 480px;
	height: 300px;
}

.video-title-ribbon {
	width: 480px;
	height: 39px;
	background: #fff url('/images/MammographySavesLives/video-banner.png') top center no-repeat;
	padding-top: 0;
	font-size: 12px;
}
.video-title-ribbon img {
	float:left;
}
.video-title-link {float:left;}
.video-title-link:hover {
	border-bottom:1px solid #fff;
}

.video-description-box
, .text-box {
	background-color: #fff;
}

.video-description-box {
    padding: 1px 20px 20px 11px;
	margin-left: 10px;
	border-left: 1px solid #d3d1d7;
	border-right: 1px solid #d3d1d7;
	border-bottom: 1px solid #d3d1d7;
}

.text-box {
    padding: 1px 20px 20px 20px;
}

.video-stats {
	margin-bottom: 4px;
}

.video-description {
	font-size: 13px;
	line-height: 18px;
}

.video-title {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 18px;
	display: block;
	padding: 4px 0 0 12px;
}

.channel-area {
	width: 250px;
	float: right;
	overflow: auto;
	height: 310px;
}

.video-box-header {
	background: url('/images/MammographySavesLives/video-box-ribbon.png') top center no-repeat;
	width:459px;
	height:35px;
	padding:4px 11px 0;
}


.video-box-header h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 18px;
	display: inline;
}

.video-box-title h2 {
	padding: 0;
	border: none;
}

.video-thumb {
	font-size: 11px;
	display: block;
	margin: 5px 0;
	clear: both;
	min-height: 80px;
}

.video-thumb-image {
	width: 94px;
	height: 71px;
}

.video-thumb-details {
	width: 145px;
	float: right;
}

.video-thumb-title {
	font-size: 14px;
	font-weight: normal;
	padding: 0;
	border: none;
	margin-bottom: 0;
}

.video-thumb a {
	background:none repeat scroll 0 0 transparent;
	margin: 0;
	padding: 0;
}

.video-thumb-title a {
	padding: 0;
	background: none;
	margin: 0;
	text-decoration: none;
	color: #0686b2;
	line-height: 1.2em;
}

.video-thumb img {
	float: left;
	padding: 4px;
	margin-right: 5px;
	background-color: #fff;
	border: 1px solid #0686b2;
	-moz-border-radius: 4px; /* FF1+ */
	-webkit-border-radius: 4px; /* Saf3-4 */
	border-radius: 4px; /* Opera 10.5, IE 9, Saf5, Chrome */
}

.sharethis{ clear:both; margin:0px; padding:0px; width:931px ;}
.sharethis div{ margin:0px; padding:5px 16px 0px 16px; height:29px; width:140px; background-color:#ebebeb; float:right; }
.sharethis div a{ text-decoration:none; color:#598baa; font: bold 14px Arial, "Helvetica", sans-serif; margin:0px; padding:0px; float:left;}

/* @end Video Styles */

/* @group Right Rail Styles */

.right-rail {
	width: 180px;
	float: left;
}

.sidebar-callout {
	border-top: solid 1px #d8d6dc;
	width: 170px;
	padding: 5px 2px 15px 0;
	font-size: 12px;
	padding-top: 10px;
}
.sidebar-callout p {
	margin-bottom:5px;
}

.callout-header-sm {
	height: 48px;
	/*width: 170px;*/
	margin: 12px 0;
	display: block;
	font-size: 17px;
	color: #23a8d5;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	vertical-align: top;
	/*line-height: 28px;*/
	min-height: 60px;
	/*text-indent: -9000px;*/
}

.annual-reminders {
	background: url(/images/MammographySavesLives/get-annual-reminders.png) no-repeat scroll left top;
}

.tell-a-friend {
	background: url(/images/MammographySavesLives/tell-a-friend.png) no-repeat scroll left top;
}

.share-your-story {
	background: url(/images/MammographySavesLives/share-your-story.png) no-repeat scroll left top;
}

.find-a-center {
	background: url(/images/MammographySavesLives/find-a-center.png) no-repeat scroll left top;
}

/*

 @end Right Rail Style */

/* @group Footer Styles */

.content-footer {
	margin: 0 20px;
	border-top: none;
	padding-top: 10px;
	height: 40px;
	clear: both;
}

.content-footer-links-container {
	width: 300px;
	float: right;
	position: relative;
	top: -5px;
}

.content-footer-item {
	background: transparent url(/images/MammographySavesLives/bullet-smallgray.png) no-repeat right center;
	padding-right: 10px;
	margin-right: 8px;
	float: left;
}

.content-footer-last {
	background: none;
	margin-right: 0;
	padding-right: 0;
}

.content-footer-links {
	float: right;
}

.content-footer-link:link
, .content-footer-link:visited {
	color: #23a8d5;
	font-size: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

.content-footer-link:hover
, .content-footer-link:active {
	color: #1d82bc;
	text-decoration: none;
}

.content-footer .social-icons {
	float: right;
	margin-right: 15px;
	margin-bottom: 5px;
}

.footer {
	background: transparent url('/images/MammographySavesLives/page-bg-bottom.jpg') center top no-repeat;
	width: 1002px;
	margin: auto;
	padding-top: 33px;
	text-align: center;
	font-size: 10px;
	color: #3b344f;
	margin-bottom: 15px;
}

.footer-logos
, .footer-logo-item
, .footer-logo-link {
	display: block;
	height: 50px;
	vertical-align: middle;
}

.footer-logos {
	padding: 15px 0 20px 0;
}

.ie6 .footer-logos
, .ie7 .footer-logos {
	padding-bottom: 0;
}

.footer-logo-item {
	margin-right: 20px;
	display: -moz-inline-box;
	display: inline-block;
	min-width: 50px;
}

.ie6 .footer-logo-item
, .ie7 .footer-logo-item {
	display: inline;
}

.footer-logo-last {
	margin-right: 0;
}

.footer-logo-link {
	outline: none;
}

.logo-sbi {
	background: transparent url(/images/MammographySavesLives/logo-sbi.png) no-repeat center center;
	width: 50px;
}

.logo-acr {
	background: transparent url(/images/MammographySavesLives/logo-acr.png) no-repeat center center;
	width: 89px;
}

.logo-asbd {
	background: transparent url(/images/MammographySavesLives/logo-asbd.png) no-repeat center center;
	width: 50px;
}


.disclaimer {
	width: 660px;
	margin: auto;
	line-height: 15px;
}

/* @end End Footer Styles */

/* @group Survivor Stories Styles */

.video-player-outline {
	border-top: solid 1px #fff;
	border-bottom: solid 1px #d3d1d7;
}

.video-player {
	border-bottom: solid 1px #fff;
	background-color: #ebeaed;
	min-height: 500px;
}

.video-player-tab-area {
	height: 39px;
	border-bottom: solid 1px #fff;
}

.video-player-tab-area li 
{
	float: left;
}

.video-player-tab {
	display: block;
	float: left;
	outline: none;
	text-indent: -9000px;
}

.personal-stories-tab {
	background: url('/images/MammographySavesLives/personal-stories-tab.png') no-repeat scroll left top;
	height: 39px;
	width: 178px;
	border-right: solid 1px #fff;
}

.ui-tabs-selected .personal-stories-tab {
	background: url('/images/MammographySavesLives/personal-stories-tab-selected.png') no-repeat scroll left top;
	height: 39px;
	width: 178px;
	border-right: solid 1px #fff;
}

.tv-ads-tab {
	background: url('/images/MammographySavesLives/tv-ads-tab.png') no-repeat scroll left top;
	height: 39px;
	width: 102px;
}

.ui-tabs-selected .tv-ads-tab {
	background: url('/images/MammographySavesLives/tv-ads-tab-selected.png') no-repeat scroll left top;
	height: 39px;
	width: 102px;
}

.story {
	width: 350px;
	margin: 0 25px 30px 0;
	float: left;
	display:inline;
}

.story-title {
	font-size: 14px;
	font-weight: bold;
	color: #23a8d5;
	border: none;
	display: -moz-inline-box;
	display: inline-block;
	padding: 0 0 5px 0;
	text-decoration: none;
}

.story img {
	float: left;
}

.story-text {
	float: left;
	margin-left: 10px;
	width: 280px;
}


/* @end Survivor Stories Styles */

/* @group Input Form Styles */

.sign-up-form {
	width:450px;
}
.form-container 
{
	margin-top: 10px;
}

.form-row
{
	padding: 8px 3px;
}

.form-label
{
	display: -moz-inline-box;
	display: inline-block;
	width: 120px;
	font-size: 14px;
	font-weight: bolder;
	color: #23a8d5;
	vertical-align: top;
}

.form-error 
{
	margin-left: 6px;
	color: #ff005c !important;
	position: absolute;
}

.field-text
{
	border: solid 1px #7e9db9;
	width: 275px;
}

.field-text-small
{
	width: 140px;
}

.field-text-box
{
	height: 120px;
	overflow: auto;
	overflow-y: scroll;
}

.field-file
{
	width: 300px;
	border: solid 1px #7e9db9;
	height: 22px;
	margin-right: 4px;
	cursor: pointer;
}

.required span
{
	margin-left: 2px;
	color: #d61c5a;
	font-weight: normal;
}

.form-buttons 
{
	margin-top: 10px;
	border-top: 2px solid #d8d6dc;
	width: 100%;
	padding-top: 6px;
	text-align: right;
	clear: both;
	width: 435px;
	padding-right: 105px;
}

.form-buttons input 
{
	padding: 0px 2px;
	vertical-align: middle;
}

.cancel-button
{
	color: black;
	cursor: pointer;
	text-decoration: none;
	margin-right: 20px;
}
.cancel-button:hover
{
	color: #23a8d5;
	text-decoration: underline;
}

.form-row input[type=checkbox] 
{
	height: 14px;
}

.show-terms-of-use 
{
	vertical-align: top;
	line-height: 14px;
	padding: 1px 3px 0 0;
}

.terms-of-use {
	margin:0 10px;
}
.terms-of-use p {
	margin:1em 0;
}

/* @end Input Form Styles */

/* @group About Us Styles */
.member-org {
	margin-top: 16px;
	font-weight: bold;
}
/* @end About Us */

/* @group Reminder Form Styles */

.reminder-section 
{
	position: relative;
	width: 540px;
}

.reminder-image 
{
	position: absolute;
	right: -210px;
	top: -85px
}

/* @end Reminder Form Styles */

/* @group Manager Styles */

.story-quick-access {
	width: 920px;
	height: 45px;
	border-bottom: 1px solid #d8d6dc;
	margin: 0 10px 12px 0;
	text-align:right;
}

.story-quick-access input {
	margin-right: 8px;
}

.story-quick-access a {
	float: left;
}

.story-filters {
	float: right;
}

.story-filters a {
	margin-right: 12px;
	float: right;
}

.manager-teaser {
	width: 920px;
	border-bottom: 1px solid #d8d6dc;
}

.manager-blurb {
	margin:0 20px 0 5px;
	border-bottom: 0;
	width: 700px;
}

.manager-teaser .selected-teaser-blurb {
	border-bottom: 0;
	width: 700px;
	padding: 0px 12px 10px 80px;
	margin:0 20px 0 5px;
	background-color: #f1f1f3;
	height: auto;
}

.story-quicklinks {
	float:right;
	margin: 12px 20px 0 0;
}

.story-quicklinks a {
	display: inline-block;
	margin-right: 12px;
}

.active {
	background: transparent url(/images/MammographySavesLives/active.png) no-repeat top left scroll;	
	height: 16px;
	width: 16px;
	display: inline-block;
	text-indent: -9000px;
	outline: 0;
}

.inactive {
	background: transparent url(/images/MammographySavesLives/inactive.png) no-repeat top left scroll;
	height: 16px;
	width: 16px;
	display: inline-block;
	text-indent: -9000px;
	outline: 0;
}

.spotlighted {
	background: transparent url(/images/MammographySavesLives/spotlight-on.png) no-repeat top left scroll;	
	height: 16px;
	width: 16px;
	display: inline-block;
	text-indent: -9000px;
	outline: 0;
}

.normal {
	background: transparent url(/images/MammographySavesLives/spotlight-off.png) no-repeat top left scroll;
	height: 16px;
	width: 16px;
	display: inline-block;
	text-indent: -9000px;
	outline: 0;
}

.edit-text-box {
	height: 300px;
	width: 600px;
}

.story-information {
	float: left;
	width: 602px;
}

.story-photo {
	float: right;
	width: 320px;
	margin-right: 20px;
}

.manager-form-buttons {
	width: 820px;
	float: left;
	margin-top: 20px;
	padding: 12px 60px;
	text-align: center;
}

.photo-buttons {
	margin: 20px;
	text-align: center;
}

.photo-buttons input {
	margin-right: 20px;
}

.new-photo {
	margin: 10px;
}

/* @end Manager Styles */


/* facility search */
.facilitySearchForm
{
	clear:both;
	*zoom: 1.0;
}
.facilitySearchForm .srchfld,
.facilitySearchForm .srchfld-home
{
  margin: 0 0 16px;
}
.facilitySearchForm .srchfld
{
	float: left;
}
.facilitySearchForm .srchfld-home-submit
{
	float: right;
}
.facilitySearchForm .srchfld input {
	width: 350px;
}

.facilitySearchForm .srchfld input[type=checkbox] {
    width: 20px;
    float: right;
}

.facilitySearchForm .srchfld select {
  width: 356px;
}

.facResults
{
}
.facResults table
{
	width:776px;
	border:1px solid #000;
	margin: 0 0 40px 0;
}

.facResults table th {
  background-color: #C1DAE4;
  color: #3B344F;
}


.facResults table th,
.facResults table td
{
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	vertical-align:top;
  padding: 4px 6px;
}
.facility-info span
{
	clear:left;
	float:left;
}

.facility-info .facility-modules
{
	padding: 4px 6px;
}

.facility-info .facility-modules li 
{
	margin: -5px 0px 0px 0px;
}
.facResults table td.img
{
	border-left: none;
	text-align:center;
}

.facDirSrchForm {
  width: 760px;
}

.facDirSrchForm.srch-home {
  width: 500px;
	margin-top: 15px;
}

.srchfld-home label {
	font-size: 13px;
}

.srchfld-home {
	margin-top: 5px;
}

.srchfld-home.zip {
	width: 200;
	float: left;
}

.srchfld-home-submit {
	float: right;
	position: relative;
	top: 30px;
}

.facilitySearchForm .srchfld.facDirFormAddress,
.facilitySearchForm .srchfld.facDirFormAccredOnly,
.facilitySearchForm .srchfld.facDirFormCity {
  float: right;
}

.facilitySearchForm .facDirFormSubmit {
  margin: 0;
  float: right;
}

.facilitySearchForm .srchfld.facDirFormsubmit,
.facilitySearchForm .srchfld.facDirFormSubmit input {
  width: 80px;
  float: right;
}









