@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.DSIHomeBanner.ViewModels.HomeBannerViewModel>

<div class="banner full">
    <img src="/images/DsiHomeBanner/heroArrowRight.png" alt="scroll down" class="scroll-img">
    @RenderImage(x => x.BGImage, new { @class = "img" }, isEditable: true)
    <div acr="list" class="banner-content limit" style="padding:30px;--gap:30px;">
        <h2 acr class="resize-title new-heading" style="--color:#fff;max-width:600px;">@Editable(x => x.Title)<small> @Editable(x => x.SubTitle)</small></h2>

        @RenderLink(Model, x => x.Link, new { @style = "--control-color:#fff;--hover-color:#e2dbdb;--hover-border: 1px solid #e2dbdb;", @class = "new-home-page-btn", @acr = "btn-2ry" }, isEditable: true)


    </div>
</div>

