@charset "UTF-8";


#styleguide-header{background: #efefef; box-shadow:inset 0 -.2em .25em rgba(0,0,0,.05); padding: .5em 0; text-align:right;}
main[role=main]{margin-top:3em !important;}
#style-guide-title{margin-bottom:.5rem;}
a[href^='#need']{color: #ccc;}
.markup pre{margin-top:0;}
.markup > strong{display: inline-block; background: #ccc; padding: .1em .7em; line-height: 1.4; border-radius: .2em .2em 0 0;}
.code-view{font-size:.75rem; color:#5B8EBB;min-height: 18rem; background: #3D3D44;border: 1px solid #3D3D44;}
textarea.code-view{max-width:100%;}
.code-view.script-view{min-height: 8rem; color:#d49898;}
.code-view.script-view:focus{border-color:#d49898;}
.code-view:focus{border-color:#5B8EBB;}
.style-btn{display:inline-block; color: #aaa; margin: .2rem; font-size: .875rem; text-align: center; vertical-align: middle; border:1px solid; border-radius: .2rem; padding: .44rem 1.1rem; line-height: 1.1; cursor: pointer; transition:120ms all ease-out;}
.style-btn:hover{color: #ccc !important;}

.note{border:1px solid #f0cb80; padding: 1.2em; border-radius: 1em; background:#faf4e8; margin-top: 4em; color: #c48d17;}
.note h3{color:inherit;}
.note-text{color: #c48d17;}
.styleguide-pg li a{margin-right:1ex; display: inline-block;}