/*#colorbox overlay#*/
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; -webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxLoadedContent img,#cboxLoadedContent a{max-width: 100%;}
#cboxLoadedContent iframe{width: 100%;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{ -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
#cboxContent{margin-top:42px;  background: #000; -moz-border-radius: .5em; -webkit-border-radius: .5em; border-radius: .5em;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{padding: 1em 2.5em 1.25em; background:#fff; -moz-border-radius: .5em; -webkit-border-radius: .5em; border-radius: .5em;}
#cboxTitle{position:absolute; bottom:.8em; right:1em; }
#cboxCurrent{position:absolute; bottom:1em; left:1em;}
#cboxLoadingGraphic{background:url(/App_Themes/global/images/loading.gif) no-repeat center center;}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
        
#cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
#cboxPrevious,#cboxNext,#cboxClose{background: url(/App_Themes/global/images/colorbox-sprite.png) no-repeat top left; 
  background: none, url(/App_Themes/global/images/colorbox-sprite.svg) no-repeat top left;
  background-size: 98px 130px;
}
#cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; width:28px; height:65px; text-indent:-9999px;}
#cboxPrevious:hover{background-position:bottom left;}
#cboxNext{background-position:top right; position:absolute; top:50%; right:5px; margin-top:-32px; width:28px; height:65px; text-indent:-9999px;}
#cboxNext:hover{background-position:bottom right;}
#cboxClose{position:absolute;top: 0px; right: 0px; -webkit-border-radius:50px; border-radius:50px; display:block;width: 35px; height:35px; text-indent:-9999px;background-position: center top; }
#cboxClose:hover{background-position:center bottom;}