.icon-home{
    content: '';
    height: 22px;
    width: 22px;
    display: inline-block;
    vertical-align: baseline;
    background: url(/images/acr-home.png);
    background-size: cover;
    margin-bottom: -3px;
    margin-right: 1ex;
    font-weight:bold;
}
.cus-fieldcss .text-box, select {
    background: #fff;
    border: 1px solid #bebebe;
    width: 100%;
    max-width: 420px;
    padding: .1em .4em;
    min-height: 2em;
    color: inherit;
    font-family: inherit;
}

.dsi-top-utility-nav .link-divider {
    color: #ffffff;
}

.header-underrule {
    margin-bottom:1.25em;
}
#main-nav-holder>ul>li>a {
    font-weight:bold;
}
#utility-nav a {
    font-weight:bold;
}

.video { 
    /*position: relative; 
    width:100%;
    max-height:392px;*/
}
.video video{
    /*max-height:274px;
    position: relative;*/
    width:75%;
    max-height:392px;
    object-fit: cover;
}
/*.video img { 
    position: absolute; 
    display: block; 
    top: 35%; 
    left: 45%;
    width: 100px; 
    height: 100px; 
    z-index: 30; 
    cursor: pointer;
}*/
.page-hero-image { height: inherit; width: 100%; overflow: hidden; position: relative; min-height: 254px; }
.page-hero-image img { min-height: inherit; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); min-width: 100%; }
.page-hero-image .banner-logo img { min-height: inherit; position: absolute; top: 135px; left: 50%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); min-width:0; background-color:#010B28; }

#utility-nav .dsi-top-utility-nav {
    font-size: .875em;
    margin-bottom: 1.2em;
}

.dsi-top-utility-nav li + li {
    margin-left: .5em;
}

.v-align-items-m > * {
    vertical-align:middle;
}

.dsi-footer-banner .button{
    margin-left:40px;
}

.dsi-footer-banner h2{
    margin-bottom:0px;
}


@media only screen and (max-width: 400px) {
    .dsi-footer-banner .button {
        margin-left: 0px;
    }
}

    .bookmark-link, .reccommend-link {
        display: none !important;
    }

    @media (min-width: 1024px) {
        #dsi-hero-logo {
            width: 270px;
            left: auto;
            right: -86px;
        }
    }


    @media (min-width: 768px) {
        #dsi-hero-logo {
            left: auto;
            right: -26px;
        }
    }


    #dsi-hero-logo {
        width: 160px;
        margin: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        background: rgba(0,13,48,.95);
        padding: 12px;
    }

    main[role='main'] {
        min-height: 540px;
    }


    /* Added on 2/23 */
    #pg-hero, #pg-hero-img, #pg-hero > .content {
        height: 208px;
        position: relative;
    }

    #pg-hero {
        background: #000d30;
        margin-bottom: 2rem;
    }

    #pg-hero-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;
    }

    #dsi-hero-logo {
        width: 160px;
        margin: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        background: rgba(0,13,48,.95);
        padding: 12px;
    }

    #dsi-hero-logo {
        width: 160px;
        margin: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        background: rgba(0,13,48,.95);
        padding: 12px;
    }

        #dsi-hero-logo img {
            width: 100%;
        }


    .dark-hero #dsi-hero-logo {
        background: rgba(1,8,14,.9);
    }

    @media (min-width: 768px) {
        #dsi-hero-logo {
            left: auto;
            right: 26px;
        }
    }

    /*lg screens*/
    @media (min-width: 1024px) {
        #pg-hero, #pg-hero-img, #pg-hero > .content {
            height: 392px;
        }

        #dsi-hero-logo {
            width: 270px;
            left: auto;
            right: 112px;
        }

        #pg-hero-img {
            background-size: initial;
        }
        /*left:-96px;*/

        .header-underrule {
            margin-bottom: 2.5rem;
        }

        .indented-section {
            padding-left: 46px;
            padding-right: 46px;
        }

        [class*='lg-wide-'] {
            float: left;
            padding-left: 0;
            padding-right: 0;
            min-height: 1px;
        }

        .lg-col-1, .lg-wide-1 {
            width: 8.33333333%;
        }

        .lg-col-8th, .lg-wide-8th {
            width: 12.5%;
        }

        .lg-col-6th, .lg-col-2, .lg-wide-2, .lg-wide-6th {
            width: 16.6666%;
        }

        .lg-col-5th, .lg-wide-5th {
            width: 20%;
        }

        .lg-col-4th, .lg-col-3, .lg-wide-3, .lg-wide-4th {
            width: 25%;
        }

        .lg-col-3rd, .lg-col-4, .lg-wide-4, .lg-wide-3rd {
            width: 33.3333%;
        }

        .lg-col-2-5ths, .lg-wide-2-5ths {
            width: 40%
        }

        .lg-col-5, .lg-wide-5 {
            width: 41.66666667%;
        }

        .lg-col-half, .lg-col-6, .lg-wide-6, .lg-wide-half { /*width: 50%;*/
        }

        .lg-col-7, .lg-wide-7 {
            width: 58.33333333%;
        }

        .lg-col-3-5ths, .lg-wide-3-5ths {
            width: 60%
        }

        .lg-col-2-3rds, .lg-col-8, .lg-wide-8, .lg-wide-2-3rds {
            width: 66.6666%
        }

        .lg-col-3-4ths, .lg-col-9, .lg-wide-9, .lg-wide-3-4ths {
            width: 75%;
        }

        .lg-col-4-5ths, .lg-wide-4-5ths {
            width: 80%;
        }

        .lg-col-5-6ths, .lg-col-10, .lg-wide-10, .lg-wide-5-6ths {
            width: 83.3333%;
        }

        .lg-col-7-8ths, .lg-wide-7-8ths {
            width: 87.5%;
        }

        .lg-col-11, .lg-wide-11 {
            width: 91.66666667%;
        }

        .lg-col-full, .lg-col-12, .lg-wide-12, .lg-wide-full {
            width: 100%;
        }


        /*#display lg#*/
        .lg-show {
            display: none !important;
        }

        .lg-inline {
            display: inline;
        }

        .lg-inline-block {
            display: inline-block;
            float: none;
            max-width: 100%;
        }

        .lg-block {
            display: block;
        }

        .lg-table {
            display: table;
        }

        .lg-table-cell {
            display: table-cell;
        }

        /*#display lg/tables#*/
        .lg-table-like {
            display: table;
            table-layout: fixed;
            width: 100%;
        }

            .lg-table-like > div, .lg-table-like > section, .lg-table-like > aside {
                display: table-cell;
                float: none;
            }

            .lg-table-like:after {
                content: none;
            }

        /*#display lg/flexbox#*/
        .lg-flex-sp-between, .lg-flex-left, .lg-flex-center {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
        }

            .lg-flex-sp-between:after, .lg-flex-left:after, .lg-flex-center:after {
                content: none;
            }

        .lg-flex-sp-between, .flex-container {
            -ms-flex-line-pack: justify;
            align-content: space-between;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .lg-flex-left {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -ms-flex-line-pack: start;
            align-content: flex-start;
        }

        .lg-flex-center {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-line-pack: center;
            align-content: center;
        }

        /*#display lg/inline-block ul#*/
        .lg-inline-ul ul, .lg-inline-ul {
            display: inline-block;
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .lg-inline-ul li {
                display: inline-block;
                list-style: inherit;
            }

        .lg-block-li li {
            display: block;
        }


        /*#modifiers lg#*/
        /*#modifiers lg/text alignments#*/
        .lg-text-left, .lg-text-l {
            text-align: left;
        }

        .lg-text-center, .lg-text-c {
            text-align: center;
        }

        .lg-text-right, .lg-text-r {
            text-align: right;
        }

        /*#modifiers lg/floats#*/
        .lg-fl-none, .lg-float-none {
            float: none;
        }

        .lg-fl-right, .lg-float-r {
            float: right;
        }

        .lg-fl-left, .lg-float-l {
            float: left;
        }

        /*#modifiers lg/img align#*/
        .lg-img-r {
            margin-left: 1rem;
            margin-bottom: 1rem;
            float: right
        }

        .lg-img-l {
            margin-right: 1rem;
            margin-bottom: 1rem;
            float: left
        }

        .lg-img-center, .lg-img-c,
        .lg-img-center img, .lg-img-c img {
            margin-left: auto;
            margin-right: auto;
            width: auto;
            float: none;
        }

        /*#modifiers lg/margin#*/
        .lg-margin-auto {
            margin: auto;
            float: none;
        }

        .lg-margin-t-0 {
            margin-top: 0
        }

        .lg-margin-b-0 {
            margin-bottom: 0;
        }

        /*#modifiers lg/padding#*/
        .lg-pad-none, .lg-pad-0 {
            padding: 0;
        }

        .lg-pad-t-0 {
            padding-top: 0;
        }

        .lg-pad-t-4 {
            padding-top: 4px;
        }

        .lg-pad-t-8 {
            padding-top: 8px;
        }

        .lg-pad-t-12 {
            padding-top: 12px;
        }

        .lg-pad-t-16 {
            padding-top: 16px;
        }

        .lg-pad-r-0 {
            padding-right: 0;
        }

        .lg-pad-r-4 {
            padding-right: 4px;
        }

        .lg-pad-r-8 {
            padding-right: 8px;
        }

        .lg-pad-r-12 {
            padding-right: 12px;
        }

        .lg-pad-r-16 {
            padding-right: 16px;
        }

        .lg-pad-b-0 {
            padding-bottom: 0;
        }

        .lg-pad-b-4 {
            padding-bottom: 4px;
        }

        .lg-pad-b-8 {
            padding-bottom: 8px;
        }

        .lg-pad-b-12 {
            padding-bottom: 12px;
        }

        .lg-pad-b-16 {
            padding-bottom: 16px;
        }

        .lg-pad-l-0 {
            padding-left: 0;
        }

        .lg-pad-l-4 {
            padding-left: 4px;
        }

        .lg-pad-l-8 {
            padding-left: 8px;
        }

        .lg-pad-l-12 {
            padding-left: 12px;
        }

        .lg-pad-l-16 {
            padding-left: 16px;
        }


        /*#modifiers lg/font adjustments#*/
        .lg-uppercase {
            text-transform: uppercase;
        }

        .lg-lowercase {
            text-transform: lowercase;
        }

        .lg-text-size-p875 {
            font-size: .875em;
        }

        .lg-text-size-1p125 {
            font-size: 1.125em;
        }

        .lg-text-size-1p25 {
            font-size: 1.25em;
        }

        .lg-text-size-1p5 {
            font-size: 1.5em;
        }

        .lg-up-hide {
            display: none !important;
        }
    }

    #breadcrumbs {
        margin-bottom: 0;
    }

    .img-l {
        margin-right: 1.7rem;
        margin-top: 0;
        margin-bottom: 1rem;
        float: left;
        text-align: center;
    }

    .wide-12, .wide-full {
        width: 100%;
    }

    #header-logo, #header-logo-sticky-srch {
        display: inline-block;
        height: 60px;
        width: 250px;
        background: url(/images/DSI_horz.png) left top no-repeat;
        background-size: 250px 60px;
    }

    #header-logo-sticky-srch {
        display: none;
    }

    @media only screen and (max-width: 1024px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .dsi-top-utility-nav {
            display: none;
        }
    }

    @media only screen and (min-width: 1025px) {
        main[role='main'] {
            margin-top: 231px;
        }

        #site-header {
            left: 0;
            top: 0;
            z-index: 1000;
        }

            #site-header.sticky {
                position: fixed;
            }

        .sticky .stick-hide {
            display: none;
        }

        #header-logo {
            background-size: 350px;
            width: 350px;
            height: 80px;
        }

        .sticky #header-search ul {
            padding-left: 260px;
        }

        .sticky #header-logo-sticky-srch {
            display: block;
            height: 60px;
            width: 250px;
            background-size: 250px 60px;
            margin-top: -6px;
            position: absolute;
        }
    }