@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

<section class="padding-l-0 padding-r-0 padding-b-0 main-nav"> 
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="navbar-header">
                        <button id="mobile-nav-toggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <i class="ic ic-bars"></i>
                        </button>
                        @Html.Sitecore().Placeholder("logo")
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="nav-Block">

                        <ul class="nav navbar-nav pull-right top-nav">
                            <li>
                                @Html.Sitecore().Placeholder("search")
                            </li>
                            @Html.Sitecore().Placeholder("link-menu")
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/.container-fluid -->
        @Html.Sitecore().Placeholder("navbar")
        <!--/.container-fluid -->        
    </nav> 
</section>