@inherits System.Web.Mvc.WebViewPage<ACRHelix.Project.Decamp.Models.SearchSettings>
@if (!string.IsNullOrWhiteSpace(Model.SearchPageUrl))
{
    <li>
        <div class="search-bar">
            <input type="text" id="decamp-searchbox" class="form-control" placeholder="Enter Search Term" data-url="@Model.SearchPageUrl">
        </div>
    </li>
    <li class="nav-item"><a class="nav-link search-top" href="javascript:void(0)"><span class="search-text">Search</span> &nbsp;<i class="fa fa-search"></i></a></li>
}
