/*DSI Home Css*/
.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

/*---*/

.dsi-home-hero {
    text-align: center;
    background: #062d4a;
    position: relative;
    min-height: 300px;
}


.col-dsi-hero-sm {
    margin-top: 6px;
    padding-left: 0;
    padding-right: 0;
}

.dsi-home-hero * {
    color: #fff;
}

.dsi-home-hero h1 {
    font-size: 44px;
    font-weight: 400;
    margin: .525em 0;
}

    .dsi-home-hero h1 small {
        display: block;
        font-size: .43em;
        font-weight: 400;
        text-transform: uppercase;
    }

.dsi-hero-image-bg {
    background-size: cover;
    background-position: center center;
}

.dsi-home-hero .content {
    position: relative;
    z-index: 100;
}

    .dsi-home-hero .content > div {
    }

.dsi-hero-image-bg,
.dsi-hero-do-hover,
.dsi-hero-image-bg:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100;
    z-index: 1;
}

    .dsi-hero-image-bg:before {
        content: '';
        display: block;
        background: rgba(0,0,0,.625);
        z-index: 2;
    }

.dsi-home-bg-box {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 12px;
    position: relative;
    z-index: 50
}

.dsi-hero-do-hover .dsi-hero-image-bg {
    transition: 320ms all ease-out;
    transform: scale(1);
}

.dsi-hero-do-hover {
    overflow: hidden;
}

.col-dsi-hero-sm:hover .dsi-hero-do-hover .dsi-hero-image-bg {
    transform: scale(1.1);
}

.dsi-home-bg-box > * {
    -webkit-align-self: center;
    align-self: center;
    width: 100%;
}

.dsi-home-bg-box span {
    margin: 0;
}

.dsi-home-bg-box .acr-icon {
    color: #2bb3d9;
}

    .dsi-home-bg-box .acr-icon:before {
        font-size: .875rem;
    }

.dsi-home-bg-box a:hover {
    color: #fff;
    opacity: .83;
}


.dsi-bg-home-sky {
    background: rgba(32, 138, 168, 0.9);
}

.dsi-bg-home-blue {
    background: rgba(10,65,99,.9);
}

.dsi-bg-home-green {
    background: rgba(75,152,57,.9);
}



@media only screen and (min-width: 920px) {
    .dsi-home-hero {
        text-align: left;
    }

        .dsi-home-hero h1 {
            font-size: 58px;
        }

            .dsi-home-hero h1 small {
                font-size: .344em;
            }

    .col-dsi-hero-lg,
    .col-dsi-hero-sm {
        margin-top: 0;
        padding-left: 10px;
        padding-right: 10px;
        float: left;
    }

    .col-dsi-hero-lg {
        width: 40%;
    }

    .col-dsi-hero-sm {
        position: relative;
        width: 20%;
    }

    .dsi-hero-do-hover {
        left: 10px;
        right: 10px;
    }

    .col-dsi-hero-sm .dsi-hero-image-bg:before {
        content: none;
    }
}

@media only screen and (min-width: 1025px) {
    .col-dsi-hero-lg {
        width: 44%;
    }

    .col-dsi-hero-sm {
        position: relative;
        width: 18.666667%;
    }

    .dsi-home-hero h1 {
        font-size: 70px;
    }
}
