@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model Sitecore.Mvc.Presentation.RenderingModel

@Html.Sitecore().DynamicPlaceholder("bulletin-masthead", true)

<div class="content">
    <div class="row">
        <div class="flex-l">
            <div class="xl-col-8 lg-col-12">
                @Html.Sitecore().DynamicPlaceholder("bulletin-home-featured", true)
            </div>
            <div class="xl-col-4 lg-col-12 pullquote-outer sm-pad-none">
                @Html.Sitecore().DynamicPlaceholder("bulletin-home-quote", true)
            </div>
        </div>
    </div>
</div>
@Html.Sitecore().DynamicPlaceholder("bulletin-home-container")