@using Glass.Mapper.Sc.Fields
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Bulletin.ViewModels.BulletinArticleBreadcrumbsViewModel>

@{
    int linkCount = Model.Links.Count();
}
<!-- BEGIN NOINDEX -->
<div id="breadcrumbs">
    <div class="content row">
        <div class="col-12">
            <a href="/">Home</a>
            <span class="breadcrumb-separator">/</span>
            @if (linkCount > 0)
            {
                foreach (var link in Model.Links.Select((value, index) => new { index, value }))
                {
                    if (link.index < linkCount - 1)
                    {
                        <a href="@link.value.Url">@link.value.Text</a>
                        <span class="breadcrumb-separator">/</span>
                    }
                    else
                    {
                        <span class="breadcrumb-current-page">@link.value.Text</span>
                    }
                }
            }
        </div>
    </div>
</div>
<!-- END NOINDEX -->