html, body {
    box-sizing: border-box;
    height: 100%;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    margin: 0px;
    color: #131313;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
}


	a:link {
		text-decoration: none;
		color: #0088cc;
	}
	
	a:hover {
		text-decoration: underline;
	}
	
	#CenterColumn {
	  margin: auto;
	  padding-right: 20px;
	  padding-left: 20px;
	  max-width: 1170px;
	  min-height: 402px;
	  background: white url('-/media/Default Website/cover.ashx') no-repeat;
	  background-size: 1170px 402px;
	  text-align: left;
	}	
	
	#InnerCenter {
		margin: auto;	
		position:relative;
		width:1150px;
		height:700px;
	}	
	
	#Header {
		height:402px;
	}	
	
	#Footer {
		width:100%;
		clear:both; 
		padding-top:2px;
	}	
	
	#LeftContent {
        width:750px;
	    text-align: justify;
	}
	
	#scLogo {
		margin-top:20px;
	}

.box {
    background: #f2f2f2;
    width: 100%;
    padding: 1.1rem;
    margin-bottom: 1.25rem;
    border: 1px solid #ccc;
    min-height: 5rem
}

.button {
    border: 1px solid #4b9839;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    text-align: center;
    margin-top: .3rem;
    margin-bottom: .3rem;
    vertical-align: middle;
    color: #fff;
    background: #4b9839;
    display: inline-block;
    padding: .75rem 1.5rem;
    line-height: 1;
    white-space: nowrap;
    font-size: 1rem
}

.btn-bordered {
    border: 1px solid #415564;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    text-align: center;
    margin-top: .3rem;
    margin-bottom: .3rem;
    vertical-align: middle;
    color: #415564;
    background: $white;
    display: inline-block;
    padding: .75rem 1.5rem;
    line-height: 1;
    white-space: nowrap;
    font-size: 1rem;
}

	/*
	.contentTitle {
		margin-top: 50px;
		font-weight:400;
		font-size: 36px;
		
	}
	
	.divider {
		background-color: #DCDCDC;
		border: 0 none;
		clear: both;
		display: block;
		height: 1px;
		float:none;
		margin: 50px auto;
		width: 100%;
	}
	
	.contentDescription{
		padding-right:20px;
		line-height: 22px;
	}
*/
/* Added for Rich Text Editor Styles*/
.no-target-icon{

}

.text-size-1p25{

}
/*start: header tag style*/
.tag-h1-blue {
    color:#1b64a5;
    font-size:60px;
}
.tag-h2-blue {
    color:#1b64a5;
    font-size:36px;
}

.tag-h3-blue {
    color:#1b64a5!important;
    font-size:26px!important;
}
.tag-h4-blue {
    color:#1b64a5;
    font-size:20px;
}

.tag-h1-red {
    color:#a52f01;
    font-size:60px;
}
.tag-h2-red {
    color:#a52f01!important;
    font-size:36px!important;
}

.tag-h3-red {
    color:#a52f01;
    font-size:26px;
}
.tag-h4-red {
    color:#a52f01;
    font-size:20px;
}
.purple {
    color: #8957b6;
    font-size:26px!important;
}
.red-primary-btn {
    color: #fff;
    background-color: #a52f01;
    border-color: #a52f01;
    padding: 10px 36px;
    border-radius: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
/*end: header tag style*/

.justify-content-center{-ms-flex-pack:center!important;justify-content:center!important; }

.btn-radpac-red {
  position: relative;
  z-index: 5;
  background: #e02a2e;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 25px;
}

.btn-radpac-red:hover, .btn-radpac-red:focus {
  background: #FE0B10;
  border-color: #fff;
  color: #fff;
}

.btn-radpac-blue {
  background: #0f416b;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 20px;
}

.btn-radpac-blue:hover, .btn-radpac-blue:focus {
  background: #0c3355;
  border-color: #fff;
  color: #fff;
}


.inline-img-w-caption {
    color: black;
}

.btn-decamp-green-secondary {
    color: #fff;
    font-size: 18px;
    background: #247f78;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 15px;
    margin-top: 3rem;
    display: inline-block;
}

    .btn-decamp-green-secondary:after {
        font-family: "FontAwesome";
        content: "\f101";
        padding-left: 5px;
    }

    .btn-decamp-green-secondary:hover {
        color: #fff;
        background: #195752;
    }

.btn-ideas-purple {
    color: #fff;
    background: #8957b6;
    border-radius: 0;
    padding: 0px 20px 0px 20px;
    height: 62px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    vertical-align: middle;
    line-height: 62px;
    display: inline-block;
}

    .btn-ideas-purple:hover {
        color: #fff;
        background: #7b4ea3;
    }

    .btn-ideas-purple a {
        color: #fff;
        background: #8957b6;
        border-radius: 0;
        padding: 0px 20px 0px 20px;
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
        display: inline-block;
        display: inline-block;
    }

        .btn-ideas-purple a:hover {
            color: #fff;
            background: #7b4ea3
        }
