<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="velir:addExpressURL" type="ACR.Foundation.ExpressUrls.Commands.AddExpressUrlsCommand,ACR.Foundation.ExpressUrls"/>
			<command name="velir:manageAll" type="ACR.Foundation.ExpressUrls.Commands.ManageExpressUrlsCommand,ACR.Foundation.ExpressUrls"/>
		</commands>
    <events>
      <event name="publish:end">
        <handler type="ACR.Foundation.ExpressUrls.Cache.ExpressUrlCacheClearer, ACR.Foundation.ExpressUrls" method="ClearCache"/>
      </event>
      <event name="publish:end:remote">
        <handler type="ACR.Foundation.ExpressUrls.Cache.ExpressUrlCacheClearer, ACR.Foundation.ExpressUrls" method="ClearCache"/>
      </event>
    </events>
    <pipelines>
      <httpRequestBegin>
        <processor type="ACR.Foundation.ExpressUrls.Processors.ExpressUrlProcessor, ACR.Foundation.ExpressUrls" patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']" />
      </httpRequestBegin> 
    </pipelines>  
   <controlSources>
      <source mode="on" namespace="Sitecore.Web.UI.XmlControls" folder="/SitecorePlugins" deep="true"/>
    </controlSources>

    <settings>
      <setting name="jacr_redirect_flag" value="true" />
      <setting name="jacr_redirect_src" value="/ACR-Product-Catalog/Product-Catalog-Results?catalogtype=JACR" />
      <setting name="jacr_redirect_to" value="/Practice-Management-Quality-Informatics/JACR/Past-CME-Activities" />
    </settings>
    
	</sitecore>
</configuration>