<?xml version="1.0"?>
<ACRSettings>
	<add key="PersonifyServiceUrl" value="https://personifyds75.acr.org/PersonifyDataACR.svc" />
	<add key="PersonifyServiceUser" value="pdsuser" />
	<add key="PersonifyServicePass" value="pds#$12" />

	<!--Personify Product page URLs -->
	<add key="AcrShopUrl" value="https://stgshop75.acr.org" />
	<add key="LogOffUrl" value="/default.aspx?ctl=logoff&amp;returnurl=" />
	<add key="AcrImagePath" value="/images/productimages/" />
	<add key="ShoppingCartUrl" value="/Default.aspx?TabId=57" />
	<add key="ProductUrlRoot" value="/Default.aspx?TabID=55" />
	<add key="CourseMeetingUrlRoot" value="/Default.aspx?TabID=235" />
	<add key="RenewMembershipLink" value="/MyACR/MYMEMBERSHIP.aspx" />
	<add key="BecomeAMemberLink" value="/Default.aspx?TabID=267" />
	
	<!--Personify removel Taxonomy items -->
	<add key="PersonifyExclude" value="GUIDELINES,MEDICARE,MEMBERSHIP,PATIENT,BILLING,APPR_CRITERIA,CHAPTER,REGISTRIES,VOLUNTEER" />

  <add key="PhysicistQuickLinkTitle" value="Medical Physicist Resources" />
  <add key="PhysicistQuickLinkURL" value="https://www.acr.org/Clinical-Resources/Medical-Physics-Resources"/>
  
</ACRSettings>
