<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<ACRSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="PersonifyServiceUrl" value="https://personifyds.acr.org/PersonifyDataACR.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  <add key="AcrShopUrl" value="https://shop.acr.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  <add key="PhysicistQuickLinkTitle" value="Medical Physicist Resources" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  <add key="PhysicistQuickLinkURL" value="https://www.acr.org/Clinical-Resources/Medical-Physics-Resources" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
</ACRSettings>