@using Glass.Mapper.Sc.Web.Mvc
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<RHEC.Website.ViewModels.LinkMenuViewModel>

@{
    int itemCount = Model.MenuItems.Count();
}
<div class="footer-links">
    <p>@Model.Title</p>
    <ul>
        @if (itemCount > 0)
        {
            foreach (var item in Model.MenuItems.Select((value, index) => new { index, value }))
            {
                if (item.value.Link != null)
                {
                    <li><a target="@item.value.Link.Target" href="@item.value.Link.Url">@item.value.Title</a></li>
                }
            }
        }
    </ul>
</div>