@charset "UTF-8";


input[type=button].rgSortDesc, .rgSortDesc {
    border: 0;
    padding: 0;
    background: url(/images/sort-down.svg) left top no-repeat;
    background-size: contain;
    width: 12px;
    height: 8px;
}

.sort-table .rgSortDesc {
    position: absolute;
    right: .5rem;
    top: 50%;
    margin-top: -4px;
}

.sort-table th a, .sort-table th a:hover {
    color: inherit;
}

.side-nav {
    margin-bottom: 1.5rem;
    max-width: 420px;
}

    .side-nav ul {
        display: block;
        list-style: none;
        padding: 0 1rem 0 1rem;
    }

    .side-nav li {
        list-style: inherit;
        display: block;
        overflow: hidden;
        font-size: 1.125rem;
        margin: 0;
        position: relative;
        padding: 0;
        border-top: 1px solid #ccc;
    }

        .side-nav li:first-child {
            border-top: 0;
        }

        .side-nav li li {
            font-size: 1rem;
            padding: 0;
            border-top: 0;
        }

    .side-nav a {
        color: #0a4163;
        position: relative;
        display: block;
        padding-left: 2.1rem;
    }

.side-nav-transition li {
    min-height: 1px;
    overflow: hidden;
    -webkit-transition: 300ms min-height ease-out 60ms;
    transition: 300ms min-height ease-out 60ms;
}

.side-nav li ul {
    display: none;
    margin-bottom: 0;
    margin-left: 1.2rem;
    margin: -.2rem 0 1rem 1.2rem;
    padding-right: 0;
    padding-left: 0;
}

.side-nav li a {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.side-nav .selected a {
    font-weight: 600;
    color: #333;
}

.side-nav-inner a:hover .acr-icon {
    color: #f89300;
}

.side-nav li li a {
    padding: .5rem 1rem;
}

.side-nav .nav-opened ul {
    display: block;
}

.side-nav .acr-icon {
    color: #fbaf3f;
    position: absolute;
    left: 0;
    top: 1.375rem;
    font-size: 1.4rem;
    -webkit-transition: 100ms all ease-in-out;
    transition: 100ms all ease-in-out;
}

.side-nav .icon-download-folder {
    font-size: 1.12rem;
}

.side-nav .icon-arrow-right {
    color: #4b9839;
    position: absolute;
    left: auto;
    right: 0;
    top: 1.4rem;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    cursor: pointer;
}

.side-nav .nav-opened .icon-arrow-right {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.side-nav-transition .icon-arrow-right {
    -webkit-transition: 200ms all ease-out;
    transition: 200ms all ease-out;
}

.side-nav-inner > ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background: #fff;
    margin-top: 0;
    border: 1px solid #0a4163;
    border-top: 0;
    width: 100%;
    z-index: 1100;
}

.side-nav-inner.side-nav-open > ul {
    display: block;
}

.no-nav-icons li a {
    padding-left: 1rem;
}

.profile-toggle-side-nav {
    padding: .75rem;
    margin-bottom: -1px;
    border: 1px solid #0a4163;
    position: relative;
}

    .profile-toggle-side-nav .icon-arrow-right {
        right: 1.1rem;
        top: 1rem;
    }

    .profile-toggle-side-nav > * {
        display: inline-block;
        margin: 0;
    }

.side-nav-inner {
    position: relative;
}

    .side-nav-inner ul {
        padding-top: 0;
        -webkit-transition: 300ms padding-top ease-in;
        transition: 300ms padding-top ease-in;
    }

.side-nav-open.side-nav-inner > ul {
    padding-top: 8px;
}

.account-main > * {
    margin-bottom: 0;
}

.account-main .box-account {
    height: 100%;
}

.box-account h1 {
    margin-bottom: .7rem
}

.additional-radio-text {
    padding-top: .8rem
}

@media only screen and (min-width: 768px) {

    .additional-radio-text {
        padding-top: 0;
        padding-left: 2.25rem
    }
}

@media only screen and (min-width: 961px) {
    .side-nav {
        max-width: none;
        float: left;
    }

        .side-nav li a {
            padding-right: 1.75rem;
        }

    .side-nav-inner > ul {
        position: relative;
        margin-top: 0;
        display: block; /*! padding-left:0; */
        border: 0;
        border-bottom: 1px solid #fbaf3f;
    }
}

@media print {
    .side-nav {
        display: none;
    }
}

/*#track steps#*/
.track-step-nav-outer {
    width: 100%;
    overflow: hidden !important;
    height: 6em;
    max-width: 100%;
}

.track-step-nav {
    width: 200%;
    height: inherit;
    text-align: center;
    color: #d6d6d6;
    position: relative;
    margin: auto;
}

.track-step-track {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

    .track-step-track:before {
        content: '';
        display: block;
        margin-top: .875em;
        border-top: 1px solid;
        width: 100%;
        height: 1px;
    }

    .track-step-track .icon-arrow-right {
        font-size: 1.25rem;
        height: 1.5rem;
        text-align: right;
        margin-top: -.625rem;
    }

        .track-step-track .icon-arrow-right:before {
            vertical-align: top;
            color: #b1b1b1;
            display: block;
            width: 2rem;
            text-align: center;
            float: right;
            margin-right: -1rem;
        }

.track-step {
    position: relative;
    min-height: 2em;
    text-align: left;
}

    .track-step em {
        font-style: normal;
        font-weight: 600;
        background: #fff;
        display: block;
        width: 1.75rem;
        height: 1.75rem;
        line-height: 1.5;
        vertical-align: middle;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid;
        margin: 0 auto .3rem;
        position: relative;
        z-index: 2;
    }

.completed-step.track-step em {
    color: #4b9839
}


.track-step-label {
    white-space: nowrap;
    display: inline-block;
    padding: .2rem 1rem;
    text-align: center;
    color: inherit;
}

    .track-step-label:hover {
        color: inherit;
    }

.track-step-completed {
    color: #4b9839;
}

.active-step {
    color: #333;
    padding-left: .75rem;
    padding-right: .75rem;
}

    .active-step .track-step-label {
        border-bottom: 2px solid #4b9839;
        position: relative;
        text-align: center;
    }

        .active-step .track-step-label:after {
            content: '';
            display: block;
            height: 0;
            width: 0;
            border-top: 8px solid #4b9839;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            position: absolute;
            left: 50%;
            margin-left: -7px;
            top: 100%;
        }

    .active-step + .track-step .track-step-label {
        float: right;
    }

.track-box {
    background: #fff;
    width: 100%;
    padding: 1.1em;
    margin-bottom: 1em;
    border: #ccc 1px solid
}

.item-in-cart {
    padding: .5rem .875rem;
}

.item-in-track-area .item-in-cart:nth-child(even) {
    background-color: #f2f2f2;
}

.in-track-title, .in-track-title a, .in-track-title a:hover {
    color: #0a4163;
    line-height: 1.2;
    font-size: .9375rem;
}

.in-track-row {
    margin-bottom: .9em;
    margin-top: .6em
}

.track-row {
    margin-bottom: .3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

    .track-row:after {
        content: '';
        display: block;
        clear: both;
    }

    .track-row > div {
        width: 50%;
        -ms-flex-item-align: baseline;
        align-self: baseline;
    }

        .track-row > div + div {
            text-align: right;
        }

.item-in-track-qty {
    margin: .2rem 0 .7rem;
}

.in-track-totals {
    margin: 1.25rem 0;
}

.in-track-subtotals {
    padding: 1.2rem .875rem 1.2rem 0;
    margin-bottom: 1rem;
}

.shopping-track-area {
    width: 100%;
}

.track-step-label > span {
    display: none;
}

.active-step .track-step-label > span {
    display: block;
}

@media (max-width: 799px) {

    .on-step-1 .track-step-1 .track-step-label:before {
        content: '';
        height: 12px;
        background: #fff;
        width: 50%;
        position: absolute;
        top: .5rem;
        left: -.75rem;
        z-index: 1;
    }

    .on-step-4 .track-step-4 .track-step-label:before {
        content: '';
        height: 12px;
        background: #fff;
        width: 50%;
        position: absolute;
        top: .5rem;
        right: -.75rem;
        z-index: 1;
    }

    .on-step-1 .track-step-track .icon-arrow-right,
    .on-step-4 .track-step-track .icon-arrow-right {
        display: none;
    }

    .on-step-2.track-step-nav, .on-step-3.track-step-nav {
        width: 100%
    }

    .on-step-2 .step-track-arrows .acr-icon:first-child:before,
    .on-step-3 .step-track-arrows .acr-icon:first-child:before {
        right: 12%;
        position: relative;
    }

    .on-step-2 .step-track-arrows .acr-icon:last-child,
    .on-step-3 .step-track-arrows .acr-icon:last-child {
        width: 30%;
        width: calc(33% - 1rem);
    }

    .on-step-2 .track-step-track:before,
    .on-step-3 .track-step-track:before {
        width: calc(100% - 2rem);
        margin-left: 1rem;
    }

    .on-step-2.track-step-nav .track-step-2 .track-step-label,
    .on-step-2.track-step-nav .track-step-3 .track-step-label,
    .on-step-3.track-step-nav .track-step-2 .track-step-label,
    .on-step-3.track-step-nav .track-step-3 .track-step-label {
        position: absolute;
        left: 62.5%;
        top: 0;
        cursor: pointer;
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .on-step-2.track-step-nav .track-step-2 .track-step-label,
    .on-step-3.track-step-nav .track-step-2 .track-step-label {
        left: 37.5%;
    }

    .on-step-4.track-step-nav {
        left: -100%;
    }

        .on-step-4.track-step-nav .track-step:last-child .track-step-label {
            float: right;
        }

    .on-step-2 .track-step:last-child .track-step-label,
    .on-step-3 .track-step:last-child .track-step-label {
        float: right;
    }

    .on-step-1 .track-step-track .icon-arrow-right:first-child,
    .on-step-4 .track-step-track .icon-arrow-right:last-child {
        width: 2em;
        position: absolute;
        display: block;
        left: 25%;
    }

    .on-step-4 .track-step-track .icon-arrow-right:last-child {
        left: 70%
    }
}

@media (min-width: 800px) {
    .track-step-track:before {
        position: relative;
        left: 12.5%;
        width: 75%;
    }

    .track-step-track .icon-arrow-right {
        display: block;
        position: static;
    }

    .track-step-item {
        position: absolute;
        left: 50%;
        top: 0;
        cursor: pointer;
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .track-step-label > span {
        display: block;
    }

    .track-step-nav {
        width: 800px;
    }
}


/* custom dashboard css */
/* *********************
    ************************
    ****************************/


/*.checks-on-right .acr-icon{ float:right;}
.percent-comp{display: inline-block; float:right; font-weight: 600}
.account-orders .account-listed-order:nth-child(odd){background: #f2f2f2}
.account-listed-order{padding: .35rem .5rem .7rem;}
.view-order{display:inline-block; margin-left:1ex;}*/

.space-for-tooltip {
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    float: left;
}

.latest-news-item {
    margin-bottom: .85rem
}

.latest-news-pager {
    color: #b3b3b3;
    font-weight: bold;
    padding: 1rem 0 .5rem
}

.slick-arrow.latest-news-btn {
    position: static;
    display: inline-block !important;
    height: auto;
    overflow: visible;
}

.latest-news-btn strong {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    color: #2bb3d9
}

.slick-arrow.latest-news-btn i {
    display: inline-block;
    vertical-align: middle;
}

.credit-hours {
    font-size: 52px;
    display: block;
    text-align: center;
}

.dashboard-engage-icon {
    font-size: 1.625rem;
    text-align: center;
}

.ways-learn-tile, .event-tile {
    margin-top: 8px;
    margin-bottom: 8px;
}

.neg-vertical-margin {
    margin-top: -8px;
    margin-bottom: -8px;
}

.flex-content-left > div {
    margin-bottom: 0
}

#my-links-reports .acr-checkbox label{display: inline-block;}
#my-links-reports .acr-checkbox{white-space: nowrap}
