@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.IdeasResources.ViewModels.IdeasVideoDetailViewModel>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="blue mt-5">@Editable(x => x.Title)</h1>
        </div>
    </div>
    <div class="video-list">
        <div class="row">
            @if (Model.IsYTVideo)
        {
                <div class="col-12 col-md-12 col-lg-12 list">
                    <div class="card">
                        <iframe class="iframeVideo" src="@(Model.Link != null ? Model.Link.Url : "#")" fr frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="card-body">
                            @using (BeginRenderLink(Model, x => x.Link, isEditable: true))
                    {
                                <p class="card-text">@Editable(Model, r => r.ResourceSubTitle)</p>
                    }
                        </div>
                    </div>
                </div>
        }
        </div>
    </div>
</div>
