@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.VORBlogContent.ViewModels.VORSubscriptionViewModel>

    <div class="btn-subscribe">
        @RenderLink(Model, x => x.SubscriptionLink, isEditable: true)

    </div>
