<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="ACRHelix.Foundation.IoC.Pipelines.InitializeContainer.InitializeContainer, ACRHelix.Foundation.IoC" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeControllerFactory, Sitecore.Mvc']" />
      </initialize>
      <initializeContainer>
      </initializeContainer>
    </pipelines>
  </sitecore>
</configuration>
