@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

<div class="header-nav">
    <div class="RHEC-logo">
        @Html.Sitecore().Placeholder("rhec-header-logo")
    </div>
    <div class="nav-btn-container">
        <nav>
            @Html.Sitecore().Placeholder("rhec-nav")
        </nav>
        <div class="act-now">
            @Html.Sitecore().Placeholder("rhec-act-now")
        </div>
    </div>
    </div>
   
  
