.img-icon-32h {
    display: none;
    vertical-align: middle;
    margin-right: .6rem;
    height: 32px;
}

.overview-img-holder {
    padding: 0 12px 1rem;
    max-width: 360px;
    width: 100%;
}

    .overview-img-holder img {
        width: 100%;
    }

blockquote + blockquote {
    margin-top: 2.125rem;
}

cite {
    font-size: .9375rem;
    font-style: normal;
}

.spaced-column-area > .video-item, .video-item {
    margin-bottom: 3rem;
}

@media only screen and (min-width: 641px) {
    .overview-img-holder {
        max-width: 235px;
    }

    .icons-left-ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 3.5rem;
    }

        .icons-left-ul .img-icon-32h {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
        }

        .icons-left-ul li {
            position: relative;
            margin: 1.75rem 0;
            padding-left: 36px;
        }
}

div.scLooseFrameZone {
    width: 33.3333%;
}

    div.scLooseFrameZone .xl-col-4 {
        width: 100%;
    }
