<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group name="itemProvider" groupName="itemProvider">
        <pipelines>
          <addFromTemplate>
            <processor type="ACRHelix.Foundation.BranchTemplates.Pipelines.AddFromBranch.AddFromBranch, ACRHelix.Foundation.BranchTemplates" />
          </addFromTemplate>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
