<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initializeContainer>
        <processor type= "ACRHelix.Feature.ImageWiselyContent.Pipelines.InitializeContainer.RegisterDependencies, ACRHelix.Feature.ImageWiselyContent" />
      </initializeContainer>
    </pipelines>
    <settings>
      <setting name="GoogleRecaptchaSiteKey" value="6LcLrVAUAAAAALKEcQ9BLAcJehU42cLMaAEBj_i2" />
      <setting name="GoogleRecaptchaPrivateKey" value="6LcLrVAUAAAAAMopEBmemZ0J5i5bo2oqSG3BqRUw" />
      <setting name="ImageWisely_CheckDuplicatePledges" value="true" />
    </settings>
  </sitecore>  
</configuration>
