@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.HTMLMetadata.ViewModels.PageMetadataViewModel>

<title>@Model.PageTitle</title>
<meta name="description" content="@Model.MetaDescription">
<meta name="keywords" content="@Model.MetaKeywords">