@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.MyCtColonography.ViewModels.MyCtColonographyViewModel>

<section class="section-spacing content">
    <div class="indented-section">
        <div class="row cct-section">
            <div class="xl-col-6 lg-col-8">
                <label><span>*</span> Address/ZIP </label>
                @Html.TextBoxFor(x => x.Address, new { @class = "form-control", id = "txtAddress" })
            </div>

            <div class="cct-milesDdl xl-col-3 lg-col-4">
                <label>Within</label>
                @Html.DropDownListFor(x => x.SelectedMile, new SelectList(Model.Miles, "Value", "Text"), new { @class = "form-control", id = "ddlMiles" })
            </div>
            <div class="xl-col-3 lg-col-4">
                <div class="cct-spacing-top">
                    <input id="findLocationBtn" type="button" value="Find Locations">
                </div>
            </div>
        </div>
        <div class="row cct-spacing-top xs-column-reverse">
            <div id="cct_parent" class="xl-col-7 lg-col-4 cct-pad-top">
                <p>Enter an address or zip code and click the find locations button.</p>
            </div>
            <div class="xl-col-5 lg-col-8">
                <div id="map_canvas" class="cct-map_canvas">

                </div>
            </div>
        </div>
    </div>
</section>