<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="meetings-master" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">


              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  <MeetingOrCourse>{6C0A1097-31B1-4406-8922-D5D4BB9E8925}</MeetingOrCourse>
                </include>
                <IndexAllFields>true</IndexAllFields>
              </documentOptions>

              <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                <!-- Add fields to the Default Index Configuration -->
                <fieldNames hint="raw:AddFieldByFieldName">
                  <field fieldName="start date" returnType="DateTime"/>
                  <field fieldName="end date" returnType="DateTime" />
                  <field fieldName="meeting type" returnType="string" />
                  <field fieldName="products" returnType="stringCollection"/>
                  <field fieldName="_uniqueid"  returnType="string"/>
                </fieldNames>
              </fieldMap>

            </configuration>
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/remoteRebuild" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>master</Database>
                <Root>/sitecore/content/ACR</Root>
              </crawler>
            </locations>
          </index>
          <index id="meetings-web" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">

              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  <MeetingOrCourse>{6C0A1097-31B1-4406-8922-D5D4BB9E8925}</MeetingOrCourse>
                </include>
                <IndexAllFields>true</IndexAllFields>
              </documentOptions>

              <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                <!-- Add fields to the Default Index Configuration -->
                <fieldNames hint="raw:AddFieldByFieldName">
                  <field fieldName="start date" returnType="DateTime" />
                  <field fieldName="end date"  returnType="DateTime" />
                  <field fieldName="meeting type"  returnType="string" />
                  <fieldType fieldName="products"  returnType="stringCollection" />
                  <field fieldName="_uniqueid" returnType="string" />
                </fieldNames>
              </fieldMap>
            </configuration>
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/remoteRebuild" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/ACR</Root>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>