<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="products-master" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  <product_stub>{62BEEA1D-6B79-4E0C-A98F-E337E321DBBE}</product_stub>
                </include>
                <IndexAllFields>true</IndexAllFields>
              </documentOptions>
              <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                <!-- Add fields to the Default Index Configuration -->
                <fieldNames hint="raw:AddFieldByFieldName">

                  <field fieldName="personify id"  returnType="string" />
                  <field fieldName="name" returnType="string"  />
                  <field fieldName="long name" returnType="string"  />
                  <field fieldName="hasrli"  returnType="bool"   />
                  <field fieldName="_uniqueid" returnType="string" >

                  </field>
                </fieldNames>
              </fieldMap>

            </configuration>
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/intervalAsyncMaster" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>master</Database>
                <Root>/sitecore/content/ACR/Personify/Product Stubs</Root>
              </crawler>
            </locations>
          </index>
          <index id="products-web" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  <product_stub>{62BEEA1D-6B79-4E0C-A98F-E337E321DBBE}</product_stub>
                </include>
                <IndexAllFields>true</IndexAllFields>
              </documentOptions>
              <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                <!-- Add fields to the Default Index Configuration -->
                <fieldNames hint="raw:AddFieldByFieldName">

                  <field fieldName="personify id" returnType="string"  />
                  <field fieldName="name"  returnType="string" />
                  <field fieldName="long name"  returnType="string" />
                  <field fieldName="hasrli"  returnType="bool"   />
                  <field fieldName="_uniqueid" returnType="string" >

                  </field>
                </fieldNames>
              </fieldMap>

            </configuration>
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/ACR/Personify/Product Stubs</Root>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>