<?xml version="1.0"?>
<SSOSettings>
	<add key="SSOCustomerTokenParam" value="CT" />
	<add key="SSOVendorIdentifierParam" value="vi" />
	<add key="SSOVendorTokenParam" value="vt" />
	<add key="SSOLoggedIn" value="ssologgedin" />
	<add key="SSOUsernameParam" value="uname" />
	<add key="SSOPasswordParam" value="password" />
	<add key="LoginRedirectUrlKey" value="579d4714-bd40-4119-ac06-0f5d3547da61" />

	<add key="AcrAuth.VendorUsername" value="TIMSS" />
	<add key="AcrAuth.VendorPassword" value="A0468692C8563BF06ADED9F85BBE3F5D" />
	<add key="AcrAuth.VendorBlock" value="3AD654E5CF0CCBECB96A35049FD529C6" />
	<add key="AcrAuth.VendorIdentifier" value="2" />

	<add key="AcrAuth.SSOWebReferenceURL" value="https://login.acr.org/webservice/service.asmx" />
	<add key="AcrAuth.SSOLoginURL" value="https://login.acr.org/login.aspx" />
</SSOSettings>