@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Bulletin.ViewModels.ArticleViewModel>

<div class="bulletin-pg-article-basic-hero background-area @(Model.Article.StrongGradient ? "stronger-title-gradient" : "")">
    <div class="content text-center">
        <h1>
            @Editable(Model, m => m.Article.Title)
        </h1>
        <div class="bulletin-pg-article-basic-hero-subtitle">@Editable(Model, m => m.Article.TileText)</div>
    </div>
    <figure aria-hidden="true">
        @RenderImage(x => x.Article.MainArticleImage, isEditable: true)
    </figure>

    <a href="#article-main" class="bulletin-hero-jump-button green-link">
        <i class="acr-icon icon-arrow-skinny-right">
            <span class="sr-only">Jump to Article</span>
        </i>
    </a>
</div>