<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="CM_SiteUrl" value="https://auth.acr.org" />
      <setting name="ItemApiUser" value="VORCommentSubmitterUser" />
      <setting name="ItemApiPassword" value="6ggB-Che}aNATt_p" />
      <setting name="ItemApiDomain" value="sitecore" />
    </settings>
  </sitecore>  
</configuration>
