<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">


          <index id="vor_xblog_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  <BlogPost>{F1EC5843-A85E-447D-A919-EDB4FF815615}</BlogPost>
                </include>
                <IndexAllFields>true</IndexAllFields>

                <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                  <!-- Add fields to the Default Index Configuration -->
                  <fieldNames hint="raw:AddFieldByFieldName">
                    <field fieldName="Publish Date" returnType="DateTime" />
                  </fieldNames>
                </fieldMap>
                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="BlogCategory" returnType="stringCollection">Sitecore.Feature.XBlog.Areas.XBlog.ContentSearch.ComputedFields.ParsedXBlogCategoryName,Sitecore.Feature.XBlog</field>
                  <field fieldName="BlogAuthor" returnType="stringCollection">Sitecore.Feature.XBlog.Areas.XBlog.ContentSearch.ComputedFields.ParsedXBlogAuthorName,Sitecore.Feature.XBlog</field>
                </fields>

              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">

              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/remoteRebuild" />


            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/ACR/Advocacy and Economics/Voice of Radiology Blog/</Root>
              </crawler>
            </locations>
          </index>

          <index id="vor_xblog_index1" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  <BlogPost>{F1EC5843-A85E-447D-A919-EDB4FF815615}</BlogPost>
                </include>
                <IndexAllFields>true</IndexAllFields>

                <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                  <!-- Add fields to the Default Index Configuration -->
                  <fieldNames hint="raw:AddFieldByFieldName">
                    <field fieldName="Publish Date" returnType="DateTime" />
                  </fieldNames>
                </fieldMap>
                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="BlogCategory" returnType="stringCollection">Sitecore.Feature.XBlog.Areas.XBlog.ContentSearch.ComputedFields.ParsedXBlogCategoryName,Sitecore.Feature.XBlog</field>
                  <field fieldName="BlogAuthor" returnType="stringCollection">Sitecore.Feature.XBlog.Areas.XBlog.ContentSearch.ComputedFields.ParsedXBlogAuthorName,Sitecore.Feature.XBlog</field>
                </fields>

              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">

              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/remoteRebuild" />


            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/ACR/Advocacy and Economics/Voice of Radiology Blog/</Root>
              </crawler>
            </locations>
          </index>

          <index id="vor_xblog_author_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  <BlogAuthor>{F3FDFC91-C3D6-480D-83EB-74333EC2DE1C}</BlogAuthor>
                </include>
                <IndexAllFields>true</IndexAllFields>


              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">

              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/remoteRebuild" />


            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/ACR/Advocacy and Economics/Data/ACR Blog Data/Authors/</Root>
              </crawler>
            </locations>
          </index>

          <index id="vor_xblog_comments_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <include hint="list:AddIncludedTemplate">
                  <BlogComment>{24361175-3EC2-4F90-88E1-D17B14A9D47E}</BlogComment>
                </include>
                <IndexAllFields>true</IndexAllFields>


              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">

              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/remoteRebuild" />


            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/ACR/Advocacy and Economics/Voice of Radiology Blog/</Root>
              </crawler>
            </locations>
          </index>

        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>