@model ACRHelix.Feature.PageContent.ViewModels.AuthorViewModel

<div class="content section-spacing" style="margin-top:-1rem">
    <div class="row indented-section">
        <div class="text-content" style="padding-left:12px">
            <h2>Author</h2>
            <p>@Model.AuthorName</p>
        </div>
    </div>
</div>
