@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.PageContent.ViewModels.FormSectionViewModel>



<aside class="xl-col-5 lg-col-12">
	<div class="bg-black form-box">
		<h3>@Editable(x => x.Title)</h3>
		<hr>

		<div class="page-form-area">
			@Html.Sitecore().Placeholder("form")
		</div>

	</div>
</aside>