@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.PageContent.ViewModels.KeyTakeawaysViewModel>
@using Sitecore.Mvc;
@using ACRHelix.Foundation.EditFrames;
@using DataModel = ACRHelix.Feature.PageContent.Models

<section class="content section-spacing">
	<header class="header-underrule header-with-opts-links">
		<div class="header-share-header">
			<h2>@Editable(Model, m => m.Title)</h2>
			<span>@Editable(Model, m => m.Instructions)</span>
		</div>
		<div class="header-share-opts" data-sitecore-id="@Sitecore.Context.Item.ID.ToString()">
			<a href="#share" class="share-link">
				Share
				<div class="share-drawer" style="display:none">
					<div class="sharethis-inline-share-buttons"></div>
				</div>
			</a>
			<a href="#reccommend" class="reccommend-link tool-tip">Recommend<span class="tip-text"><strong>Thanks for recommending this article!</strong><p>The article you recommended will be added to the "what others are reading" feed on "My ACR".</p></span></a>
			<a href="#bookmark" class="bookmark-link tool-tip">Bookmark<span class="tip-text"><strong>Thanks for bookmarking this article!</strong><p>The article you bookmarked will be added to the "my reading list" feed on "My ACR".</p></span></a>
		    <a href="" class="mailToLink" style="display:none">MailTo</a>
        </div>
		<!-- social sharing-->
		<!-- end social sharing-->

	</header>
	<div class="text-content indented-section jump-to">
		@Editable(Model, x => x.Takeaways)
	</div>
</section>
<hr>

