@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.PageContent.ViewModels.PageTitleWithImageViewModel>

<div class="page-hero-image section-spacing-bottom">
    @*<img src="http://placehold.it/1400x300" alt="Image Size 1400 x 300px">*@
    @RenderImage(m => m.TitleImage, isEditable: true)
    <header class="content">
        <h1 class="hero-page-title">@Editable(x => x.PageTitle.Title)</h1>
    </header>
</div>

<div class="content section-spacing">
    <h3>@Editable(x => x.PageTitle.SubTitle)</h3>
</div>