@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.PageContent.ViewModels.RichTextSectionViewModel>

@{
    var anchorLink = "";
    try
    {
        anchorLink = Server.HtmlEncode(Model.Id.ToShortID().ToString());
    }
    catch (Exception ex)
    {
        anchorLink = "";
    }
}

<div class="content section-spacing" id="@anchorLink">
    @if (!string.IsNullOrWhiteSpace(Model.Title) || Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        <h2>@Editable(x => x.Title)</h2>
        <hr>
    }
    <div class="indented-section">
        @Editable(x => x.RichText)
    </div>
</div>
