<!-- BEGIN NOINDEX -->
<div class="header-share-opts" style="margin-bottom:30px" data-sitecore-id="@Sitecore.Context.Item.ID.ToString()">
    <a href="#share" class="share-link">
        Share
        <div class="share-drawer" style="display:none">
            <div class="sharethis-inline-share-buttons"></div>
        </div>
    </a>
    <a href="#reccommend" class="reccommend-link tool-tip">Recommend<span class="tip-text"><strong>Thanks for recommending this page!</strong><p>The page you recommended will be added to the "what others are reading" feed on "My ACR".</p></span></a>
    <a href="#bookmark" class="bookmark-link tool-tip">Bookmark<span class="tip-text"><strong>Thanks for bookmarking this page!</strong><p>The page you bookmarked will be added to the "my reading list" feed on "My ACR".</p></span></a>
    <a href="" class="mailToLink" style="display:none">MailTo</a>
</div>
<!-- END NOINDEX -->