.coding-source-link-external {
	padding: 6px 12px 10px 0;
	line-height: 2;
	font-weight: bold;
}

.coding-source-link-previous {
	margin-right: 10px;
}

.coding-source-content-banner {
	padding-right: 10px;
}

.coding-source-detail-nav-top {
	margin-bottom: 10px;
}

.coding-source-detail-nav-bottom {
	margin-top: 10px;
}