/*	This is a hack for a footer positioning issue caused by a combination of html5shiv, CSS3 PIE, and the AddThis widget. */
.join-become-member aside, .media-center aside, .news-publications aside, .press-release aside, .meetings-events aside, .career-center aside, .chapters aside, .federal-relations aside, .errors aside
{
	float: none;
	padding-left: 23px;
}

a.link-attention.site-search-submit-btn:hover,
 .education-center .slider.text.one-item a.link-attention:hover {
	padding: 6px 16px;
	display: block;
	overflow: hidden;
}

h5 { overflow: hidden; }

div.fieldset,
ul.check-time {
	overflow: hidden;
}