/** print stylesheet **/

.container
{
    overflow: visible;
} 
    
.content-with-sidebar.with-sidenav,
.aside
{
    /* width: 680px (width:650px + margin-right:15px + margin-left:15px */
    width: 650px;
    margin-right: 15px;
    margin-left: 15px;
    float: none;
}

.banner-third
{
    width: 610px;    
}

.content-with-sidebar.with-sidenav .text
{
    /* width: 650px (width:610px + padding-right:19px + padding-left:19px + border-right:1px + border-left:1px */
    width: 610px;
    padding-right: 19px;
    padding-left: 19px;
}

div.featured
{
    width: 560px;
}

.news-article .aside
{
    margin-top: 25px;
}

.aside .widget
{
    /* width: 650px (width:614px + padding-right:14px + padding-left:14px + border-right:4px + border-left:4px */
    width: 614px;
    padding-right: 14px;
    padding-left: 14px;
    float: none;
}

.widget .link-external
{
    float: none;
    max-width: 400px;
}