/*******************************************************************************

	CSS on Sails Framework
	Internet Explorer 7 & Under stylesheet
	Author: XHTMLized (http://www.xhtmlized.com/)

*******************************************************************************/


/* 2. COMMON
--------------------------------------------------------------------------------
==============================================================================*/

/* Clearfix */
.clearfix { zoom: 1; }

header .form-search input {
	padding-top: 5px;
	height: 20px;
}

header .nav-utility .join-btn {
	margin-top: -1px;
}

header .form-search .form-header-search-submit-btn {
	top: 6px;
}

/* Navigation */
.nav-global {
	box-shadow: 0 5px 0px rgba(0, 0, 0, 0.08);
	behavior: url(/js/ACR/PIE.htc); 
}

.nav-secondary .submenu {
}

/* Common */
a.link-attention,
input.link-attention {
	position: relative;
	behavior: url(/js/ACR/PIE.htc);
}

a[href$=".pdf"] {
	background-position: 1px 7px;
}

a[href$=".doc"],
a[href$=".docx"] {
	background-position: 3px 7px;
}

span.arrow {
	margin-top: -2px;
	background: url('/images/ACR/common/link_arrow.png') no-repeat right 52%;
}

hr {
	height: 1px;
	border-color: none;
	background: #dfdede;
}

.box-count {
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px;
	behavior: url(/js/ACR/PIE.htc);
}

.banner-sub {
	height: 78px;
	padding-top: 22px;
	line-height: 1.5;
}

.banner-third {
	line-height: 1.5;
}

.link-outlook {
	background-position: 0 2px;
}

.slider .captions {
	background: transparent url('/images/ACR/common/bg_slider_caption.png') 0 0 repeat-x;
}

.slider.one-item a.browse.right {
	behavior: url(/js/ACR/PIE.htc);
}

.slider.one-item a.browse.left {
	behavior: url(/js/ACR/PIE.htc);
}

.navi a {	
	background: transparent url('/images/ACR/common/sprite_slider_dots.png') -16px 0 no-repeat;
}

.navi a.active {
	background: transparent url('/images/ACR/common/sprite_slider_dots.png') 0px 0 no-repeat;    
}

/* Sidebar */
aside hr {
}

/* Footer */
footer hr {
	height: 1px;
	background: #214b65;
	border-color: none;
}

footer .module.first .module-sub {
}

footer .module.second {
	width: 170px;
}

footer .module-sub {
	width: 100%;
}

footer .module-sub a {
	width: 100%;
}

footer .module.sixth {
	margin-left: 22px;
}

footer .module .module-sub.header-only {
	width: 100%;
}


/* 3. PAGES
--------------------------------------------------------------------------------
==============================================================================*/


/* 3.1 Home
------------------------------------------------------------------------------*/


/* 3.2 Career Center
------------------------------------------------------------------------------*/

.career-center .panels .link-external  {
	width: 100%;
}

.career-center .panels p.descr-link {
	width: 100%;
}

.career-center .panels .line {
	margin-bottom: 12px;
}

.career-center aside {
	padding-right: 0;
}

.career-center aside .link-external {
	background: transparent;
}


/* 3.3 Chapters
------------------------------------------------------------------------------*/


/* Content with sidebar */
.chapters .text p.descr-link {
	width: 100%;
}

/* Sidebar */
.chapters aside .tabs a {
	padding-bottom: 13px;
}

.chapters aside .module .header-sixth {
	width: 100%;
}


/* 3.4 Education
------------------------------------------------------------------------------*/


/* 3.5 Education catalog
------------------------------------------------------------------------------*/


/* 3.6 Education center
------------------------------------------------------------------------------*/


/* 3.7 Education search
------------------------------------------------------------------------------*/


/* Facet Control - Catalog results filter */
  .education-search .s-catalog .fieldset input {
    vertical-align: bottom;
    position: relative;
  }
  
  .education-search .s-catalog .fieldset ul.check-time label {
    *padding-top: 0px!important;
    margin-left: 2px;
   }
   
   .education-search .s-catalog .cat-more {
     margin-left: 34px;
     *margin-left: 33px;
   }

/* 3.8 Federal relations
------------------------------------------------------------------------------*/


/* 3.9 Home error message
------------------------------------------------------------------------------*/


/* 3.10 Home unauthenticated
------------------------------------------------------------------------------*/

.home.unauthenticated .form-login input,
.home.errors .form-login input {
	padding-top: 4px;
	height: 16px;
}

.home.unauthenticated .links,
.home.errors .links {
	float: left;
	width: 100%;
	padding-top: 12px;
}

.home.unauthenticated .form-select-chapter,
.home.errors .form-select-chapter {
	padding-bottom: 12px;
}


/* 3.11 Individual meeting
------------------------------------------------------------------------------*/

.individual-meeting aside .module.links .module-sub {
	margin-bottom: 0;
}

.individual-meeting aside .module.links .module-sub.second {
	margin-top: 4px;
}


/* 3.12 Join become member
------------------------------------------------------------------------------*/

.join-become-member .link-more span.arrow {
}


/* 3.13 Mammography
------------------------------------------------------------------------------*/

.mammography .content-with-sidebar {
	padding-bottom: 233px;
}


/* 3.14 Media center
------------------------------------------------------------------------------*/

/* Fix for the bottom of header text being cut off. */
.media-center .content-with-sidebar h3.header-forth 
{
    float: none;
    clear: both;
}


/* 3.15 Meetings events
------------------------------------------------------------------------------*/


/* 3.16 Member login
------------------------------------------------------------------------------*/

.member-login .content-with-sidebar .link-style {
}

.member-login .content-with-sidebar .header-third {
	float: none;
	width: 100%;
	margin: 0;
	padding: 20px 0 2px;
}

.member-login aside input {
	padding-top: 6px;
	height: 12px;
}

.member-login aside .links {
	padding-top: 12px;
}

.member-login .form-login .check-box {
  margin-top: 5px;
  *margin-top: 10px!important;
}


/* 3.17 My account
------------------------------------------------------------------------------*/

.account-info .link-edit {
	width: 35px;
}

.acc-box dt {
	clear: both;
	width: 150px;
	font-weight: bold;
}

.acc-box dd {
	clear: right;
	width: 300px;
	float: right;
	margin-left: 4px;
}


/* 3.18 My profile edit address
------------------------------------------------------------------------------*/


/* 3.19 News and publications
------------------------------------------------------------------------------*/
.news-publications .text .panels .header-sixth,
.news-publications .text .panels .link-external {
	width: 400px;
}


/* 3.20 News article
------------------------------------------------------------------------------*/

.news-article aside .module.links .link-external.light {
	width: 214px;
}


/* 3.21 Press release
------------------------------------------------------------------------------*/


/* 3.22 Product detail
------------------------------------------------------------------------------*/


/* 3.23 Shopping cart
------------------------------------------------------------------------------*/


/* 3.24 Site search
------------------------------------------------------------------------------*/

.searchbar .form-search input {
	line-height: 29px;
}


/* 3.25 Site map
------------------------------------------------------------------------------*/