/** print stylesheet **/

body { margin: 0;}
header { display: none; }
header a { background-color: #333333; }
.container { background: none; }
.btn-cart, .btn-catalog, .btn-donate, .btn-account, .btn-join { display: none; }
.nav-global, .nav-secondary { display: none; }
.nav-utility { display: none; }
.share-btns { display: none; }
.social-buttons { display: none; }
.form-search { display: none; }
.nav-accessibility { display: none; }

/** Footer styles **/
footer { background: none; }
footer span.border { display: none; }
footer .module a, footer .center.line { color: #000000!important; }
footer .center.line.listSections { display: none; }
footer .center.line.contactInfo { display: none; }
footer .copy { color: #000000; }
footer .footer-nav li { border-left: #000000; }
footer .footer-nav li a { color: #000000; }
footer .tel.dial, footer .tel.dial, footer .tel.dial, footer .tel.dial a { color: #000000; }
footer .social-buttons { display: none; }

body, .container
{
    width: 100%;
}

.center
{
    width: 970px;
}

.noprint
{
    display: none;
}

.page
{
    padding: 0;
}

.text
{
    clear: both;
}

.text img
{
    width: auto;
    max-width: 345px;
    height: auto;
    margin-bottom: 10px;
}

.news-article .content-with-sidebar
{
    padding-bottom: 0;
}

.content-with-sidebar.with-sidenav
{
    width: 385px;
}

.content-with-sidebar.with-sidenav .text
{
    width: 345px;    
}

li.print-media
{
    display: inline;
}

.utility .nav-breadcrumbs a
{
    color: #000000;
    text-decoration: none;  
}

.banner-third
{
    width: 345px;    
}

aside
{
    clear: both;
    width: 265px;
}

div.featured
{
    width: 295px;
}

.staff-directory .content-with-sidebar.with-sidenav .text {
    clear: both;
    width: 494px;
}

.staff-directory .content-with-sidebar.with-sidenav .text div.line {
    clear: both;
    overflow: visible;
}