<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net472" />
  <package id="Glass.Mapper.Sc.92" version="5.6.160" targetFramework="net472" />
  <package id="Glass.Mapper.Sc.92.Core" version="5.6.160" targetFramework="net472" />
  <package id="Glass.Mapper.Sc.92.Mvc" version="5.6.160" targetFramework="net472" />
  <package id="Glass.Mapper.Sc.92.WebForms" version="5.6.160" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net46" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.1.66" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="14.0.0.3" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="SimpleInjector" version="4.9.2" targetFramework="net472" />
  <package id="SimpleInjector.Integration.Web" version="4.9.2" targetFramework="net472" />
  <package id="SimpleInjector.Integration.Web.Mvc" version="4.9.2" targetFramework="net472" />
</packages>