<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initializeContainer>
        <processor type= "ACRHelix.Feature.CaseInPoint.Pipelines.InitializeContainer.RegisterDependencies, ACRHelix.Feature.CaseInPoint" />
      </initializeContainer>
    </pipelines>
    <settings>      
      <setting name="CipApiUrl" value="https://cortex.acr.org/WebAPI/CiPUtility/GetPublishedCaseData/" />
      <setting name="CipApiKey" value="78a0b86257cd437c8b94b6159e4d793c" />
    </settings>
  </sitecore>
</configuration>
