@using System.Web.UI.WebControls
@using Sitecore
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.SitecoreExtensions.RenderingExtensions

@model Sitecore.Mvc.Presentation.RenderingModel
<div class="section-borders @Model.Rendering.GetBackgroundClass()">
    @Html.Sitecore().DynamicPlaceholder("home section", Model.Rendering.GetUseStaticPlaceholderNames())
</div>