@using System.Web.UI.WebControls
@using Sitecore
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.SitecoreExtensions.RenderingExtensions

@model Sitecore.Mvc.Presentation.RenderingModel
<div class="news">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">
                @Html.Sitecore().DynamicPlaceholder("ideas-col-wide-1", Model.Rendering.GetUseStaticPlaceholderNames())
            </div>
            <div class="col-12 col-lg-5">
                @Html.Sitecore().DynamicPlaceholder("ideas-col-narrow-1", Model.Rendering.GetUseStaticPlaceholderNames())
            </div>
        </div>
    </div>
</div>
