
@using System.Web.UI.WebControls
@using Sitecore
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.SitecoreExtensions.RenderingExtensions

@model Sitecore.Mvc.Presentation.RenderingModel
    <div class="@Model.Rendering.GetBackgroundClass()">
        <div class="container">
            @Html.Sitecore().DynamicPlaceholder("ideas-content-section", Model.Rendering.GetUseStaticPlaceholderNames())
        </div>
    </div>
