<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <speak.logout argsType="Sitecore.Pipelines.Logout.LogoutArgs">
        <processor patch:after="*[@type='Sitecore.Pipelines.Logout.RemoveTicket, Sitecore.Kernel']" mode="on" type="Sitecore.Foundation.SitecoreExtensions.Pipelines.CustomLogout, Sitecore.Foundation.SitecoreExtensions" />
      </speak.logout>
    </pipelines>
    <processors>
      <logout argsType="Sitecore.Pipelines.Logout.LogoutArgs">
        <processor patch:before="*[@type='Sitecore.Pipelines.Logout.GotoLogin, Sitecore.Kernel']" mode="on" type="Sitecore.Foundation.SitecoreExtensions.Pipelines.CustomLogout, Sitecore.Foundation.SitecoreExtensions" />       
      </logout>
    </processors>
  </sitecore>
</configuration>
