<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
    <setting name="RequestErrors.UseServerSideRedirect" >
      <patch:attribute name="value" value="true" />
    </setting>
    </settings>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Foundation.FriendlyErrors.FriendlyErrorRedirect, Sitecore.Foundation.FriendlyErrors" resolve="true" patch:instead="*[@type='Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel']"/>
      </httpRequestBegin>
      <httpRequestEnd>
        <processor type="Sitecore.Foundation.FriendlyErrors.Set404StatusCode, Sitecore.Foundation.FriendlyErrors" patch:after="*[@type='Sitecore.Pipelines.HttpRequest.EndDiagnostics, Sitecore.Kernel']">
          <disallowedDatabases>core</disallowedDatabases>
          <disallowedSites>shell</disallowedSites>
        </processor>
      </httpRequestEnd>
    </pipelines>
  </sitecore>
</configuration>
