<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <search>
        <processor type="Sitecore.SharedSource.ItemUrlHelper.CustomSitecore.Pipelines.ItemResolverByUrl, Sitecore.Foundation.ItemUrlHelper" patch:after="processor[@type='type=Sitecore.Pipelines.Search.IDResolver, Sitecore.Kernel']" />
      </search>
    </pipelines>
  </sitecore>
</configuration>