.CoveoSearchbox .CoveoSearchButton {
    /*background: url(/images/white-search-icon.png);*/
    background-repeat: no-repeat;
    /*background-size: 25px 25px;*/
    /*background-color: #408530;
    background-position: center;*/
    color: #fff!important;
    border-radius: 0;
    background: #7b98ad;
    min-height: 48px;
    padding: 10px 20px 0 20px;    
}

.CoveoSearchbox .CoveoSearchButton {
    /*float: right;*/
    z-index: 2;
    position: relative;
    left:68%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.CoveoSearchButton {
    /*width: 40px;
    height: 42px;*/
}

.coveo-icon {
    display: inline-block;
    
}
.coveo-icon:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: " \f002";
}

.magic-box .magic-box-input .magic-box-underlay, .magic-box .magic-box-input>input {
    height: 40px;
}
.magic-box .magic-box-input .magic-box-underlay {
    color: transparent;
    overflow: hidden;
}
.magic-box .magic-box-input .magic-box-underlay, .magic-box .magic-box-input>input {
    color: #7b98ad;
    text-align: left;
    padding: 12px 12px;
    text-indent: 12px;
    font-family: arial,sans-serif;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 68%;
    height: 48px;
    white-space: pre;
    overflow: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    text-align:center;
}
.magic-box .magic-box-input .magic-box-underlay, .magic-box .magic-box-input>input:focus {
    outline: none !important;
    border-color: #7b98ad;
    box-shadow: 0 0 0 #7b98ad;
}
.CoveoOmnibox {
 width:100%;
}

.CoveoOmnibox input{
    height: 50px;
    border-color: #7b98ad;
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    border: 1px solid #7b98ad!important;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media screen and (min-width: 735px) {
    .CoveoSearchbox .CoveoSearchButton {
        left:83%;
    }
    .magic-box .magic-box-input .magic-box-underlay, .magic-box .magic-box-input>input {
        width:83%;
    }
}
