.navbar-nav li.active{
    border-bottom: 5px solid black;
}

.topbar-style-bar {
  padding: 11px 0px;
}

.topbar-style-bar .nav-item .nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0 25px;
}

.topbar {
  background: #dfe6ef;
}

.topbar .navbar {
  padding: 0;
}

.topbar .navbar-nav {
  margin-left: auto;
}

#topbar-mobile {
  display: none;
}

.topbar .navbar .hidden-lg-up:hover {
  color: #fff;
  background: none;
  cursor: pointer;
}

.topbar .navbar .navbar-nav .nav-link, .topbar .navbar .navbar-nav .search {
  padding: 12px;
  color: #247f78;
  font-weight: 500;
  font-size: 18px;
}

.topbar .navbar .navbar-nav .nav-item:hover .nav-link,
.topbar .navbar .navbar-nav .nav-item.active .nav-link {
  background-color: #cdd6df;
}

.topbar .navbar .navbar-nav .search .nav-link {
  background: rgba(0, 0, 0, 0.05);
  padding: 15px 23px;
}

.topbar .navbar .navbar-nav span {
  color: #247f78;
}

.topbar .navbar .navbar-nav .search .dropdown-menu {
  padding: 20px;
  width: 100%;
}

.search-bar {
  display: none;
}

.search-bar .form-control {
  height: 50px;
}

.search-top i {
  position: relative;
  color: #247f78;
}

.search-top.active {
  position: relative;
  padding: 5px;
  -webkit-transition: height .05s ease;
  -o-transition: height .05s ease;
  transition: height .05s ease;
}

.search-bar .form-control {
  border-radius: 0px;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
}

.search-bar .form-control::placeholder {
  text-align: center;
  color: #247f78;
}

.search-bar .form-control::-webkit-input-placeholder {
  text-align: center;
  color: #247f78;
}

.search-bar .form-control:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
  color: #247f78;
}

.search-bar .form-control::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
  color: #247f78;
}

.search-bar .form-control:-ms-input-placeholder {
  text-align: center;
  color: #247f78;
}

.navbar {
  position: inherit;
}

.navbar-wrapper {
  padding: 0px;
  width: 100%;
  position: -webkit-sticky;
  z-index: 2000;
  background: #ffffff;
}

.shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  border-top: 0;
}

@keyframes stickyanimation {
  from {
    top: -50px;
  }
  to {
    top: 0px;
  }
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  -moz-transform: translateY(8px);
  -o-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.show > .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
}

.navbar-nav .dropdown-menu.b-none {
  border: 0px;
}

.navbar-nav {
  font-weight: 400;
}

.collapsing {
  -webkit-transition: height .08s ease;
  -o-transition: height .08s ease;
  transition: height .08s ease;
}

/*megadrop transition*/

.main-navbar .nav-link {
 position: relative;
}

.main-navbar .nav-link:focus {
 outline: none;
}

.nav-active {
  border-bottom: 3px solid #4B9CC9;
}

a.nav-active {
  border-bottom: 3px solid #4B9CC9;
}

.main-navbar .navbar .nav-item, .main-navbar .navbar .nav-item h5 {
  margin: auto;
  color: #0f416b;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  font-size: 23px;
  font-weight: bold;
}

/* .main-navbar .navbar .nav-item h5:hover,
.main-navbar .navbar .nav-item h5:focus,
.main-navbar .navbar .nav-item h5:active,
.main-navbar .navbar .nav-item h5.active {
  border-bottom: 3px solid #0f416b;
} */

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler.collapsed:before,
.navbar-toggler.collapsed:before
{
  content: 'Menu';
  font-size: 17px;
  display: block;
  /* margin-top:6px; */
  padding-bottom: 7px;
  width: 50px;
  position: relative;
  right: 0px;
  color: #0f416b;
  font-family: 'PT Serif', serif;
}

.navbar-toggler:before,
.navbar-toggler:before
{
  content: 'Close';
  font-size: 17px;
  display: block;
  /* margin-top:6px; */
  padding-bottom: 7px;
  width: 50px;
  position: relative;
  right: 0px;
  color: #0f416b;
  font-family: 'PT Serif', serif;
}

.animated-collapse {
  width: 50px;
  height: 25px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-collapse span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-collapse span {
  background: #00457c;
}

.animated-collapse span:nth-child(1) {
  top: 3px;
  width: 50px;
}

.animated-collapse span:nth-child(2), .animated-collapse span:nth-child(3) {
  top: 11px;
  width: 50px;
}

.animated-collapse span:nth-child(4) {
  top: 19px;
  width: 50px;
}

.animated-collapse.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-collapse.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-collapse.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-collapse.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/*mega*/
.mega-dropdown {
  position: static;
  z-index: 2999;
}

.mega-dropdown .dropdown-menu.b-none {
  border-bottom: 10px solid #0f416b;
}

.mega-dropdown .dropdown-menu {
  width: 100%;
  padding: 20px;
  margin-top: 0px;
  overflow: hidden;
  border-radius: 0;
}

.mega-dropdown .dropdown-menu ul li {
  list-style: none;
  text-align: center;
}

.mega-dropdown .dropdown-menu ul li a {
  color: #247f78;
}

/* Menu Hover Css */
@media (min-width:992px) {
#main-nav li.nav-item.mega-dropdown,
#main-nav li.nav-item {
  padding: 44px 0px;
}

.dropdown-menu.b-none.bg-lightgray.show {
  margin-top: 0px;
}

.main-navbar {
  margin-top: 4px;
}

.mega-dropdown.show a.nav-link::after {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  content: " ";
  position: absolute;
  bottom: -78px;
  /*left: 80px;*/
  z-index: 3000;
  margin: 0 auto;
  left: 0;
  right: 0;
}

/* #main-nav {
  display: none;
} */
#stack-menu #mobile-nav,
#main-nav .stack-menu__link--back
 {
  display: none !important;
}
.main-navbar .navbar .nav-item {
  font-size: 23px;
}
.topbar-style-bar .nav-item .nav-link {
  margin-left: 50px;
}
}

@media (max-width:991px) {

.topbar-style-bar .nav-item .nav-link {
    padding: 15px 20px;
}

.mega-dropdown .dropdown-menu ul li a {
  color: #247f78;
}

.main-navbar .navbar .nav-item, .main-navbar .navbar .nav-item h5 {
  margin: 0;
  color: #0f416b;
  font-size: 16px;
  border-bottom: none;
}

.main-navbar .navbar .nav-item {
  color: #999999/*#0f416b*/;
  background-color:#dfe6ef;
}

.main-navbar .navbar .nav-item:hover{
  background-color:#cdd6df;
}

.mega-dropdown .dropdown-menu.b-none {
  border-bottom: none;
  position: inherit;
  top: auto;
}

.mega-dropdown .dropdown-menu.b-none ul {
  padding: 0px;
  margin: 0px;
}

.mega-dropdown.show .nav-link.current::after{
  display: none;
}

.mega-dropdown .dropdown-menu ul li {
  text-align: left;
  font-size: 14px;
  padding: 5px 0px;
}
/*Submenu style for Mobile and Tab version*/
.mega-dropdown .dropdown-menu ul li {
  padding: 12px 10px;
}

ul.navbar-nav.ml-auto li.nav-item.mega-dropdown.show div.dropdown-menu.b-none.bg-lightgray.show {
  padding:0px 0px;
}

#mobile-nav {
  background: #dfe6ef;
  margin-top: 30px;
}

#mobile-nav .title {
  font-weight: 600;
  color: #00457c;
}
.topbar-style-bar {
  padding: 35px 0px;
}
.navbar-brand img {
  width: 267px;
}


.stack-menu {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  right: 0px;
  width: 100%;
}

.stack-menu--active {
  display: block;
}

.stack-menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}

.stack-menu__list--active {
  display: block;
}

.stack-menu__item--hidden {
  display: none;
}

.stack-menu__link {
  font-family: 'PT Serif', serif;
  padding: 14px 20px;
  display: block;
  text-decoration: none;
  position: relative;
  color: #00457c;
  -webkit-transition: color .25s ease-in-out, background-color .25s ease-in-out, background-image .25s ease-in-out;
  -moz-transition: color .25s ease-in-out, background-color .25s ease-in-out, background-image .25s ease-in-out;
  transition: color .25s ease-in-out, background-color .25s ease-in-out, background-image .25s ease-in-out;
}

.stack-menu__link--back,
.stack-menu__link--parent {
  -webkit-background-size: 6px 12px;
  background-size: 6px 12px;
  background-repeat: no-repeat;
}

.stack-menu__link--parent {
  background-position: center right 20px;
  color: #00457c;
  /* background-image: url("data:image/svg+xml,%3Csvg width='6' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-rule='evenodd'%3E%3Cpath d='M.087 1.656L1.232.318l4.681 5.026-1.145 1.338z'/%3E%3Cpath d='M4.768 5.318l1.145 1.338-4.68 5.026-1.146-1.338z'/%3E%3C/g%3E%3C/svg%3E"); */
}

.stack-menu__link--back {
  background-position: center left 20px;
  color: #00457c;
  /* background-image: url("data:image/svg+xml,%3Csvg width='6' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-rule='evenodd'%3E%3Cpath d='M5.913 1.656L4.768.318.087 5.344l1.145 1.338z'/%3E%3Cpath d='M1.232 5.318L.087 6.656l4.68 5.026 1.146-1.338z'/%3E%3C/g%3E%3C/svg%3E"); */
}

.stack-menu__link--back:before {
  font-family: 'FontAwesome';
  content: "\f100";
  padding-right: 2px;
  color: #00457c;
}

.stack-menu__link--hidden {
  display: none;
}

.stack-menu__link:hover {
  color: #000 ;
  background-color: #cddcdf;
}

.stack-menu__link--parent:hover {
  /* background-image: url("data:image/svg+xml,%3Csvg width='6' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff' fill-rule='evenodd'%3E%3Cpath d='M.087 1.656L1.232.318l4.681 5.026-1.145 1.338z'/%3E%3Cpath d='M4.768 5.318l1.145 1.338-4.68 5.026-1.146-1.338z'/%3E%3C/g%3E%3C/svg%3E"); */
}

.stack-menu__link--back:hover {
  /* background-image: url("data:image/svg+xml,%3Csvg width='6' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff' fill-rule='evenodd'%3E%3Cpath d='M5.913 1.656L4.768.318.087 5.344l1.145 1.338z'/%3E%3Cpath d='M1.232 5.318L.087 6.656l4.68 5.026 1.146-1.338z'/%3E%3C/g%3E%3C/svg%3E"); */
}
.stack-menu__item .stack-menu__list--active .stack-menu__item .stack-menu__link{
  color: #247f78;
}
.stack-menu__item .stack-menu__list--active .stack-menu__item .stack-menu__link.stack-menu__link--back {
  color: #00457c;
}
#main-nav {
    display: none;
}
.navbar-brand.stack-menu__link {
  padding: 0px;
}
.navbar-brand.stack-menu__link:hover {
  background: transparent;
}
}

@media (max-width: 1023px) {
.navbar-wrapper {
  background: #ffffff;
}
}

@media(max-width: 767px){
  a.navbar-brand{
  display: block;
  /* width: 100%; */
  text-align: center;
  /* margin: 0 auto; */
}

.topbar .navbar .navbar-nav .nav-link {
  font-size: 16px;
}

.animated-collapse-button.navbar-toggler.collapsed, .animated-collapse-button.navbar-toggler{
  /* margin: 0px auto; */
  /* width: 75px; */
  padding-right: 0px;
}

.navbar-nav.ml-auto .nav-item:last-child {
border: none;
}

ul.topNav .nav-item {
  text-align: center;
  border-top: 1px solid #ffffff4a !important;
}

/*Main Navigation > Submenu style*/
.main-menu ul.navbar-nav.ml-auto {
  background-color: #EEF0F2;
  position: relative;
  padding-top: 20px;
}

.main-menu .navbar-nav.ml-auto .nav-item {
  text-align: center;
  border-bottom: 1px solid #fff;
}
.main-menu .navbar-nav.ml-auto .nav-item:last-child {
  border-bottom: none;
}

.main-menu ul.navbar-nav.ml-auto:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 20px solid #fff;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -2px;
}
}

@media (max-width:767px) {
  #topbar-mobile {
  text-align: center;
}

.pad {
  margin:0px 20px !important;
}

.topbar .navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

/* .navbar-brand img {
  width: 305px;
} */
}

@media screen and (max-width:430px) and (min-width:320px){
.search-bar .form-control {
  max-width: 163px;
}
.topbar .container {
  padding: 0px;
}
}
/* End  */
