@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Bulletin.ViewModels.MastHeadViewModel>

<!-- BEGIN NOINDEX -->
<header class="bulletin-masthead">

    <h1>
        <a href="@Model.BulletinHomePageUrl">
            <img src="/images/bulletin/bulletin-masthead.png" aria-hidden="true" alt="ACR Bulletin Logo">
            <span class="sr-only">ACR Bulletin</span>
        </a>
    </h1>

    <p class="sub-header">Covering topics relevant to the practice of radiology</p>
    <nav aria-label="Bulletin menu">
        <ul class="inline-ul topic-list-links">
            @foreach (var topic in Model.Topics)
            {
                string aclass = "";
                if (Model.CurrentTopic != null)
                {
                    aclass = topic.Topic.Id == Model.CurrentTopic.Id ? "active-page" : "";
                }
                <li class="@aclass"><a href="@topic.Url">@topic.Title</a></li>
            }
        </ul>
    </nav>
</header>
<!-- END NOINDEX -->