<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="webedit:openexperienceeditor" set:type="Sitecore.Support.Shell.Applications.WebEdit.Commands.OpenExperienceEditor, Sitecore.Support.111989"/>
      <command name="item:preview" set:type="Sitecore.Support.Shell.Framework.Commands.PreviewItem,Sitecore.Support.111989"/>
    </commands>
  </sitecore>
</configuration>