@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Advertisements.ViewModels.AdBarViewModel>
<!-- BEGIN NOINDEX -->
<div class="content section-spacing">
    <div class="row bg-light-grey footer-ads-area">
        @if (!Sitecore.Context.PageMode.IsExperienceEditor)
        {
            @Html.Raw(Model.HTML)           
        }
        else
        {
            <p>ads disabled in experience editor</p>
        }
    </div>
</div>
<!-- END NOINDEX -->