@using Glass.Mapper.Sc.Web.Mvc;
@using System.Collections.Specialized;
@using ACR.Foundation.Personify.Models.Products;
@using ACRHelix.Feature.MeetingsCalendar;
@using ACR.Foundation.Personify.Helpers;
@using ACRHelix.Feature.MeetingsCalendar.Util;

@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.MeetingsCalendar.ViewModels.RegistrationTableViewModel>

@using (BeginEditFrame(Model, "Registration Table for Products", x => x.Products))
{
    if (Model.Products.Any() || Sitecore.Context.PageMode.IsExperienceEditor)
    {
<div data-tab-id="registration" class="section-spacing">
    <section class="content">
        @*<header>
            <h2>Registration</h2>
            <hr>
        </header>*@
        <div class="indented-section">
            @if (Model.Products.Any())
            {
            <div class="has-acr-table">
                <table>
                    <thead>
                        <tr>
                            <th><h3>Location</h3></th>
                            <th><h3>Date</h3></th>
                            <th><h3>Registration</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Products)
                        {
                            <tr>
                                <td>@((string.IsNullOrWhiteSpace(product.MeetingCity) ? "" : (product.MeetingCity + ", ")) + product.MeetingState)</td>
                                <td>@DateUtil.GetFormattedDate(product)</td>
                                <td>
                                    @if (product.MeetingLastRegistrationDate >= DateTime.Now.Date)
                                    {
                                        <a target="_blank" href="@product.GetProductPersonifyUrl()" class="read-more-link no-target-icon">Register</a>
                                    }                                    
                                </td> 
                            </tr>                                                
                        }                        
                    </tbody>
                </table>
            </div>
            }
            else
            {
                if (Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    @:No products assigned to course, dates cannot be displayed.
                }
            }
        </div>
    </section>   
</div>
        }
    }