<appSettings>
<add key="ImageWisely_CheckDuplicatePledges" value="true"/>
<add key="WebServicesSecurityKey" value="46iwa67zig928t" />
  <add key="Acr.GoogleAnalytics.Account" value="UA-6363462-9"/>
  <add key="Acr.GoogleTagManager.Account" value="GTM-N8R8RV"/>
  <add key="Airp.GoogleAnalytics.Account" value="UA-6363462-6"/>
</appSettings>