<?xml version="1.0"?>
<ItemReference>
	<!-- Top-Level -->
	<add key="Home" value="{110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9}" />
	<add key="ErrorPage" value="{4E34C790-C047-40F8-B229-740E0388E0D0}"/>

	<!-- AIRP -->
	<add key="Airp" value="{C2B1B6C4-1275-4B6D-874B-E47255401A95}" />
	<add key="Airp.GlobalSettings" value="{3FB28392-8B57-438F-8CE6-C964FD83D0B8}" />
	<add key="Airp.GlobalSettings.TopNavigation" value="{A34D464B-D002-4925-A573-608AE7F3BEA8}" />
	<add key="Airp.GlobalSettings.LeftNavigation" value="{0E27FE53-8017-4BF3-B38D-2F14A6AB8767}" />
	<add key="Airp.GlobalSettings.FooterNavigation" value="{EDE20FB6-60F3-495F-9005-56585F8B81A3}" />

	<!-- Radpac -->
	<add key="Radpac" value="{94E0E6DF-4BA7-45C6-8BBA-4720B3A05A62}" />
	<add key="Radpac.ImagingProfessionals" value="{D2E321F8-5F96-4486-8F51-57FD48B225DC}" />
	<add key="Radpac.AboutUs.ParticipatingOrganizations" value="{44B7B0F6-A382-4C62-86EE-015BDB74D44C}"/>
	<add key="Radpac.AboutUs.KeyContributors" value="{C633AD21-C6F4-4911-BF4D-356D263271AC}"/>
	<add key="Radpac.Global.HomePageAds" value="{866BD3BD-90F3-4C54-94CA-4CD477EE8B18}"/>
	<add key="Radpac.Global.SiteConfigurationSettings" value="{C2DB85E9-0235-4166-BDE4-1EBE6AF5A514}"/>
	<add key="Radpac.Global.SocialMediaLinks" value="{90F44466-9327-4081-BA52-2D14DFE2F974}"/>
	<add key="Radpac.Login" value="{E6763203-E3DC-44CD-9871-7C71F57A17EC}"/>
	
	<!-- RLI-->
	<add key="RLI" value="{8F4F9144-4F48-4BBB-9187-86A1905D37A3}"/>
	<add key="RLI.Search" value="{7DC2A396-3A47-4ABF-BABD-3C39F8C83F64}" />
	<add key="RLI.Settings" value="{D2B64A57-8274-4E74-B0F5-57D276D9ABE2}" />
	<add key="RLI.EventTypes" value="{CC6921CD-88B9-435F-B646-663292A825CC}" />
	<add key="RLI.EventTags" value="{E70CDDED-C22F-4C87-B12B-F9D26D0E17BD}" />
	<add key="RLI.Widgets.Header.BannerAd" value="{51B9E1BB-A8A8-4E9F-AF37-DAAC94DF131B}" />

	<!-- ImageWisely -->
	<add key="ImageWisely" value="{1743BBA0-B1C7-4F7F-B044-7B50C1F128F3}" />
	<add key="IW.HomepageRotatingCarouselFolder" value="{5B2B2769-82C1-45B9-BDDC-0EBD6BCE8910}" />
	<add key="IW.ImagingProfessionals.Landing" value="{4E7E16C2-9A7D-4E97-817F-A083F8398AE4}" />
	<add key="IW.ImagingProfessionals.ImagingPhysicians" value="{1941BDB3-2F44-4862-B1CA-1E4DE66CA342}" />
	<add key="IW.ImagingProfessionals.ImagingTechnologists" value="{87D6EB63-9E6A-48CA-96EF-EC5B71BFDFEC}" />
	<add key="IW.ImagingProfessionals.MedicalPhysicists" value="{8127DB01-7392-4A48-BD7C-CD1F75633CB3}" />
	<add key="IW.ImagingProfessionals.NuclearMedicine" value="{169C3A66-557A-40EE-853F-F9702DAB2CAC}" />
	<add key="IW.LogoFolder" value="{FE7758DD-4614-4D47-AA85-A3C468203777}" />
	<add key="IW.ReferringPracticioners" value="{7A54127D-BFFD-4FEF-8EE8-0D610A98BE5F}" />
	<add key="IW.Patients" value="{BEC6BB9D-FB5A-40E5-8BD6-9A7F602E6B22}" />
	<add key="IW.EquipmentResources.Landing" value="{0F209ACA-B24D-4A9C-9936-D9BCCF5692BE}" />
	<add key="IW.EquipmentResources.Vendors" value="{F5799FA0-4B64-4259-83DA-7FCD8A087433}"/>
	<add key="IW.AboutUs.Landing" value="{62972F8F-88C0-4F86-A433-BBEF59F494E4}" />
	<add key="IW.AboutUs.ParticipatingOrganizations" value="{BA572596-01BA-48C2-8559-0F848915B044}"/>
	<add key="IW.AboutUs.ExecutiveCommitteeMembers" value="{60C0282F-B8F8-41E0-8F8D-9F609EBABC53}"/>
	<add key="IW.AboutUs.KeyContributors" value="{D9EC7219-B205-42C2-8816-401542D142D1}"/>
	<add key="IW.AboutUs.TaskForce" value="{BB435587-F844-4A28-BAFD-4B50083362C2}"/>
	<add key="IW.Pledge.Landing" value="{580E5D72-FDA3-4527-B85B-8609BB563632}" />
	<add key="IW.Pledge.HonorRoll" value="{7B3F163F-0AF3-4EF9-9989-9DFBDA478353}" />
	<add key="IW.Pledge.ImagingProfsForm" value="{F18770C4-0873-4385-8394-7D97F6E2017C}" />
	<add key="IW.Pledge.ImagingProfsPledgesMade" value="{78F1E68B-A5CD-4D4D-9E8F-54572B7B9416}"/>
	<add key="IW.Pledge.ReferringProviderForm" value="{3278DBBE-C41A-4B81-A7AD-42F10A93C656}" />
	<add key="IW.Pledge.ReferringProviderPledgesMade" value="{AB69B5AA-2C9A-4470-8831-F57BCF045466}"/>
	<add key="IW.Pledge.AssociationForm" value="{572CC02B-11D7-4DF4-AFA6-289A4E62FDD0}" />
	<add key="IW.Pledge.AssociationPledgesMade" value="{78F1E68B-A5CD-4D4D-9E8F-54572B7B9416}"/>
	<add key="IW.Pledge.FacilityForm" value="{0DDCC1A9-84B8-4DAF-905E-6B6E322EF4D6}" />
	<add key="IW.Pledge.FacilityPledgesMade" value="{89B1E5D9-4F03-462B-9039-B86CE97B9645}"/>
	<add key="IW.Pledge.ThankYou" value="{4C75929A-72C1-49B3-8A49-640AB983D6D5}"/>
	<add key="IW.Pledge.RolesFolder" value="{EB631551-B4CC-4A0D-A9BA-9D478D599CF2}"/>
	<add key="IW.ContactUs" value="{F6CB9CDA-3EC3-4AD1-850A-B90402E8C5C2}" />
	<add key="IW.MediaRoom" value="{C2AFE339-CB38-48CE-B534-92DF635B395B}"/>
	
	<!-- ImageWisely Global Configuration -->
	<add key="IW.Global.SiteConfigurationSettings" value="{7AFD4E8C-9D75-44EA-9694-A727FC88E40F}"/>
	<add key="IW.Global.PatientImagingHistoryCard" value="{FD8C70BB-E545-4AD4-AD67-D43C12E9416C}"/>
	<add key="IW.Global.HomePageAds" value="{1FC96123-D30C-42AC-9850-0F05C09A893B}"/>
	<add key="IW.Global.SocialMediaLinks" value="{2284164D-8398-46E1-99AD-6053CA2B0047}"/>
	<add key="IW.Global.PledgeFormType.Association" value="{F887836E-E923-49BF-9618-007713F89484}"/>
	<add key="IW.Global.PledgeFormType.Facility" value="{E57F4793-004E-4928-9125-5C1F3CB385DB}"/>
	<add key="IW.Global.PledgeFormType.ImagingProfessional" value="{7AF534B2-6A61-4DB5-AEDB-B42C571F7A67}"/>
	<add key="IW.Global.PledgeFormType.ReferringProvider" value="{0406A90D-1D1C-4E54-989E-A75B77B19993}"/>

	<!-- ACR.org -->
	<add key="ACR.Home" value="{204C95B2-F1BE-4136-9CCD-887C00C652AA}" />
	<add key="ACR.Global.Footer" value="{299351FC-94AF-4653-B6E7-368B364C2A59}" />
	<add key="ACR.Global.Header" value="{851D66F8-DCE0-4561-BDC4-EA22BFE57550}" />
	<add key="ACR.Global.Enumerations.StaffMemberTypes" value="{0B78C08E-5F8D-4F4C-9B2B-6E79100C1190}" />
	<add key="ACR.Global.Enumerations.CPICategories" value="{2A3A871C-D1C2-4E25-B3EE-54EDE06FECF4}" />
	<add key="ACR.Global.Enumerations.CPISpliceCategories" value="{8E4F090A-7CB3-4162-B823-66B0B6A04FBC}" />
	<add key="ACR.Global.ParentRedirectPage" value="{D5957A7D-B7D4-411A-92B8-776864CEFA00}" />
	
	<add key="ACR.FeaturedContentCarosel" value="{1488235F-C1A5-4BA6-B71A-F126F3DEBD44}" />
	<add key="ACR.FeaturedContentManualCarousel" value="{9833341F-49B8-47E2-9323-77C478FDDE6F}" />
	<add key="ACR.FeaturedContentLinkFolder" value="{56124E47-E32E-48B8-AC80-0635791F1920}" />
	
	<add key="ACR.AboutUs" value ="{813DB8E3-1DDE-48B0-AD15-CFEE7FD83981}" />
	<add key="ACR.AboutUs.ContactUs.ReportABug" value ="{171D49C1-4A1E-4878-8639-2178DAC4EA8D}" />
	<add key="ACR.AboutUs.ACRFoundation" value ="{A584DDE9-CAA9-4049-8AF7-8889D527435B}" />
	<add key="ACR.QualitySafety" value="{1E740F2E-2DF6-499D-941F-A2BD603D56F7}" />
	<add key="ACR.FacilitySearch" value="{0851F7D6-AC25-466B-A906-D50294EF0226}" />
	<add key="ACR.Education" value="{062E029E-A817-4ED5-9198-0CAD7102449B}" />
	<add key="ACR.Education.FacultyList" value="{49B139D2-443A-4ED9-8D0A-74C11A2F1DFE}" />
	<add key="ACR.Education.CpiExpertsList" value="{07D32806-15F7-4B47-8C1D-F07BA7E272C3}" />
	<add key="ACR.Education.CpiSpliceExpertsList" value="{04FFDA76-E878-4971-AC68-4664BDEEDD3E}" />
	<add key="ACR.Advocacy" value="{235C82C3-26DA-43ED-BA48-27D51E7D520E}" />
	<add key="ACR.Membership" value="{5CD9A8EC-5614-40A2-9FA6-13FE75C51FE5}" />
	<add key="ACR.Membership.BecomeAMember" value="{FB15CF9E-1BB3-4A2C-AE69-9EFF4E69D82A}" />
	<add key="ACR.ClinicalResearch" value="{F82EF7B8-D8D7-4263-81FA-5E11A3CB8F03}" />
	<add key="ACR.MeetingsEvents" value="{24B07DD8-41E4-4788-9106-1BA54E776B71}" />
	<add key="ACR.NewsPublications" value="{30C06A68-B019-45D4-985A-1C8919674526}" />
	<add key="ACR.NewsPublications.News" value="{02694A28-801C-48F8-B63B-228717A08751}" />
	<add key="ACR.NewsPublications.NewsArticleTypeLocation" value="{F46A71E3-E1FF-4B2F-96AE-F6833FAAED73}" />
	<add key="ACR.NewsPublications.NewsArticleType.Advocacy" value="{F578EA8E-78FB-408D-A1DE-4E8C2795F688}" />
	<add key="ACR.NewsPublications.NewsArticleType.QualityCare" value="{5DCD2F59-55FC-41F1-8FA0-6519DB992DCF}" />
	<add key="ACR.NewsPublications.News.QualityCare" value="{660B5AC7-73A6-48DD-BCE2-B97272A97192}" />
	<add key="ACR.Login" value="{00CD796B-DE38-475B-B67E-5D8BC94518AF}" />
	<add key="ACR.Login.Help" value="{60C0F96E-73E5-4567-A747-BB8B1F65D255}" />

	<add key="ACR.MeetingsAndEventsCalendar" value="{CDDE9B4C-F813-4E0F-B3B0-8430964AF906}" />
	<add key="ACR.EducationCalendar" value="{908EDF15-4665-4086-A5FD-07F78E5CAD6D}" />
	<add key="ACR.EducationCatalogLanding" value="{58F7CBF1-1099-4E16-AE05-74A1937075E3}" />
	<add key="ACR.EducationCatalogSearch" value="{0B5A6F50-44A3-4627-B8AD-F912E47D8A96}" />
	
	<add key="ACR.EducationCenter.Products" value="{DC000BCE-7C35-4B71-9D26-F36B33360215}" />
	<add key="ACR.ProductStubs" value="{6F6A6802-D1E6-44DD-83C4-A0020D5BE764}" />
	<add key="ACR.ProductArea.MTG" value="{FA2F225A-57AC-4DD0-AEC9-3A74FBA40604}" />
	<add key="ACR.ProductClass.MTG.AIRP" value="{D3118747-AF02-496C-81E6-25AB5E38A813}" />
	<add key="ACR.ProductClass.MTG.RLI" value="{59FDE35B-349B-4FAF-814D-5F300BF060DD}" />

	<add key="ACR.Membership.Chapters" value="{FD7C175B-E27A-47BF-A2FC-8F2088BDD639}" />
	
	<add key="ACR.MeetingType.ACR" value="{713C4A4F-80F2-4802-93AC-52735D1FD802}" />
	<add key="ACR.MeetingType.AIRP" value="{F32C9305-A920-4DB6-8E73-941846B76841}" />
	<add key="ACR.MeetingType.EducationCenter" value="{C6211D67-22C4-4810-B43E-B0F27EB17E15}" />
	<add key="ACR.MeetingType.RLI" value="{F9415D71-1FA6-4ABC-83F2-CC6AEA748E67}" />

	<add key="ACR.Error.404" value="{88BAA59B-8B91-4208-B691-7F6C15808568}" />
	<add key="ACR.Error.401" value="{621B5017-76A6-4554-A96A-FE2AE07250B3}" />
	<add key="ACR.Error.500" value="{6AC604FF-1775-4440-A30C-C25FD1D147C6}" />

	<add key="ACR.Search.General" value="{2F94DE92-1E6A-44E4-A147-5F1D08D2AE26}" />

	<add key="ACR.FAQListing" value="{0CF0BCF3-DBB9-46DF-97AD-492DFEB94B99}" />
	<add key="ACR.Media.PDFIcon" value="{0C8B2F72-BBF8-4027-B746-6C6539808187}" />
	<add key="ACR.Media.MediaRoot" value="{81F027B4-7DB0-4170-8874-2EDBEB5190BA}" />

	<!-- ACR banners -->
	<add key="ACR.Widgets.Header.BannerAd" value="{D5B22BB9-E75D-4B19-BC4E-26C9752640AC}" />
	<add key="ACR.Widgets.RightRail.BannerAd" value="{677C761F-8BE9-4860-9856-9BF03FC94638}" />
	<add key="ACR.Widgets.RightRail.Sales.Advertisements" value="{FCA7267D-86C1-493B-9332-5967A5FEF6E4}" />

	<!-- ACR.org taxonomy -->
	<add key="ACR.Taxonomy" value="{6D3C755C-B479-4BE7-946B-478F155BC637}" />
	<add key="ACR.Taxonomy.ABRCodesRoot" value="{29054777-C4CB-4777-996B-C49C4D0119DE}" />
	<add key="ACR.Taxonomy.DeliveryMethodsRoot" value="{0FE4A712-0A70-4C77-8DA5-56C05F39090C}" />
	<add key="ACR.Taxonomy.InterestsRoot" value="{9E754C9D-9462-401B-AF54-15C461EDD99A}" />
	<add key="ACR.Taxonomy.ModalitiesRoot" value="{A97D8225-EEF8-4C41-ADB8-190FB2058392}" />
	<add key="ACR.Taxonomy.ProductAreasRoot" value="{EEE414CD-DA31-43CC-AA19-E33DB691C138}" />
	<add key="ACR.Taxonomy.ProductClassRoot" value="{5199A649-3894-46FE-8AF7-1ADC4BBAE276}" />
	<add key="ACR.Taxonomy.ProductTypesRoot" value="{111FBF6D-3622-4C55-B71B-23F9496D549A}" />
	<add key="ACR.Taxonomy.ProductTypes.Meeting" value="{091A2157-8150-44EB-BC31-DD030DEB2777}" />
	<add key="ACR.Taxonomy.SubspecialtiesRoot" value="{8428CBFC-8B4D-4B2B-9415-3CC90067A6FC}" />
	<add key="ACR.Taxonomy.TopicsRoot" value="{4DE397EF-6D59-442C-A37A-F2067CB8518E}" />
	<add key="ACR.Taxonomy.RolesRoot" value="{161E7722-6CC6-4D74-A102-999B3839A6E9}" />
	<add key="ACR.Taxonomy.CreditTypesRoot" value="{E3599077-431D-43EE-89EF-87A435D4D227}" />

	<!-- Mammography Saves Lives -->
	<add key="MSL.AnnualRemindersFolder" value="{2D635DC1-0005-49B7-AA42-C169A3A8EEE0}"/>
	<add key="MSL.FacilitySearch" value="{BBD7AB69-F5B9-4F37-825A-703C5DD5F4AC}" />

	<!-- Site Settings -->
	<add key="ACR.Settings.BrightcoveSettings" value="{4A8071F0-D350-4A2B-9AA7-10140078BBEB}" />
	<add key="ACR.Settings.AddThisSettings" value="{9516CCA7-A643-4428-8CC0-F67524C70A41}" />
	<add key="ACR.Settings.CoveoMediaAssociations" value="{2D6221E7-9F5A-4487-B37F-823C768B2883}" />

	<!-- Devices -->
	<add key="Devices.Default" value="{FE5D7FDF-89C0-4D99-9AA3-B5FBD009C9F3}" />
	<add key="Devices.Print" value="{46D2F427-4CE5-4E1F-BA10-EF3636F43534}" />

	<!-- Templates -->
	<add key="Templates.AcrCommon" value="{FA81CA1B-3020-4A82-B961-26F5805078BB}" />
	<add key="Templates.Widget.Location" value="{4F402508-7339-4781-952F-B3E64F80D71C}" />

</ItemReference>