@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ACRHelix.Feature.Tabs.ViewModels.RliTabsViewModel>
@using Sitecore.Foundation.SitecoreExtensions.Extensions

<div class="rli-tabs section-spacing-bottom">
    <div class="content text-center">
        <div class="inline-ul tabs-rotating tabs" role="menubar">
                @if (Model.Tabs.Count() > 0)
                {
                    <ul>
                        @foreach (var tab in Model.Tabs)
                        {
                            <li class="">
                                <a href="@tab.TabURL">
                                    <span>@tab.TabName</span>
                                </a>
                            </li>
                        }
                    </ul>
                }                    
        </div>
    </div>        
</div>