<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <settings>
      <setting name="Sitecore.Services.SecurityPolicy" xdt:Locator="Match(name)" xdt:Transform="Remove">
        <patch:attribute name="value" value="Sitecore.Services.Infrastructure.Web.Http.Security.ServicesOnPolicy, Sitecore.Services.Infrastructure" />
      </setting>

      <setting name="Sitecore.Services.Token.Authorization.Enabled" xdt:Locator="Match(name)" xdt:Transform="Remove">
        <patch:attribute name="value" value="true" />
      </setting>

      <setting name="Sitecore.Services.AllowAnonymousUser" xdt:Locator="Match(name)" xdt:Transform="Remove">
        <patch:attribute name="value" value="true" />
      </setting>

      <setting name="cm_site_url" value="https://auth.acr.org" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing"/>
      <setting name="item.webapi" value="/-/item/v1" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
      <setting name="client.service" value="/sitecore/api/ssc" xdt:Locator="Match(name)" xdt:Transform="Replace" />
    </settings>
    <api xdt:Transform="RemoveAll"/>
  </sitecore>
</configuration>