<?xml version="1.0"?>
<configuration>
  <sitecore>
    <pipelines>
      <initializeContainer>
        <!--<ItemReference>
            <add key="ImageFolderId" value="{323805CC-FFE6-448E-A27D-43EAD84E4967}" />
          <add key="ImageFolderPath" value="/ACR/Images/MembershipTesimonials/"/>
        </ItemReference>-->
      </initializeContainer>
    </pipelines>
  </sitecore>
  
</configuration>
